%table{:style => 'width:100%;max-width:600px;margin:auto;text-align:center;min-height:20px;' + "#{@message.header_background_color_css_val rescue ('background-color:' + Shop::DEFAULT_HEADER_BACKGROUND_COLOR)}"}
  %tr
    %td
      %div{:style => "margin:0 auto;display:block;"}
        /#20A8DD for background - try it #0C9FD8
        %table{:style => 'width:100%;' + "#{@message.header_background_color_css_val rescue Shop::DEFAULT_HEADER_BACKGROUND_COLOR}"}
          %tr{:style => "width: 100%;"}
            %td{:style => "max-height:40px;text-align:center;padding:10px 0;"}
              - if @shop_logo
                - shop_logo_content = email_body_shop_logo(@shop)
                = message_header_process_urls(shop_logo_content, @message, @receiver)
              - else
                = image_tag "#{SiteConfig.email_app_base_url}/assets/email_logo_white.png", style: 'margin:5px;max-width:550px;'
