- if @receiver.present? || @preview
  - if @message.type == "CouponMessage" and ((@receiver.offer_relevant.nil? rescue false) || @preview)
    %p{:style => "font-size: 11px;margin:0px;color: #666;"}
      = "Was this offer relevant to you?"

      - link_options = {style: 'color:#64aaef;background: #fff;padding:5px;'}
      - link_options.merge!({onclick: 'alert("Not Available")'}) if @preview
      - query_params = {:offer_relevant => true, :message_user_id => @receiver.uuid, :id => @message.uuid}

      - relevance_yes_link = @receiver.present? ? "#{SiteConfig.email_app_base_url}#{SiteConfig.simple_delivery.offer_relevant}?#{query_params.to_query}"  : "javascript:void(0)"
      
      = link_to('Yes', relevance_yes_link, link_options)

      - query_params[:offer_relevant] = false

      - relevance_no_link = @receiver.present? ? "#{SiteConfig.email_app_base_url}#{SiteConfig.simple_delivery.offer_relevant}?#{query_params.to_query}"  : "javascript:void(0)"

      = link_to('No', relevance_no_link, link_options)