= display_title "About Optyn - Meet the team of email marketing experts."
= display_meta_description "We are passionate about helping small businesses succeed through our email marketing platform. Knowing the struggles small business owners, we designed this tool to help small business owners.", "alen, alen malkoc, lou, lou morales, helping small businesses, gaurav, gaurav gaglani, amer, amer grozdanic, optyn team, optyn, email marketing expert"
.row-fluid
  .span12
    %h1
      About Us
    %p.intro_text
      We love small businesses! We enjoy helping them succeed and grow. That is our mission and our mantra.
    %p.intro_text
      We have been helping small businesses grow their businesses throughout the past 10 years. We’re now taking that expertise and helping merchants attract and retain customerss through Optyn. We are passionate and serious about building the easiest email marketing product for busy small business owners. We are a team of email marketing experts that will put you on the path to success. 
/ About Us Page
.row-fluid
  .span12
    %h1 Meet the Email Marketing Experts - Our Team
#about.about_page.row-fluid
  .span4.teammate
    .team_member
      = image_tag 'am.png', :class => 'img-circle', :align => 'left', :alt => 'Alen Malkoc', :title => 'Alen Malkoc'
      .team_name
        %h5 Alen Malkoc
        %h6 Co-Founder / CEO
    %hr/
    %p.description
      Alen lives and breathes small business marketing and he is a true email marketing expert. Prior to Optyn, Alen built and sold Dealster, Chitown Deals, and other smaller businesses such as Dana Cafe and the Chicago Street Cup. He's an avid chess player, an All-American, and a 2x National Champion in Soccer. 
    %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/alenmalkoc", :target => "_blank", :rel => "nofollow"} Follow @alenmalkoc
  .span4.teammate
    .team_member
      = image_tag 'lm.png', :class => 'img-circle', :align => 'left', :alt => 'Lou Morales', :title => 'Lou Morales'
      .team_name
        %h5 Lou Morales
        %h6 Co-Founder / COO
    %hr/
    %p.description
      Lou Morales started and ran businesses for GE, First Data, and other Fortune 500 companies. In fact, every time you use that debit card in your wallet, it is most likely processed by the First Data business unit Lou helped start. Lou also co-founded and exited Dealster with Alen.
    %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/thelouismorales", :target => "_blank", :rel => "nofollow"} Follow @thelouismorales
  .span4.teammate
    .team_member
      = image_tag 'gg.png', :class => 'img-circle', :align => 'left', :alt => 'Gaurav Gaglani', :title => 'Gaurav Gaglani'
      .team_name
        %h5 Gaurav Gaglani
        %h6 Co-Founder / CTO
    %hr/
    %p.description
      Gaurav is an experienced Ruby on Rails developer. He earned his Masters in Software Engineering from DePaul University in Chicago. He has experience building scalable products. He co-founded Idyllic Software and built and managed a team of 30 developers.
    %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/gauravgaglani", :target => "_blank", :rel => "nofollow"} Follow @gauravgaglani

:javascript
  $( document ).ready( equalizeDivHeights( '.teammate' ));
