= display_title "Specials and Sales Promotions for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s CONTESTS
    %h2 Create buzz with Contests, Sweepstakes, and Giveaways.
    = image_tag( 'contests.jpg', alt: 'contest marketing', class: 'pull-right img-polaroid' )
    %p 
      There are a few great ways to energize your customer base, create buzz through social media and it starts with running a contest or sweepstakes with Optyn’s marketing software.
    %p
      With Optyn, you are able to create wonderful marketing promotions that focus on buzz and virality allowing you to grow your customers and reap the benefits of the digital word of mouth - sharing. We’ll even give you ideas on what type of contests to run.
    %p
      Optyn marketing promotions software lets you easily:
      %ul.bullet-disc
        %li Create contests in 2 minutes or less.
        %li Engage your audience via email, social media, and in-store.
        %li Create Viral Campaigns that grow your social media followings
        %li Get New customers that are being attracted to your business by existing customers.
        %li Grow your Reachable Audience with “opt-in to participate” features.
        %li Make it fun and exciting for your customers. 
    %p
      It’s easy. It’s simple. And it’s free. Contests are part of Optyn’s offering and don’t cost anything extra. So get started for free today and start sprucing up your customer’s newsfeed with some fun contests.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space