= display_title "Coupons for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 COUPONS 
    %h2 Engage, Reward, Incentivize your customers all with Coupon Campaigns.
    .blank-space
    = image_tag( 'http://placehold.it/300x200', alt: 'email marketing', class: 'pull-right' )
    %p 
      Coupons are a great way to engage your customers and get them into the door. Companies like Gap, Banana Republic, Bonobos, and others live by coupons, specials, and sales.
    %p
      Optyn’s E-Mail marketing platform is optimized to create coupons and reward your customers with something they all love - a great deal. Optyn’s marketing platform allows you to create an optimized coupon campaign in less than 2 minutes and then send it to your customers via email, social media, and other marketing channels.
    %p
      Optyn helps you create and send coupons and give you the following benefits:
      %ul
        %li Track how many people redeem your coupons. 
        %li Give them a QR code for easy redemption.
        %li All Coupon templates are mobile optimized and there will be no issues with smartphones.
        %li Easily share your coupon campaigns via Facebook and Twitter.
        %li We help you syndicate your coupons to sites like Google Offers, Yelp, Coupon Cabin, and 8 coupons. This allows you to get new customers to try your business and win them over. 
        %li New customers from syndication must be able to opt-in first so you can grow your customer list much quicker.
        %li Create coupon campaigns for different types of customer segments. 
    %p
      Whether you want to reward existing customers or entice new potential prospects to give your business a try, Optyn’s email marketing  and coupon campaign software is perfect to grow your business. Give Optyn and your new customers a try.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space