= display_title "Customer Retention for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s CUSTOMER RETENTION
    %h2 Retain your Customers and keep them engaged.
    = image_tag( 'customer-retention.jpg', alt: 'customer retention', class: 'pull-right img-polaroid' )
    %p 
      Customer Retention for Small businesses is as important as ever. The cost to acquire a new customer is 7 times higher than retaining an existing customer. You are competing against the Starbucks, the big-chain stores who have armies of marketers trying to grow their business and steal your customers. But you have Optyn’s Customer retention platform in your arsenal.
    %p
      With Optyn, you can now make sure you:
      %ul.bullet-disc
        %li Increase overall Customer Engagement
        %li Increase and Grow Customer Retention
        %li Identify best ways to reward and engage your customers
    %p
      Don’t forget about your customers. Optyn lets you easily engage them via email marketing, social media and other web channels and we give you the opportunity to retain your customers at a very low cost. Sign up today and start engaging your customers and keep them coming back through your door.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space