= display_title "E-Mail Deliverability"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 EMAIL DELIVERABILITY
    %h2 We use the same partners and best practices to ensure constant up-time and email deliverability!
    .blank-space
    = image_tag( 'http://placehold.it/300x200', alt: 'marketing automation', class: 'pull-right' )
    %p 
      Optyn’s email deliverability is supported by one the largest hosting and email providers - Amazon. Optyn utilizes Amazon’s worldwide infrastructure network to make sure that your content including emails is being delivered with superior uptime and ISP deliverability.
    %p
      Optyn’s email deliverability is optimized for small businesses who send 100 emails per campaign and for larger businesses who send 100,000+ emails per campaign. So whatever your size, we’ve got you covered.

    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
