= display_title "Email Blast Software"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s EMAIL BLAST SOFTWARE
    %h2 Enjoy the benefits of Optyn's Email Blast Software.
    = image_tag( 'email-blast-software.jpg', alt: 'email blast software', class: 'pull-right img-polaroid' )
    %p 
      Optyn offer email blast software that is reliable and fast. We offer you the ability to try it out with 100 of your customers before you buy it. Our e blast software allows you to quickly and easily get up and running and engage your audience in minutes. 
    %p
      We offer you the ability to become a better, more effective marketer by giving you the right tools to engage your customers.
    %p
      Our blast email software is just right for you. Here's why you should give us a try:
      %ul.bullet-disc
        %li Setting up is easy and takes less than 1 minute.
        %li Create email blasts in 2 minutes or less.
        %li Customize our email blaster software based on your needs. Our email blasting software lets you easily customize it so that you can take advantage based on your business needs and objectives.
    %p
      We want to earn your business. That's why we let you create an account free of charge and start using our email blast software for free. It's free forever for the first 100 customers so you have nothing to lose. Sign up today and get your message out to your potential customers.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
