= display_title "E-Mail Marketing for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s EMAIL MARKETING
    %h2 Create Email Marketing Campaigns in 2 Minutes or Less!
    = image_tag( 'email-marketing.jpg', alt: 'email marketing', class: 'pull-right img-thumbnail' )
    %p 
      We know the hard aches of running a business. We know marketing is hard and email marketing nearly impossible to figure out. Current solutions just don’t cut it for busy small business owners who just don’t have time or money to deal with them. In fact, the reasons why small businesses abandon existing solutions is because they aren’t built for them.
    %p
      Over the past two years, the Optyn team has been focusing on building the next evolutionary product when it comes to email marketing that helps small business take advantage of the email marketing benefits. Our email marketing software platform is fast, simple, and easy to use. 
    %p
      In fact, we pride ourselves to be the easiest marketing product for small businesses. The other great benefit is that it is more than just email marketing. Our product takes advantage of email marketing but it integrates other multi channels like social media to give merchants and small businesses an easy way to reach their customers.
    %p
      Optyn’s 
      %strong E-Mail Marketing software
      lets you:
      %ul.bullet-disc
        %li Create Marketing Campaigns & Promotions in 2 minutes or less.
        %li Easily capture customer emails and useful data for marketing purposes.
        %li Engage your audience via email and social networks like Facebook and Twitter. 
        %li We expand your reach for every campaign by reaching a bigger audience.
        %li 
          Built-In Automation with Suggested Subject Lines, 
          %a{:href => "#", :alt => "Mobile Responsive E-Mail Design"}
            Mobile Responsive E-Mails
          and more.

    %p
      Optyn is free to start and try. We even give you a free email marketing account for life. Try it today and start engaging your customers today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space