= display_title "Free Email Marketing Software"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s FREE EMAIL MARKETING SOFTWARE
    %h2 Try our free email marketing software that is always free to start.
    = image_tag( 'email-marketing.jpg', alt: 'free email marketing', class: 'pull-right img-polaroid' )
    %p 
      Optyn is one of the few free email marketing software providers. We offer free marketing email software that is easy to use, does not require a credit card, and it gives you the ability to start mailing to your customers right away. We give you free email list software for up to 100 of your customers. No gimmicks and you can go ahead and start seeing how awesome our software is.
    %p
      Our free software for email marketing is a perfect way for you to learn how awesome Optyn is and all the benefits we offer our customers. If you love the free online email marketing software you can always upgrade your account. 
    %p
      Our Free email marketing software gives you.:
      %ul.bullet-disc
        %li Email Automation Software Free. We do more thant just offer email marketing free software. Our email automation software can get you started in less than 2 minutes and engage your audience.
        %li 100% freeware email marketing software. Yes, 100% true. Optyn offers an email marketings software free download that you can use on the go. Optyn's website is also mobile responsive so if you are on the go, we got you covered.
        %li Easy to use software to get you going and engage your customers in 2 minutes or less. 
        %li Free download email marketing software. You can download it for free and use it offline. We also are iPhone and Android friendly.
    %p
      Optyn's Email marketing software is free for you to get started. It takes less than a minute to sign up and less than 2 to send out a campaign. Get started today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space