/ coming soon

%center.notice.lead
  = 'Please add locations for your Business' if has_locations?
.pull-right
  - if merchants_manager_signed_in?
    = link_to "Account Page", upgrade_path if !is_shop_local_and_active?
    = link_to "Edit billing information", edit_billing_info_path if is_shop_local?(current_merchants_manager.shop)
    = "|"
    = link_to "Add location", new_location_path if is_shop_local?(current_merchants_manager.shop)

/ features
#features.features_page
  .container
    .features1
      / header
      .row
        .span12
          %h3.intro
            All of your Marketing Messages in one Place
      / feature list
      .row
        .span4.feature
          %h3
            %i.i_cloud
            Responsive clean theme
          %p.description
            There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour, or randomised
            words which don't look even slightly believable.
        .span4.feature
          %h3
            %i.i_chart
            Responsive clean theme
          %p.description
            There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour, or randomised
            words which don't look even slightly believable.
        .span4.feature
          %h3
            %i.i_movil
            Responsive clean theme
          %p.description
            There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour, or randomised
            words which don't look even slightly believable.