= display_title "Optyn - E-Mail Marketing for Small Businesses"
= display_meta_description "Try Optyn for FREE today and see how our email marketing can help you engage and acquire customers online and offline.", "local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition, email marketing software, email marketing tips"

.landing-page
  .fold_0.lp-welcome
    .row-fluid.text-center
      .span4.offset1.slide-img.translateX-15px
        = image_tag 'mobile-ready.png', alt: 'mobile ready'
      .span6.slide-text.translateX15px
        %h1
          Create Your Email Campaigns
          %br
          in 2 Minutes or Less!
        %a.btn.btn-large.btn-warning{ href: new_merchants_manager_registration_path }
          Get started!

  .fold_1.lp-steps-to-use
    .row-fluid
      .span12
        %h2 Easy Steps to Use Optyn!
    .blank-space
    .row-fluid
      .span3.lp-s-signup
        .step-icon
        1. Sign Up
      .span3.lp-s-import
        .step-icon
        2. Import Your Customer List
      .span3.lp-s-prep
        .step-icon
        3. Prepare/Preview Email
      .span3.lp-s-send
        .step-icon
        4. Send
    .blank-space.large
    .row-fluid.text-center
      %a.btn.btn-warning{ href: new_merchants_manager_registration_path } Try it now!
      %a.btn.btn-transparent-primary{ href: '/video-tutorials' } More information

  .fold_2.lp-testimonials
    .row-fluid
      .span6
        %blockquote
          %i.icon-quote-left
          Optyn's email marketing software helped us increase our reach to our current clients and it even brought many new faces in.
          %i.icon-quote-right
        %div Ross & Darren, Owners of Alley Gallery
        %div Evanston, IL
        .blank-space
        %a.btn.btn-warning{ href: salvatores_case_study_path } View our Case Studies

  .fold_3
    .row-fluid
      .span12.text-center
        %h2 Not Just Email Marketing, So Much More!
    .blank-space
    .row-fluid
      .span6.text-center
        = image_tag 'mac-dashboard.png', alt: 'Optyn screenshot'
      .span6
        %p ​Over the past two years, the Optyn team has been focusing on building the next evolutionary email marketing product that helps small business take advantage of the many email marketing benefits. Our email marketing software platform is fast, simple, and easy to use.
        %p In fact, we pride ourselves on being the easiest marketing product for small businesses. The other great benefit is that it is more than just email marketing. Our product takes advantage of email marketing but it integrates other multi channels like social media to give merchants and small businesses an easy way to reach their customers.​
        %a.btn.btn-large.btn-primary{ href: new_merchants_manager_registration_path }
          Get started for FREE!

  .fold_4.lp-try-it
    .row-fluid.text-center.no-pad
      .span12
        .bg1
          %h2 Optyn is simple. Try it for FREE!
          %h3 Your first 100 customers are on us for lifetime!
          .blank-space.large
          %h4 Start engaging your customers and increasing sales!
        .bg2
          = image_tag "droplet.png", alt: "", class: "droplet"
          %a.btn.btn-large.btn-primary.btn-transparent{ href: new_merchants_manager_registration_path }
            TRY IT TODAY!

:javascript
  $( function() {

    $( '.lp-welcome .slide-img' ).css({
      opacity: '1',
    }).removeClass( 'translateX-15px' );

    $( '.lp-welcome .slide-text' ).css({
      opacity: '1',
    }).removeClass( 'translateX15px' );

  });
