%center.notice.lead
  = 'Please add locations for your Business' if has_locations?
.pull-right
  - if merchants_manager_signed_in?
    = link_to "Account Page", upgrade_path if !is_shop_local_and_active?
    = "|"
    = link_to "Edit billing information", edit_billing_info_path if is_shop_local?(current_merchants_manager.shop)
    = "|"
    = link_to "Add location", new_location_path if is_shop_local?(current_merchants_manager.shop)
    = "|"
    = link_to "Add Manager", merchants_add_manager_path if merchants_manager_signed_in?
    = "|"
    = link_to "Your Locations", merchants_locations_path if is_shop_local?(current_merchants_manager.shop)
    = "|"
    = link_to "Your API Button", edit_merchants_app_path if is_shop_local?(current_merchants_manager.shop)

/ features
#features.features_page
  .container
    .features1
      / header
      .row
        .span12
          %h3.intro
            All of your Marketing Messages in one Place
      / feature list
      .row
        .span4.feature
          %h3
            For Consumers
          %p.description
            %i.i_cloud
            All of your Marketing messages in one place
            %br
            %br
            %i.i_cloud
            Share only the information you want.
            %br
            %br
            %i.i_cloud
            One way to opt in anywhere any business.
            %br
            %br
            %i.i_cloud
            Explore New Places, Websites, Products, and More
          %p.align-right
            %a.btn.btn{:href => "consumerfeatures"}
              %i.icon-black.icon-bullhorn
              Learn More
            %a.btn.btn-success{:href => new_user_registration_path}
              %i.icon-white.icon-heart
              Get Started
        .span4.feature
          %h3
            For Businesses
          %p.description
            %i.i_cloud
            The Easiest way to capture customers, online and in-store.
            %br
            %br
            %i.i_cloud
            Truly Automated E-Mail Marketing. Yes. Truly!
            %br
            %br
            %i.i_cloud
            The most powerful remonetization engine your business has ever seen.
            %br
            %br
            %i.i_cloud
            Perfect for Local Businesses and Online Businesses of Any Size.
          %p.align-right
            %a.btn.btn{:href => "merchantfeatures"}
              %i.icon-black.icon-bullhorn
              Learn More
            %a.btn.btn-success{:href => new_merchants_manager_registration_path}
              %i.icon-white.icon-heart
              Get Started
        .span4.feature
          %h3
            For Partners & Developers
          %p.description
            %i.i_cloud
            Increase Conversion by 30%+ by giving your customers a choice.
            %br
            %br
            %i.i_cloud
            Perfect for Fortune 500 Brands, Mobile Developers, Online Businesses.
            %br
            %br
            %i.i_cloud
            Take advantage of our easy integration tools to provide a great product to your clients or consumers.
          %p.align-right
            %a.btn.btn{:href => "contact"}
              %i.icon-black.icon-bullhorn
              Learn More