= display_title "Integrated Marketing"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s INTEGRATED MARKETING
    %h2 Integrated Marketing solutions for Small Businesses.
    = image_tag( 'integrated-marketing.jpg', alt: 'Integrated Marketing', class: 'pull-right img-polaroid' )
    %p 
      With Integrated Marketing, you can reach all of your customers at once. Optyn specializes in helping small businesses by providing them an integrated marketing solution that is easy to use and delivers results. 
    %p
      Some of our Integrated Marketing solutions include:
      %ul.bullet-disc
        %li Collect Customer data online and in-store. 
        %li Our Engagement Center helps you create marketing promotions and campaigns.
        %li Reach your audience through email, facebook, twitter, and many more channels.
        %li Automated Syndication that delivers your message beyond your customers. We help you acquire new customers by syndicating your content to various sources including coupon and directory sites.
    %p
      It's time to evolve your marketing. If it ain't broke, break it so that you can take advantage of Optyn's powerful email marketing software. Get started for free and start marketing the right way.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space


