= display_title "Loyalty Marketing for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 LOYALTY MARKETING
    %h2 Loyalty is a two way relationship. We make it easy to incentivize your best customers.
    .blank-space
    = image_tag( 'http://placehold.it/300x200', alt: 'loyalty marketing', class: 'pull-right' )
    %p 
      Loyalty Marketing is an ambiguous term. Most small businesses understand the value of a repeat customer who continuous to come back and support your business. Those customers can be one of your most valued marketing assets and utilize them is vital to your word-of-mouth strategy.
    %p
      Optyn’s Loyalty Marketing platform allows you to easily:
      %ul
        %li Identify your best customers and reward them.
        %li Use your Best Customers as advocates during contests and sweepstakes.
        %li Reward your customers in various ways.
        %li Run specials, coupons, and more only for specific types of customers like best sharers and most frequent visitors.
        %li Create and Send awesome Thank you promotions.
    %p
      Saying thank you to your best customers with a reward type of promotion will make sure you continue to find and make your customers for life. Start using Optyn today for free and start rewarding your most loyal customers.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space