= display_title "Mailchimp Special Offer. Customers - Try Optyn for Better Email Marketing"
= display_meta_description "If you are a Mailchimp customer, you will love our offer exclusive for you. We can help you deliver better looking emails and save you money.", "mailchimp, mailchimp login, mailchimp templates, mailchimp api, mailchimp vs constant contact, mailchimp pricing, mailchimp wordpress, constant contact vs mailchimp, mailchimp tutorial, what is mailchimp, mailchimp logo, mailchimp reviews, wordpress mailchimp, aweber vs mailchimp, mailchimp help, mailchimp review, mailchimp wordpress plugin, mailchimp email templates, mailchimp vs aweber, www mailchimp, mailchimp facebook, mailchimp autoresponder, mailchimp blog, mailchimp competitors, mailchimps, drupal mailchimp, mailchimp api key, mailchimp jobs, mailchimp salesforce, mailchimp signup form, how to use mailchimp, mailchimp newsletter, free mailchimp templates, icontact vs mailchimp, mailchimp alternatives, mailchimp newsletter templates, mailchimp templates free, mailchimp vs, mailchimp vs icontact"
.constant-contact
  .fold1.row-fluid
    .span8
      %h1{:style => "text-align: center;font-weight:400;"}
        %em 5 Reasons
        to Leave Mailchimp for Optyn
      %ul
        %li
          .op-icon.faster
          %strong Optyn helps you get the job done faster and better.
          Create campaigns in 2 minutes or less.
        %li
          .op-icon.responsive
          %strong 100% Mobile Responsive campaigns.
          Over 52% of emails are now opened on mobile devices.
        %li
          .op-icon.free
          %strong Create Surveys, Coupons, and more for FREE.
          All types of campaigns in one place.
        %li
          .op-icon.deliverability
          %strong Email deliverability at 99%.
          No need to worry about landing in spam. We are certified for Inbox Delivery.
        %li
          .op-icon.undercut
          %strong Best yet - save 50% off your Mailchimp bill.
          We'll beat their price by 50% for the lifetime of your account.
    .span4.text-center
      %h3 Our Guarantee to You
      .blank-space
      %ul.bullet-green-check.text-left
        %li You will LOVE Optyn's ease of use.
        %li You will get better results.
        %li You will save 50% off your bill.
      .blank-space
      %a.btn.btn-warning.btn-large{ href: new_merchants_manager_registration_path } Get Started!
      .blank-space

  .fold2.row-fluid
    .span6
      %h2{:style => "text-align: center;font-weight:400;"}
        Why we Built Optyn
      %p We believe that email marketing should be easy, affordable, and effective for every business and user, big or small. Optyn is simple, powerful and effective.
      %p
        Restaurants like Salvatore's and Bandung generated over $5,000 in incremental sales with just a few campaigns. Just read these two case studies
        %a{ :href => salvatores_case_study_path } here
        and
        %a{ :href => bandung_case_study_path } here.
      .blank-space
      .row-fluid
        .span6.text-center
          %a{ :href => salvatores_case_study_path } 
            = image_tag("logo-salvatores.jpg", alt: "salvatores logo", style: "padding-top:15px;")
        .span6.text-center
          %a{ :href => bandung_case_study_path } 
            = image_tag("logo-bandung.jpg", alt: "bandung logo")
    .span6.text-center
      %h3 
        Join 3,000+ business owners who switched!
      .img-portrait
      %p Optyn's Email Marketing Software helped us increase our reach to our current clients and it even brought in many new faces.
      %em Ahmed K, Chez Joel Bistro, Chicago, IL.

  .fold3.row-fluid.text-center
    .span12
      %h2 We guarantee that you will:
      .blank-space
      = image_tag "optyn-gaurantee.png", alt: "Optyn Guarantee"

  .fold4.row-fluid
    %h2.text-center Get Started Today! Switching over is easy.
    .span9.offset2
      .step1
        .op-icon
        %p We will help you transition over lists, opt-in forms, and campaigns.
      .step2
        .op-icon
        %p Contact alen @ optyn.com for more information and to claim your special offer.
  .row-fluid.try-it
    .span7.offset1
      %p What are you waiting for? Ditch the monkey off your back!
    .span3
      %a.btn.btn-transparent.btn-block.btn-large{ href: new_merchants_manager_registration_path } Get Started for FREE!