-  breadcrumb :marketing
= display_title "Marketing Software for Small Businesses - Try it FREE!"
= display_meta_description "We are convinced you will fall in love with our marketing platform, so we are letting you try it for FREE! No credit card needed!", "email management software, email deployment software, email distribution software, email marketing software solution, email sending software, emailing marketing software, marketing email software, email mailing list software, email mailing software, email marketer software, email marketing director software, email marketing software expressemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
/marketing breadcrumbs = render partial: 'marketing_breadcrumbs'
.blank-space
/main container - end of breadcrumbs
#main_sell_page.op-sitemap
  .row-fluid
    .span12
      %h1.hd-main.text-center Marketing Products and Services

  .row-fluid.email-mktg
    .span10.offset1
      %h2 E-Mail Marketing
      = image_tag( 'email_marketing_works.jpg', alt: 'email marketing works', class: 'pull-right img-marketing-page', title: 'Email Marketing Works' )
      %p
        Harness the power of our automated email marketing software.
      %p
        %strong
          Our E-Mail Marketing services and products:
        %ul.bullet-circle
          %li
            %a{ :href => email_marketing_path, :alt => "Email Marketing", :title => "Email Marketing" } E-Mail Marketing
          %li
            %a{ :href => mobile_responsive_path, :alt => "Mobile Responsive Emails", :title => "Mobile Responsive Emails" } Mobile Responsive E-Mails
          %li
            %a{ :href => capturing_data_path, :alt => "Capturing Customer Emails", :title => "Capturing customer emails" } Capturing Customer E-Mails
          %li
            %a{ :href => email_deliverability_path, :alt => "Email Deliverability", :title => "Email Deliverability" } E-Mail Deliverability
      .span6
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path, :title => "Free Email Marketing Trial", :alt => "Free Email Marketing Trial"} Get Started for Free!

  .row-fluid.smallbiz_marketing
    .span10.offset1
      .span4.text-center
        = image_tag( 'small-business-marketing-solutions.jpg', alt: 'email marketing works', class: 'pull-left img-marketing-page-left', title: 'Small Business Marketing Solutions' )
      .span8
        %h2 Small Business Marketing
        %p
          Optyn is perfect for the small business and the busy business owner. We help you automate your entire online marketing strategy, reach your customers, and grow your business. All without spending any extra time managing it.
        .clearfix
        %p
          %strong
            Learn about how our software can help you with:
        %ul.span6.bullet-circle
          %li
            %a{ :href => social_media_marketing_path, :alt => "Social Media marketing", :title => "Social Media Marketing" } Social Media Marketing
          %li
            %a{ :href => marketing_automation_path, :alt => "Marketing Automation", :title => "Marketing Automation" } Marketing Automation
          %li
            %a{ :href => marketing_syndication_path, :alt => "Marketing Syndication", :title => "Marketing Syndication" } Marketing Syndication
          %li
            %a{ :href => marketing_ideas_path, :alt => "Marketing Ideas", :title => "Marketing Ideas" } Marketing Ideas
          %li
            %a{ :href => online_marketing_path, :alt => "Online Marketing for Small Business", :title => "Online Marketing for Small Business" } Online Marketing
          %li
            %a{ :href => automated_marketing_path, :alt => "Automated Marketing", :title => "Automated Marketing" } Automated Marketing
        %ul.span5.bullet-circle
          %li
            %a{ :href => loyalty_marketing_path, :alt => "Loyalty Marketing", :title => "Loyalty Marketing" } Loyalty Marketing
          %li
            %a{ :href => customer_retention_path, :alt => "Customer Retention", :title => "Customer Retention" } Customer Retention
          %li
            %a{ :href => marketing_analytics_path, :alt => "Marketing Analytics", :title => "Marketing Analytics" } Marketing Analytics 
          %li
            %a{ :href => digital_marketing_path, :alt => "Digital Marketing", :title => "Digital Marketing" } Digital Marketing
          %li 
            %a{ :href => marketing_collaboration_path, :alt => "Marketing Collaboration", :title => "Marketing Collaboration" } Marketing Collaboration
          %li
            %a{ :href => multi_channel_marketing_path, :alt => "Multi Channel Marketing", :title => "Multi Channel Marketing" } Multi-channel Marketing
          %li
            %a{ :href => multi_channel_marketing_path} Multi-channel Marketing
  .row-fluid.email-mktg
    .span10.offset1
      %h2 Marketing Promotions
      = image_tag( 'effective-marketing-promotions.jpg', alt: 'email marketing works', class: 'pull-right img-marketing-page', title: 'Effective Marketing Promotions' )
      %p
        Learn and see how Optyn can help you create powerful and effective marketing promotions that engage your customers and increase your Revenues.
      %ul.bullet-circle
        %li 
          %a{ :href => marketing_promotions_path, :alt => "Marketing Promotions", :title => "Marketing Promotions" } Marketing Promotions
        %li
          %a{ :href => coupons_path, :alt => "Coupon Marketing", :title => "Coupon Marketing" } Coupons
        %li
          %a{ :href => contests_path, :alt => "Contest Marketing", :title => "Contest Marketing" } Contests
        %li
          %a{ :href => surveys_path, :alt => "Survey Marketing", :title => "Survey Marketing" } Surveys
        %li
          %a{ :href => specials_path, :alt => "Specials and Sales", :title => "Specials and Sales" } Specials and Sales
  .row-fluid.smallbiz_marketing
    .span10.offset1
      = image_tag( 'grow-your-business-now.jpg', alt: 'email marketing works', class: 'pull-left img-marketing-resources', title: 'Grow your business' )
      %h2 Grow your Business
      %p
        Check out Optyn's Resource Center which is catered to helping small businesses with marketing and taking advantage of the power of online marketing.
      %ul.bullet-circle
        %li
          %a{ :href => resources_path } Resource Center >
.row-fluid.email-mktg
  %h4.text-center Additional E-Mail Marketing Services
  .blank-space
  .span3{style: 'width:20%;'}
    %ul.bullet-circle
      %li
        %a{ :href => email_marketing_software_path} Email Marketing Software
      %li
        %a{ :href => free_email_marketing_path} Free Email Marketing
      %li
        %a{ :href => free_email_marketing_software_path} Free Email Marketing Software
  .span3
    %ul.bullet-circle
      %li
        %a{ :href => email_blast_software_path} Email Blast Software
      %li
        %a{ :href => bulk_email_software_path} Bulk Email Software
      %li
        %a{ :href => email_marketing_solutions_path} Email Marketing Solutions
  .span3
    %ul.bullet-circle
      %li
        %a{ :href => mass_mail_software_path} Mass Mail Software
      %li
        %a{ :href => newsletter_software_path} Newsletter Software
      %li
        %a{ :href => free_newsletter_software_path} Free Newsletter Software
  .span3
    %ul.bullet-circle
      %li
        %a{ :href => free_email_marketing_software_path} Free Email Marketing Software
      %li
        %a{ :href => email_marketing_agency_path} Email Marketing Agency
      %li
        %a{ :href => email_marketing_programs_path} Email Marketing Programs
