= display_title "Marketing Collaboration for Teams"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 MARKETING COLLABORATION FOR TEAMS
    %h2 Teams can collaborate on Marketing efforts and campaigns with ease.
    .blank-space
    = image_tag( 'http://placehold.it/300x200', alt: 'marketing-promotions', class: 'pull-right' )
    %p 
      We know that two are better than one. We know that sometimes putting two heads together to accomplish a better outcome is worth it. Optyn offers marketing collaboration for marketing teams, business partners, and managers to easily collaborate on creating powerful and engaging marketing content.
    %p
      The best part is that we don’t charge you anything extra for it. Yep, you heard it right. you aren’t paying a user or “chair” fee. Invite as many people as you’d like to help you get things done. You can give certain people access to certain sections only so you can still be in charge.
    %p
      Get started with Optyn for free today and get your team involved and your marketing on track!
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
