= display_title "Marketing Recommendations for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 MARKETING RECOMMENDATIONS
    %h2 Sometimes, you need help. Introducing Marketing Recommendation.
    .blank-space
    = image_tag( 'http://placehold.it/300x200', alt: 'email marketing', class: 'pull-right' )
    %p 
      We know marketing is hard. It can be a daunting tasks to be different and to stand out. Starting out can be a nightmare and we will push you in the right direction. Optyn’s Marketing Recommendation algorithm does a lot of good things while you sit and relax.
    %p
      With Optyn, you are able to create wonderful marketing promotions that focus on buzz and virality allowing you to grow your customers and reap the benefits of the digital word of mouth - sharing. We’ll even give you ideas on what type of contests to run.
    %p
      We take a lot into consideration to serve you with best ways to grow your business and that includes:
      %ul
        %li Recommend you with type of campaigns to run based on real data.
        %li Starting a Marketing Campaign can be as easy as 1-2-3 with Optyn.
        %li We e-mail you daily, weekly, or monthly marketing recommendations that you can put into action with 1 click. 
        %li Marketing Recommendations for E-Mail campaigns and Social Media Campaigns.
    %p
      Marketing IS HARD. But just because you might not be keeping up with the latest marketing strategies, consumer quirks, and much more, doesn’t mean that you should just give up. We make using our product easy and we want you to use it. 
    %p
      Now you can. Sign up today for free and start enjoying doing effective marketing like many other small businesses that use our product.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
