= display_title "Marketing Automation for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h5 MARKETING AUTOMATION
    %h2 Automate every aspect of your marketing with Optyn Marketing Automation.
    = image_tag( 'marketing-automation.jpg', alt: 'marketing automation', class: 'pull-right' )
    %p 
      As the world wide web continues to expand, customers continue to flock to different channels, and you are given new opportunities to grow your business, marketing automation is becoming a great way to keep up with it all.
    %p
      Optyn’s Marketing Automation platform which is specifically built for small businesses allows you to grow your business while keeping marketing overhead to a minimum.
    %p
      We also believe that you shouldn’t have to work extra or harder just because you have to deal with different social media networks. Optyn’s integrated social media marketing solution allows you to still reap the benefits of Optyn’s simplicity and speed of use.
    %p
      Optyn’s Marketing Automation platform is perfect for the busy business owner. We help you:
      %ul
        %li Create and syndicate your marketing campaigns and promotions across email, social media, and other channels.
        %li Automated Subject Lines - We recommend to you what works best.
        %li Set it and Forget it. We allow you to plan your entire month and use it.
        %li Automated Creative Generation - We create the creative of each campaign for you that follows best practices and built-in standards. 
        %li Automatic Mobile Responsive templates for each marketing campaign and promotions.
        %li Automatically grow your list with our Incentive based Opt-in methods and convert your customers to a reachable audience.
        
    %p
      Unlike other so-called marketing automation software, you don’t have to spend hours and days setting up and working to use Optyn’s platform. The best part is marketing expertise is not required to start taking advantage and grwoing your business. We make it easy. That’s the point of automation. Sign up and give it a try today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space