= display_title "Mass Mail Software"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s MASS MAIL SOFTWARE
    %h2 Optyn's mass mail software lets you reach all of your customers.
    = image_tag( 'mass-mail-software.jpg', alt: 'mass mail software', class: 'pull-right img-polaroid' )
    %p 
      We know every business and marketer have their own specific needs. We offer various plans to get started, but whether you are sending emails to 100 people or 100,000, we can help. Our mass email marketing software lets you reach all of your audience, and we help you improving your marketing along the way.
    %p
      Optyn's mass emailing software is reliable and fast. Below are some more features that help you learn about what we do and how we help you become a good marketer.
    %p
      Our mass email campaign software is just right for you. Here's why
      %ul.bullet-disc
        %li Setting up is easy and takes less than 1 minute
        %li Create mass email campaigns within 2 minutes or less.
        %li Customize your entire mass mail software. From specific campaigns to your overall strategy, we can help you accomplish your business objectives.
    %p
      This mass email sender software is free to try. If you like it, you can contact us as we can help you beat the pricing from other providers. Get started today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space