= display_title "Mobile Responsive E-Mail Templates"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h5 MOBILE RESPONSIVE EMAILS
    %h2 Create Mobile Responsive E-mails without doing anything. Built In Mobile Responsiveness. Why?
    = image_tag( 'mobile-responsive-emails.jpg', alt: 'Mobile Responsive emails', class: 'pull-right' )
    %p 
      We have a saying at Optyn - “Because it matters and so you don’t have to worry about it.” We build marketing software for small businesses with one thing in mind. Simplicity. Now just because it’s simple for the small business owner, it shouldn’t lack the benefits of email marketing. Therefore, we automated a lot of cool things so you don’t have to worry about it and one of them is Mobile Responsive E-Mails.
    %p
      Mobile Responsive design is built-in to every single marketing campaign. It allows your customers to have the best experience whether they are on a desktop, Tablet, or smartphone.
    %p
      Mobile Responsive E-Mails allow you to:
      %ul
        %li Serve your customers with a better experience of mobile optimized emails.
        %li Convert overall better with all of your campaigns. E-Mail and Social Media content that is optimized for Mobile helps you convert better on all of your campaigns.
    %p
      Don’t lose your customers to something silly like this. This wonderful feature is built into Optyn's email marketing software and you don’t have to lift a finger and still enjoy all the benefits above. Get started today for free and start growing your business today!
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space