= display_title "Multi Channel Marketing for Small Businesses - Unify your marketing into one channel!"
= display_meta_description "Optyn helps you engage your customers by directly going where they are.", "multi channel marketing, multi channel marketing strategy, multi channel marketing campaigns, multi channel marketing software, multi channel marketing solutions, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h1.hdg-s MULTI CHANNEL MARKETING SOLUTIONS
    %h2 Let us help you identify where your customers are and then engage them.
    .blank-space
    = image_tag( 'http://placehold.it/300x200', alt: 'multi channel marketing', class: 'pull-right img-polaroid' )
    %p 
      Optyn is your one stop shop for multi-channel Marketing. We know your customers are splattered across the web and across different channels but that shouldn’t keep you from reaching them. We help you identify where your customers and how you can engage them through our multi channel marketing software.
    %p
      Optyn’s Multi-Channel Marketing platform lets you:
      %ul.bullet-disc
        %li Acquire and engage customer via email marketing.
        %li Syndicate your marketing campaigns to Facebook and Twitter and other social networks.
        %li Utilize our marketing syndication service to syndicate content to offer related sites, local directories, and search directories.
        %li Share your marketing promotions and campaigns on your own website with a simple plugin.
        %li Develop a Multi Channel Marketing Strategy with the assistance of Optyn's Marketing Experts.
    %p
      Now, reaching your customers can be a breeze. No more worries on whether you should pursue email marketing or social media marketing. We make it easy to reach all of your customers, and we do it all within 2 minutes or less through Optyn's multi channel marketing campaigns. Get started and give Optyn a try for free today.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space

