= display_title "Online Marketing for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    /Aniket, we need to make the h5 tag an h1 tag but the size of the font should stay the same.
    %h5 ONLINE MARKETING
    %h2 Small business now have an easy way to compete online! 
    .blank-space
    = image_tag( 'http://placehold.it/300x200', alt: 'online marketing', class: 'pull-right' )
    %p 
      Our world is changing. It’s changing constantly and faster than ever. The same goes for marketing your business. Today, one of the most effective ways to advertise and grow your business is with Online Marketing.
    %p
      Optyn’s Online marketing platform has been specifically built for small businesses. And when we say small businesses, we mean small businesses and not 500 people organizations. We give you a way to compete with your larger competitors, stand out, and most importantly reach your customers who are all online and waiting for you to interact with them.
    %p
      Our online marketing software helps you:
      %ul
        %li Reach your customers online via email marketing and social media
        %li Discover new potential customers via our Marketing Syndication Service.
        %li Create quick and effective marketing campaigns that are focused on online to offline conversions.
        %li Discover and Improve your Online Marketing footprint. We help you identify with what you are doing right and what you are doing wrong.
    %p
      Take the first step today and sign up for free and get your online marketing on track with Optyn.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
