= display_title "Optyn Pricing - Try it FREE, credit card not needed!"
= display_meta_description "We are confident you will fall in love with Optyn and what it can do. Try it free, when you fall in love with the email marketing platform, choose an affordable pricing plan.", "optyn pricing, optyn free, local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition, email marketing software, email marketing tips"

.row-fluid.breadcrumbs
  - breadcrumb :pricing

#tiers
  .row-fluid.p-sider-cont
    .span12
      %h1 Pricing
      .span6.offset2
        #pricing-slider
      .span2.plan-price Free!
  .row-fluid.labels
    .span6.offset2.text-center.cus-count # of customers
    .span2.text-center Price per month
  .row-fluid.intro
    .span12.text-center
      = pricing_navigation_link
      %h2
        Everyone starts off with a FREE account.
        %br
        Here's what it costs you to grow:
  .row-fluid
    .span10.offset1
      #myCarousel.carousel.slide.plans
        .carousel-inner
          .active.item
            .row-fluid
              .span4.plan.current{ 'data-plan-id' => '0' }
                %h5 FREE
                %small Starter plan
                .separator-thin.white
                %strong Up to 100 customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
              .span4.plan{ 'data-plan-id' => '1' }
                %h5 $20
                %small per month
                .separator-thin.white
                %strong 101 - 1000 customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
              .span4.plan{ 'data-plan-id' => '2' }
                %h5 $49
                %small per month
                .separator-thin.white
                %strong 1001 - 2500 customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
          .item
            .row-fluid
              .span4.plan{ 'data-plan-id' => '3' }
                %h5 $79
                %small per month
                .separator-thin.white
                %strong 2501 - 5000 Customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
              .span4.plan{ 'data-plan-id' => '4' }
                %h5 $99
                %small per month
                .separator-thin.white
                %strong 5001 - 10000 Customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
              .span4.plan{ 'data-plan-id' => '5' }
                %h5 $149
                %small per month
                .separator-thin.white
                %strong 10001 - 15000 Customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
          .item
            .row-fluid
              .span4.offset2.plan{ 'data-plan-id' => '6' }
                %h5 $179
                %small per month
                .separator-thin.white
                %strong 15001 - 20000 Customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
              .span4.plan{ 'data-plan-id' => '7' }
                %h5 $199
                %small per month
                .separator-thin.white
                %strong 20001 - 25000 Customers
                %div Unlimited E-Mails + All Features Included
                = pricing_navigation_link
