= display_title "Marketing Promotions"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  - breadcrumb :resources_marketing_promotions

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Marketing Promotions
    %h2 How to use marketing promotions to increase sales.
    = image_tag( 'marketing-promotions-resources.jpg', alt: 'marketing promotions', class: 'pull-right img-polaroid' )
    %p 
      The term promotional marketing specifically refers to marketing messages that look to influence a target audience to take an action by offering an incentive.    Sometimes, however, the word promotion is used to refer to any campaign, whether an incentive is used or not.  In any event, the goal of any promotion is to get your customers and prospects to do something that will help your business.  The following article will offer some promotional marketing tips.
    %p
      %strong Stay True to Your Brand and Marketing Efforts.
      As with all marketing, make sure that the promotion supports and does not hurt your brand.  For example, if your brand conveys a promise of high quality, a promotion that offers a cheap giveaway would be counter to your image.  The promotional campaign should also complement all other marketing and business efforts.
    %p
      %strong Contests and Sweepstakes.
      People love the lure of a big prize.  Rather than spend $5 on 1,000 clients or prospects, you may find that offering a $5,000 prize to one winner may generate greater interest and press.  Keep in mind that there may be regulatory and industry rules that govern contest rules and management.  Make sure you understand and follow them.
    %p
      %strong Coupons and Sales.
      Always a tried and true way of getting folks to buy.  The advantage of discounts is that in addition to increasing sales, they could also serve other purposes.  For example, sales are a great way to move excess inventory or if you’d like your customer base to try a new product.
    %p
      %strong Targeting.
      Don’t just think of promotional marketing as a broad based strategy.  You may want to create a campaign that targets a specific segment of your base.  For example, if you have customers who haven’t purchased in a while, a special incentive just for them may help bring them back. 
    %p
      Give promotional marketing a try and watch how it helps your business.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space