= display_title "Email Marketing System - Which is right for you?"
= display_meta_description "Our email makreting experts share a few things you should look for when you are choosing an email marketing system.", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, email marketing system, email marketing systems, email marketing technology"

.row-fluid.breadcrumbs
  - breadcrumb :resources_email_marketing_system

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Marketing System
    %h2 Identifying the email marketing system that’s right for you.
    = image_tag( 'email-marketing-system.jpg', alt: 'email marketing system', class: 'pull-right img-polaroid', title: 'Email Marketing System' )
    %p
      Email Marketing technology is ever-changing. With the evolution of technology and the world wide web, new productivity and marketing tools are springing up and making old systems obsolete. There are many email marketing systems out there and figuring out which one is right for you can be a daunting task.
    %p
      Here are a few things you should look for when it comes to identifying the email marketing system that is right for you:
    %p
      %ul.bullet-disc
        %li
          %strong Evaluate your marketing expertise. 
          %br
          There are many email marketing systems out there for different type of users. Some work great for marketers and some are built just for the ordinary person with no formal training in marketing or any subfields. Knowing your limits and leve of expertise will help you in identifying the right email marketing system for you.
          %br
        %li
          %strong Evaluate your technical expertise.
          %br
          Just like marketing expertise, it’s important to know your technical expertise. Whether it’s lingo or technical experience like coding, this can affect your decision and what you should look for. Some software require coding or to have more technical experience than others (like installing, coding, etc.)
          %br
        %li
          %strong Does price play a factor?
          %br
          Price always plays a factor. Let’s face it some people are willing to pay more or less than other people and the same goes for email marketing systems.
          %br
        %li
          %strong Identify your business objectives and align them with features/services. 
          %br
          Email marketing technology is a powerful tool to grow your business and making sure you identify what’s important for you, will help you make the right decision. 
          %br
    %p
      The good thing is that you are on the right track. Marketing is about being proactive and getting out there and finding your email email marketing system just got a bit easier. Our goal is to educate the world when it comes to email marketing and how small businesses can improve their marketing efforts. And if we can get a few customers along the way, then we all win. 
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space