= display_title "Email Newsletter - Engage your audience!"
= display_meta_description "Find out the advantages of a business utilizing email newsletters to engage their audience.", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, email newsletter, email newsletters, newsletter email, email marketing newsletter, email newsletter marketing, email marketing newsletters, newsletter email marketing, mass email newsletter"

.row-fluid.breadcrumbs
  - breadcrumb :resources_email_newsletter

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Newsletter
    %h2 Sending an email newsletter - a great way to engage your audience.
    = image_tag( 'email-newsletter.jpg', alt: 'email newsletter', class: 'pull-right img-polaroid' )
    %p
      An email newsletter is a way for small businesses to stay in touch with their customers and prospects. Engaging customers doesn’t always have to be about sending them coupons or announcing a sale. 
    %p
      Here are some advantages of company creating and sending an email newsletter:
    %p
      Regular, inexpensive communications - a newsletter is a great way of regularly communicating with you audience. This helps build trusted relationships with your customers. Email newsletters are also inexpensive when compared to other forms of advertising.
    %p
      Increases awareness and drives traffic - By using links to your site or other noteworthy items about your company, you website traffic increases and your customers learn more about you from your email newsletters.
    %p
      Grows your reputation - When you write original content and give opinions on matters where you have expertise, customers begin to view you as an expert and trusted advisor.  When they eventually need a product or service you’re selling - they’ll think of you first. 
    %p
      Measurable - As with other forms of email marketing, you can track the performance of an email newsletter and rate its effectiveness,
    %p
      Newsletter email marketing can be a powerful marketing strategy. Learn more about it in our email marketing blog.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space