= display_title "Integrated Marketing"
= display_meta_description "Learn about Integrated Marketing and how you can take advantage of it for your small business.", "integrated marketing, integrated marketing solutions, integrated marketing for small businesses, small business integrated marketing, online integrated marketing, integrated marketing solutions for small businesses, easy integrated marketing"

.row-fluid.breadcrumbs
  - breadcrumb :resources_integrated_marketing

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Integrated Marketing
    %h2 Making sure your marketing is integrated for a coordinated campaign.
    = image_tag( 'integrated-marketing-resources.jpg', alt: 'integrated marketing', class: 'pull-right img-polaroid', title: 'Integrated Marketing' )
    %p 
      Integrated marketing refers to the alignment of four distinct marketing elements - general advertising, direct marketing efforts, promotions, and public relations.  Here is how each of these elements contribute to an overall cohesive marketing message.
    %p
      %strong General Advertising.
      This category represents the marketing communication channels and messages that most people think about when they think of marketing.  TV commercials, print and even online ads all fall under general advertising.  Generally, a company uses this type of advertising to reinforce brand image.
    %p
      %strong Direct Response.
      This is advertising that goes direct to the consumer to illicit an immediate response.  Email marketing is a good example. This category is also represented by the ability to be measured.  Take the case of an email marketing campaign - it is easy to record how many emails were sent, opened and clicked-through.  Direct response advertising build relationships and dialogues.
    %p
      %strong Promotions. 
      This is the category of marketing that that looks to influence a target audience to take an action by offering an incentive. A sales event, a contest, these are designed to get immediate results.
    %p
      %strong Public Relations.
      PR campaigns are designed to get publicity - free or otherwise - for the company.
    %p
      These four elements should be coordinated and included in every campaign.
    %p
      It should be noted that while email marketing is its own type of marketing, it can be used as a key component of every one of the integrated marketing elements.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space