= display_title "Cheap Email Marketing - Get best return for your dollar!"
= display_meta_description "There are many alternatives and options when it comes to cheap email marketing. Some is even FREE!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, cheapest email marketing, cheap email marketing software, email marketing cheap, cheap email marketing"

.row-fluid.breadcrumbs
  - breadcrumb :resources_cheap_email_marketing

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Cheap Email Marketing
    %h2 Important Facts about Cheap Email Marketing.
    = image_tag( 'cheap-email-marketing.jpg', alt: 'cheap email marketing', class: 'pull-right img-polaroid' )
    %p
      Small Businesses have small budgets to grow their business. While many sacrifice their marketing budgets or have a small 3 digit marketing budget, they have to learn how to get the best return for their marketing dollars. 
    %p
      One approach to this is cheap email marketing. Email marketing in general is a cheap way to do some marketing. It doesn’t take much to get started and in many cases, companies like Optyn offer free email marketing software.
    %p
      The cheapest email marketing methods can be vital to small businesses because with email marketing they can earn a 40x Return on their investment. This allows them to utilize these simple to use marketing tools and grow their business and hopefully one day outgrow their marketing budget.
    %p
      A few tips while evaluating cheap email marketing:
    %p
      %ul
        %li Many companies offer free trials or free tiers that allow you to get started for no money investment. Optyn, for example, give you a chance to grow before you pay by offering you 100 customers for free with unlimited emails.
        %br
        %li Overall, your email marketing budget, for a small business should be around $20 - $50/mo. If you can afford to pay $20/month then you can afford many email marketing software providers.
        %br
    %p
      Cheap Email Marketing software can be the first step to success for many business owners and there are many ways to get started for little to no cost as well. The other factors are hard work and dedication and the aspirations of success.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space