= display_title "Getting Started with Email Marketing."
= display_meta_description "How to get started with email marketing and how you can be successful by using email marketing as a small business.", "email marketing get started, getting started email marketing, getting started marketing, email marketing getting started, small business get started marketing, how to get started with email marketing, how to do email marketing"

.row-fluid.breadcrumbs
  - breadcrumb :resources_getting_started

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Getting Started with Email Marketing
    %h2 How to get started with E-Mail Marketing.
    = image_tag( 'getting-started-with-email-marketing.jpg', alt: 'getting started with email marketing', class: 'pull-right img-polaroid' )
    %p 
      OK, I know I need an email market solution for my business, but how do I get started?
    %p
      Email marketing is one of the most effective marketing tools available. Yet, only 4% of small businesses use it.  If you are one of the 96%, who now wants to get more bang for your marketing dollar, here is how you can get started.
    %p
      %strong Step One - Evaluate What You’re Doing Today.
      %br
      Assessing where you are today with regard to marketing in general and email marketing in particular is the first step. For example, do you currently have a list of clients and or prospects? Are they segmented by category (e.g., demographic data, purchase history, etc)? Have you ever calculated an email marketing campaign’s return on investment (ROI) or the lifetime value of a customer? By doing this tyoe of analysis you can determine the gap between where you are and where you need to be.
    %p
      %strong Step Two - Decide What You Want to Accomplish.
      %br
      Campaigns need to have goals. Do you want to more sales from existing clients? Grow your prospect list?  Whatever the objective, make sure you know what needs to be accomplished and you quantify it. It is not enough to say you want to increase sales. Be as specific as you can. Say, you want to bring in x new customers a month that on average will spend y dollars on every sale. Once that’s accomplished you can work backwards and decide what type of campaign to use and what to measure.
    %p
      %strong Step Three - Develop a Checklist
      %br
      As you create your first campaign and go through the various steps, write down what you’re doing as you’re doing it. It won’t be perfect the first time through. In fact, you’ll probably miss steps or get things out of order. Make corrections and modifications when you discover them. This is going to be an iterative process. Use the first checklist for the second campaign and add and modify steps as you go. Continue to do this with each campaign. Overtime you will have developed a foolproof step-by-step guide. 
    %p
      %strong Step Four - Proof Everything Before You Hit Send and Start Small
      %br
      It helps during the creation of a campaign if you have a second pair of eyes reviewing the work. You’d be surprised at what you can miss. There is also no rule that says you have to mail to your entire list. You may want to start with just a percentage of your list until you’re comfortable with the process and what you’re doing.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space