= display_title "Marketing Syndication"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  - breadcrumb :resources_marketing_syndication

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Marketing Syndication
    %h2 Getting the word out beyond the usual channels.
    = image_tag( 'marketing-syndication-resources.jpg', alt: 'Marketing Syndication', class: 'pull-right img-polaroid' )
    %p 
      When you syndicate something, you are offering it beyond the usual normal channels like email marketing and social media. Marketing syndication, therefore, refers to distributing your marketing campaigns across the web and beyond the typical target audience represented by an email or contact list.
    %p
      For a small business this can be a daunting task. Even if you use a marketing company to manage your campaigns, many don’t bother to do this for their clients because it is time consuming, expensive, and it is a complicated process.  Optyn is a great example of a company that does do it and, in the process, takes marketing syndication to new levels by maximizing the number and type of channels to which their customers have their marketing campaigns presented.  
    %p
      Here are just a few things we do for our customers when it comes to marketing syndication:
      %ul.bullet-disc
        %li Share your content to social media with just one click.
        %li Share your sales and special announcements to local directory sites like locu, yelp, and more.
        %li Syndicate your coupon offering for free to companies like Google Offers, Coupon Cabin, and more.
        %li Provide all the analytics to show where your new customers are coming from and how existing customer interact with you through the different channels.
    %p
      Whether it is Optyn or another provider, make sure marketing syndication forms part of your marketing strategy.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space