= display_title "Email Marketing Strategy - Tips and Tricks!"
= display_meta_description "Make sure that you approach your email marketing strategy with a right approach! Our experts share a few tips with you!", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, email marketing strategy, email marketing strategies, email marketing course, email marketing guide, email marketing resources, email marketing response rates, email marketing techniques, email marketing training, email marketing tutorial, email marketing guidelines, email marketing help"

.row-fluid.breadcrumbs
  - breadcrumb :resources_email_marketing_strategy

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Marketing Strategy
    %h2 Here are some tried and true email marketing strategies for you to use.
    = image_tag( 'email-marketing-strategy.jpg', alt: 'email marketing strategy', class: 'pull-right img-polaroid', title: 'Email Marketing Strategy' )
    %p
      Having the right email marketing strategy doesn’t guarantee success but it goes a long way to improving your odds. Here are some email marketing strategies that most would agree will serve you well on your campaigns.
    %p
      %strong Don’t Spam.
      Only send to individuals who have opted in to receiving emails from you and don’t bombard them with irrelevant email.
    %p
      %strong Send Relevant Content.
      This is the true definition of one-to-one marketing and is a very effective email marketing technique. One way to get to know your customer is to segment your list and track such things as type of products purchased and when. Some email marketing companies like Optyn provide the ability to conduct a survey and ask questions that will help you learn more about your customers’ needs.
    %p
      %strong Use the Recipient's First Name.
      If you can use the person’s first name in the subject line or in the body of the email, the email feels less like a bulk mailing to the recipient.
    %p
      %strong Be Responsive.
      If someone responds to your email with an order or question, make sure you get back to them right away. This type of service makes an individual feel special.
    %p
      %strong Send at the Right Time.
      The trick of course is to determine the right time. Time of day, day of week, month and season all impact open rates. It is often not just a simple matter of saying the best time to send an email is on x-day at y-o’clock, because these can b e different depending on the industry type of email, etc. The best advice is to try different times and see what works best for you.
    %p
      %strong Let Them Know It’s From You.
      Put a name in the From box. If the recipient would be familiar with you name of the name of a person in your company, great - use it. If not, then the name of the company should be used.
    %p
      %strong Subject Lines.
      What you put in the subject line is important. You need to avoid words and symbols that get the attention of spam filters (e.g., $, FREE). The best advice here would be to use a subject line that would appeal to your audience.
    %p
      %strong Compelling Copy.
      The body of your email should be concise and compelling. The reader is going to be reading quickly so make it short, sweet and relevant.
    %p
      %strong Mobile Responsive E-Mails.
      All email should look good regardless of the device used to read it. Make sure your email provider’s emails are mobile responsive.
    %p
      %strong Call to Action.
      Be sure to have a clear and concise “call to action”. Tell the recipient what you want him or her to do and make it easy to do. If the call to action is to click a button and that takes them to a landing page, make sure it is easy for them to make the purchase.
    %p
      %strong Test, Test, and Repeat.
      Gather statistics and data on every component of a campaign so you you can determine what works best.
    %p
      Use these email marketing strategies and you’ll see an improvement in your results. For more email marketing help and email marketing techniques, please visit our 
      %a{ :href => 'http://blog.optyn.com', :alt => "email marketing blog" } email marketing blog.
      fWe also have a full email marketing resource section.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space