= display_title "Capturing Customer Data"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :resources_capturing_customer_data

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Capturing Customer Data.
    %h2 Data capture tips to help your business grow.

    = image_tag( 'capturing-customer-data.jpg', alt: 'capturing customer data', class: 'pull-right img-polaroid' )

    %p 
      Data is critical to your business.  If it is out-of-date, incorrect or not available you could be wasting resources and losing sales.  Here are some data capture ideas to help you keep your data current, relevant and compliant.
    %p
      %strong
        Every contact is a data capture and verify opportunity.
      %br
      Take the time during interactions with customers to collect and/or verify data.  For example, ask if their email, phone number or address has changed.  If you use direct mail, ask if they receive duplicate catalogues or correspondence.
    %p
      %strong
        Make it easy and worthwhile for the customer to give you information
      %br
      Review your web site’s data input forms.  Are they simple to use and complete?  Can they be found easily?  Is there a logical path from content to form?  It is easier for a person to give information if they know why it is being used and if they get some benefit.  Feel free to offer a little perk (e.g., discount, free white paper) in exchange for information.
    %p
      %strong
        Be compliant with privacy regulations.
      %br
      This is important.  As a general rule, you need to tell your customers why you’re collecting their data and how you’re going to use it. There is more to it than that so make sure you are following the spirit and letter of the laws and regulations regarding privacy and the collection and use of data. 
    %p
      %strong
        Consider collecting data over time rather than all at once.
      %br
      Depending on the type and quantity of information you’re seeking, it might make sense to gather the information over time to make it less burdensome and seem less intrusive.  Consider this when onboarding a new customer where you haven’t yet had an opportunity to build a trusting relationship.
    %p
      %strong
        Be selective with regard to the data you’re seeking
      %br
      If you are not going to use the data or if it isn’t relevant to your marketing and business needs, don’t ask for it.
    %p
      By following these tips you should be able to create and maintain a useful, up-to-date customer database that will help you market more effectively.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space



