= display_title "Reachable Audience"
= display_meta_description "A Reachable Audience is critical for small businesses and we can help them grow their reach. Calculating the Reachable Audience formula is discussed as well.", "reachable audience, reach, target audience, reachable audience for small businesses, how to grow your audience, grow your audience, importance of reachable audience, what is reachable audience"

.row-fluid.breadcrumbs
  - breadcrumb :resources_reachable_audience

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Reachable Audience
    %h2 Why Reachable Audience is critical to your business.
    = image_tag( 'reachable-audience.jpg', alt: 'Reachable Audience', class: 'pull-right img-polaroid', title: 'Reachable Audience' )
    %p 
      We focus a lot on the Reachable Audience metric and making sure that small businesses understand why it’s important. In fact, we here at Optyn, live by it. By that we mean that it is our core focus to help our customers - the many small businesses we serve - grow their reachable audience and improve the overall engagement rates.
    %p
      By definition, Reachable Audience is a total count of all your existing and potential customers that you can reach directly. Reachable Audience consists of your email marketing subscribers, social media followers (facebook, twitter, etc.), and other direct customer links (sms, etc). The simple way to describe it is the people (audience) you can market (reach) to.
    %p
      There are 3 reasons why small businesses need to grow their Reachable Audience:
      %ul.bullet-disc
        %li Size Matters - the bigger the better.
        %li It has impact on your marketing efforts.
        %li It’s a vital sign of growth and health of your company. 
    %p
      %strong Calculating Reachable Audience
      %br
      Figuring out your Reachable Audience is very easy at first. First, you should do a sum of all of your email subscribers, facebook likes, twitter followers, and all other social networks. Then, divide it by what we call a Customer Overlap Rate, which is usually 10-20% of your customer base.
    %p
      The customer overlap rate is basically the percentage of customers who fall into different buckets of your reachable audience. For example, a customer can be a subscriber as well as a twitter follower. 
    %p
      You have to be willing to grow your Reachable Audience. In addition to offering a great product or service, this is probably the most important thing for you to do for your business. For more tips and trick on how to grow your Reachable Audience, visit our marketing blog.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space