= display_title "Digital Marketing for Small Businesses - Free list to get you started!"
= display_meta_description "Digital marketings campaigns can be much simpler than you think! Our list of integrated digital marketing venues simplifies the process for you!", "digital marketing, What is Digital Marketing, digital marketing trends, automotive digital marketing, digital media marketing, digital marketing plan, digital marketing tools, integrated digital marketing, digital marketing campaigns, digital marketing ideas, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :resources_digital_marketing

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Digital Marketing
    %h2 Getting your business online.
    = image_tag( 'digital-marketing.jpg', alt: 'digital marketing', class: 'pull-right img-polaroid' )
    %p 
      What is digital marketing? Here is a short and sweet definition of digital marketing - what you do to market your business online? Do you have a digital marketing plan? Are you using digital marketing tools? This list will jump start your business online without trying to keep up with today's digital marketing trends.
    %p
      In the brick and mortar world you are often competing only with similar businesses in a limited geographic area.  On the web, your competition is everyone with a website that has a product similar to yours and who can deliver it to the consumer in an efficient way. 
    %p 
      The good thing is that all of your customers can be found online. When customers search online for the product they want they are presented with pages upon pages of potential sellers. Those merchants that appear at or near the top of the first few pages stand a better chance of capturing the sale as opposed to a business that appears on subsequent pages. Maybe you thought about it, but you are not sure where to start. We will provide you with a brief list of digital marketing ideas to get you started. 
    %p
      Here are the key components of digital marketing along with a brief introduction:
    %p
      %strong
        Website Design. 
      Having an attractive easy to navigate website helps ensure that consumer has a positive experience.
    %p
      %strong
        Search Engine Optimization (SEO). 
      The strategy and techniques used to help a website get found when a consumer searches online using a search engine like Google. SEO allows business to be discover through keywords rather than the business name.
    %p
      %strong
        Paid Search. 
      When a business bids on the terms used by consumers to search the web for their product or service.  Every time the ad appears as a result of a search the business pays the amount bid. 
    %p
      %strong
        Social Media Marketing. 
      The process of creating content on a website that attracts the attention and encourages the reader to share the information on their social network.
    %p
      %strong
        Email Marketing. 
      Sending email messages to individuals, customers or potential customers.
    %p
      %strong
        Display Advertising. 
      Advertising that appears on a web page - similar to a newspaper ad.
    %p
      %strong
        Affiliate Marketing. 
      A type of performance-based marketing in which a business pays one or more affiliates for each visitor or customer brought to the business by the affiliate's own marketing efforts.
    %p
      %strong
        Content Marketing. 
      The creation and sharing of information and website content to attract attention and to acquire customers.
    %p
      %strong
        Reputation Management. 
      Maintaining or improving a business's reputation in order to have a favorable opinion in the minds of consumers and remove any negative mentions.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space