= display_title "Small Business Email Marketing - Create a competitive advantage!"
= display_meta_description "We know that small business woners do not have much time to makret, so our exports gathered a few tips to help you out.", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, small business email marketing, white label email marketing, b2c email marketing, email marketing small business, email marketing for small businesses, business to business email marketing, email marketing business, enterprise email marketing, email marketing professional, professional email marketing"

.row-fluid.breadcrumbs
  - breadcrumb :resources_small_business_email_marketing

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Small Business Email Marketing
    %h2 Small business email marketing needs differ from that of a larger company.
    = image_tag( 'small-business-email-marketing.jpg', alt: 'small business email marketing', class: 'pull-right img-polaroid', title: 'Small Business Email Marketing' )
    %p
      Every business can use email marketing, but a small business often needs help in getting started and running campaigns.  Why? Because small business owners don’t have the time, expertise, money or even know what tools are available. As a result small businesses don’t email market and just rely on basic forms of advertising and marketing.  And, that’s a shame because the inability to email puts them at a disadvantage against their larger, more sophisticated competitors.
    %p
      Optyn is focused on helping small businesses by providing tools especially designed for them. For example, Optyn’s platform has been created to make it super simple for a merchant to create, schedule and send an email marketing campaign. One of the ways Optyn achieves this is by focusing on the campaign triggers rather than on email templates. In less time (under 2 minutes) than it takes a merchant to pick a template from the hundreds available through other email marketing providers, Optyn’s clients have already created the email and are ready to press send.
    %p
      Optyn also has a white label email marketing program for the small business that would like to outsource the entire process for a low monthly price. As part of this white label email marketing service, the small business can get the following:
    %ul.bullet-disc
      %li Planning sessions
      %li Discount off of email pricing
      %li Recommended campaign strategy
      %li Multi-month plan
      %li Emails created, scheduled, and sent in accordance to the plan
      %li Analytics
      %li Improvement recommendations
      %li And much more
    %p
      So, if you’re interested in small business email marketing and/or a white label email marketing program, check out Optyn and see how easy it is to get started and run successful campaigns to increase sales, customer satisfaction, and retention.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space
