= display_title "Email Blast - Are you doing it correctly?"
= display_meta_description "Small businesses need to be careful when it comes to sending email blasts. Make sure you know the correct ways.", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, email blasts, blast email, email blast marketing, send email blast, blast email marketing, email marketing blast, blast emails, mass email blast"

.row-fluid.breadcrumbs
  - breadcrumb :resources_email_blast

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Blast
    %h2 What is an email blast?
    = image_tag( 'email-blast.jpg', alt: 'email blast', class: 'pull-right img-polaroid', title: 'Email Blast' )
    %p 
      An email blast refers to one electronic mailing of a marketing promotion sent to a list of customers or prospects.  Email blasts and email marketing campaigns are usually conducted with the help of email marketing software made available by email marketing companies such as Optyn.
    %p
      An email blast as well as the entire email campaign should only be sent to individuals that have opted in to receive the email.  Sending emails to individuals who have not opted in or who are not known to the business or marketer is considered spamming.
    %p
      Here are some things you need to consider when creating an email blast.
      %ul.bullet-disc
        %li
          %strong Subject. 
          The subject line needs to be attention grabbing without using words that may be considered spam by spam filters.
        .blank-space
        %li
          %strong Body.
          The body of the email blast should also grab the readers attention and should relate to the subject.
        .blank-space
        %li
          %strong Call to Action.
          There needs to be a call to action in the body of the email blast.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space