= display_title "E-Mail Marketing Best Practices - Maximize effectiveness of your email marketing campaign!"
= display_meta_description "Brief guidelines on how to improve the effectiveness of your email marketing campaigns through email campaign best practices!", "e-mail marketing best practices, email marketing best practices, opt-in email marketing, email marketing campaign, targeted email marketing, free email marketing, email marketing service, best practices for email marketing, effective email marketing, email marketing campaigns , email marketing statistics, email campaign best practices, email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."

.row-fluid.breadcrumbs
  - breadcrumb :resources_measuring_success

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Email Marketing - Measuring Success
    %h2 How to determine if your email marketing campaigns are working.
    = image_tag( 'measuring-success-of-email-marketing.jpg', alt: 'measuring success of email marketing', class: 'pull-right img-polaroid' )
    %p 
      Anyone can run a marketing campaign - all it takes is time, money and expertise.  And, if you’ve done things correctly, you’ll see an increase in whatever it is you wanted to achieve.  But, here’s the question - how do you know the relative value of the increase.  In other words, let’s say you increased your sales by 5%.  Was that a great, good or poor result?  In this article, we are going to give you some insights into how to answer this question.
    %p
      The first thing to do before running a campaign is to decide what you want to accomplish and be very clear on what you expect to achieve.  If you’re new to marketing and/or the type of campaign you’re running, there are different things you can do to help quantify your objectives.
    %p
      %strong 1. Pre-set Objectives.
      %br
      There are going to be situations when - for whatever reason - you need to achieve a particular goal.  In those case, that becomes your objective.  Make the number and you’re a hero, miss it - not good.
    %p
      %strong 2. Industry Averages. 
      %br
      Let’s say you are sending out your first email blast and want to establish an open rate benchmark.  You can do some research and see what the open rate average is for companies in your industry.  Make sure that the companies are similar to yours.  For example, a bank and a brokerage house are both financial services companies, but they are two very different entities.  Once you’re comfortable you’ve chosen the correct metric, run the campaign and see how you did.
    %p
      %strong 3. Past Performance.
      %br
      Once you’ve run a campaign you now have a data point by which to compare the next one.  Remember though that campaigns can be affected by seasonality, type of offer and a long list of variables.  Over time, however, you will have gained enough experience and data to know when you’ve been successful or not.
    %p
      One final point, make sure you measure all the campaign drivers not just the ones associated with your goals. In this way you will have the data points ready when other objectives are established. 
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space


