= display_title "How to Email Marketing - Tips from experts!"
= display_meta_description "Our experts give a quick introduction on how to approach small business marketing and how easy it is to get started!", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, how to write professional emails, how to send mass emails, how to send bulk email, how to do email marketing, how to mass email, how to send mass email, how to email marketing, how to send bulk emails, email marketing how to, how effective is email marketing, how to email marketing campaign, do it yourself email marketing, how to email market, how to design an email"

.row-fluid.breadcrumbs
  - breadcrumb :resources_how_to_email_marketing

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s How to Email Marketing
    %h2 A few how to email marketing tips and more ways to learn.
    = image_tag( 'how-to-do-email-marketing.jpg', alt: 'how to do email marketing', class: 'pull-right img-polaroid' )
    %p
      Below you will find a quick intro on how to do email marketing and how to simply get started. This will be a great way to learn do it yourself email marketing and how you can grow your audience and business.
    %p
      %h3 How effective is email marketing
      Email marketing is very effective. We built a business around it and trust us, we know email marketing. The industry standard is that email marketing returns a 40x ROI, which makes email marketing an effective marketing strategy for small businesses. So for every dollar you invest in email marketing you should expect anywhere around 20-50 pending on your product or service, industry, and type of business.
      .blank-space
    %p
      %h3 How to Send Mass Emails
      Sending mass emails is not easy but it is certainly not impossible. Also, many people have a different idea of what mass email consists of. Some think that sending mass email constitutes reaching thousands of subscribers where others are looking for millions. How to send bulk email is different from how to mass email because bulk usually means a large volume. We believe in natural subscriber acquisition and don’t like spammers. We’ve been there before and we can tell you that spamming does not give you good results. In order to send mass emails, you need to:
      %ul.bullet-disc
        %li Grow your list naturally.
        %li Have a good product or service.
        %li Be Consistent.
        .blank-space
    %p
      %h3 How to do email marketing
      So you ask yourself how to do email marketing? How to email marketing is very simple. We blog about it all the time and have a whole Resource library around email marketing and how you can grow your business using it. Check out our other resources for more ways to learn and become an expert on how to do email marketing.
      .blank-space
    %p
      %h3 How to write professional emails
      Professional emails consist of the following few tips and tricks:
      %ul.bullet-disc
        %li Make them cordial.
        %li Professional emails are quick and to the point. Don’t beat around the bush.
        %li Writing professional emails is about respect to your customers and making sure they understand your intent. 
        %li Don’t waste anyone’s time. 
        %li Test and Test again. Testing different keywords in professional emails will help you figure out what works best for you and your business.
      .blank-space
    %p
      %h3 How to email marketing campaign
      Creating an email marketing campaign is very easy. You can follow these 3 steps:
      %ol
        %li Come up with a message.
        %li Create the Creative
        %li Send it to an opt-in list.
      .blank-space
    %p
      %h3 How to design an email
      Designing an email is different for many marketers. Some people look for email templates and change them and some people create them from scratch. It’s important to know when designing an email to make sure that your emails are mobile responsive emails. This will make sure that your customers and prospects can read them on their mobile devices.
    %p
      Do it yourself email marketing is easy. You need to follow these 3 starting tips:
      %ol
        %li Start Growing your List.
        %li Come up with a few marketing campaigns.
        %li Start Sending.
      For more information on do it yourself email marketing, you will want to check out our marketing resources library.
    %p
      For more how to do email marketing tips and tricks, please follow our 
      %a{ :href => 'http://blog.optyn.com', :alt => "email marketing blog" } email marketing blog 
      or check out our other email marketing and small business resources.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space