= display_title "Catchy Email Subject Lines - Help improve your open rates!"
= display_meta_description "Subject lines are incredibly crucial when it comes to improving your open rates and conversions. Here are a few catchy subject lines that can help you kickstart your creative juices.", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz, catchy email subject lines, email marketing subject lines, marketing email subject lines, best subject lines"

.row-fluid.breadcrumbs
  - breadcrumb :resources_catchy_email_subject_lines

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Catchy Email Subject Lines
    %h2 Do you need a catchy email subject line to get your email opened and read?
    = image_tag( 'catchy-subject-lines.jpg', alt: 'catchy email subject lines', class: 'pull-right img-polaroid', title: 'Catchy Email Subject Lines' )
    %p
      Of course you need catchy email subject lines. After all, your direct competitors and the indirect competitors are all trying to do the same. And the goal of a good subject lines is to get your emails opened. If by catchy you think the words, “Free”, “Percentage Off” and “Reminder” are catchy, then you’re mistaken.  The word “free” in a subject line and email tends to get the attention of spam filters. As for words like “percentage off” and “reminder”, they traditionally don’t have good open rates.
    %p
      Here are some other tips for catchy email subject lines:
      %ul.bullet-disc
        %li Personalize your subject line and you can increase open rates by up to 25%
        %li Keep your subject line to fewer than 10 characters and you’ll get open rates around 60%
    %p
      %strong Here’s an interesting statistic.
      33% of email recipients open emails based on the subject line alone!  So, have a catchy email subject line and improve your open rates. Before you go all creative on us, make sure that you avoid the pitfalls of catchy subject lines and make sure your subject lines aren’t being picked up by spam. Words in All caps among many others can cause you to get picked up by spam filters and miss out on the opportunities.
    %p
      Check out our 
      %a{ :href => 'http://blog.optyn.com', :alt => "email marketing blog" } email marketing blog 
      for more information on marketing tips and tricks.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space