= display_title "Small Business Marketing Ideas"
= display_meta_description "Are you using email marketing the right way? Our email marketing experts shared a few tips with you!", "email apps, e-mail marketing, automated email marketing, affordable email marketing, email automation, crm email marketing, email marketing automation, managed email marketing, email based marketing, email deployment, email marketing crm, email marketing industry, email marketing information, emailing marketing, low cost email marketing, marketing by email, cpa email marketing, email marketing hosting, email marketing target, marketing with email, seo email marketing, emails marketing, send email marketing, based email marketing, interactive email marketing, unlimited email marketing, email marketing software wiki, email marketing software compare, email lead marketing, email marketing testing email marketing withemail marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz"

.row-fluid.breadcrumbs
  - breadcrumb :resources_marketing_ideas

.row-fluid
  .span3
    = render partial: 'resources_nav'
  .span9
    %h1.hdg-s Marketing Ideas
    %h2 Some basic email marketing ideas and what to say to your customers.
    = image_tag( 'marketing-ideas-resources.jpg', alt: 'marketing ideas', class: 'pull-right img-polaroid' )
    %p 
      Small businesses sometimes struggle with what to communicate to their customers and prospects.  Don’t worry, there is more to comment on than just new product announcements and sales.  Here are some topic ideas you may want to consider when engaging your audience.
    %p
      %strong Company Milestones.
      Have you had a recent anniversary, acquired your hundred thousandth customer, sold your 100,000 product?  Make sure that the announcement is interesting and people will enjoy reading about it.
    %p
      %strong Any New Hires / New Locations / Expansion Plans? 
      When a company grows its credibility increases. Plus, should you decide to highlight an emlployee or member of management you personalize your company.
    %p
      %strong Share Information.
      You’re an expert in your business.  Do you have any information to share? You may have discovered a new use for a product you sell.  Or maybe you recently conducted a survey. Or you could post a how-to video on YouTube and tell people about it.
    %p
      %strong It’s Not All About You.
      Don’t think that every communication has to be about your company.  Maybe there is a local event going on in the community you’d like your audience to know about, or a charity is conducting a food drive.
    %p
      %strong Give Something Away.
      Tell people about a product or informative white paper or anything they might find useful and give it away for free.  If the perceived value is higher than what you paid for it - you’re ahead of the game.
    %p
      For more marketing tips for small business please visit our 
      %a{ :href => 'http://blog.optyn.com', :alt => "email marketing blog" } email marketing blog
      and learn how you can grow your small business.
    .blank-space
    = render partial: 'get_started_banner'
    .blank-space