= display_title "Optyn - Salvatore's Ristorante in Chicago - Case Study"
= display_meta_description "Email Marketing works. Learn how 1 restaurant generates $5000+ per campaign.", "Salvatore's Ristorante, Salvatore's Chicago, Salvatore case study, email marketing for restaurants, email marketing results, email marketing ROI"
.case-study
  .row-fluid
    .span8.offset1
      %h1.salvatores Salvatore's Ristorante, Chicago, IL
    .span2
      = image_tag "salvatores-logo.png", alt: 'Salvatores Chicago'

  .row-fluid.padV4pc{:style => 'margin-top: -10px;'}
    .span5.offset1
      %h2 The Challenge
      %p{:style => 'text-align: justify;'} Salvatore’s Ristorante is a well-known Chicago wedding venue that provides a classic, elegant, and romantic setting that is perfect for a city wedding.  Salvatore’s also serves delicious Italian lunches and dinners in its old world charm restaurant.
      %p{:style => 'text-align: justify;'} As Valentine’s Day 2014 was approaching, Salvatore’s began looking for away to boost the number of restaurant bookings for this traditional popular date night.  Having been in business for many years, Salvatore’s usually averaged 150 to 200 dinner reservations for Valentine's Day. They set a goal of increasing their reservations for this special day by at least 25%.
    .span5
      = image_tag "salvatores-interior.jpg", alt: 'Salvatores Chicago', style: 'border: 5px; border-color: #2e3e51; border-style:solid;'
  .row-fluid{:style => "padding-bottom: 2%;"}
    .span10.offset1
      %h2 Solution
      %p{:style => 'text-align: justify;'} Salvatore’s decided to create an email campaign to send to its 3,000+ email subscribers.  The emails would be elegant and uncluttered and contain text that addressed three basic elements:
      %strong
        %ul.bullet-circle
          %li The Reminder - “Valentine's Day weekend is a few days away! Did you make reservations yet?”
          %li The Solution ­- “Salvatore's would love to host you and your loved one! We will have our doors wide open.”
          %li The Call to Action -­ “Please call or email Amanda or Suzi to make reservations.”
      %p{:style => 'text-align: justify;'} Using Optyn’s simple step-­by-­step process, Salvatore’s created, scheduled and sent – in just a few minutes ­a beautifully designed, mobile responsive, professional looking email to its list.

  .campaign-results
    .row-fluid.text-center.padV4pc
      .span10.offset1
        %h2 Campaign Result
        %p{:style => 'text-align: justify;'} 
          Salvatore's email campaign delivered an 
          %strong EXTRA 65 reservations
          for Valentine's Day a 25% to 30% increase over the usual number of Valentine's Day reservations and far exceeded Salvatore's improvement goal. Over 35% of subscribers opened their email which was sent only a few days before V-Day. With just one email campaign, Salvatore's was able to generate an additional $5,000+ in revenues they otherwise would not.
        .blank-space
        = image_tag "salvatores-statistics.png", alt: "Statistics"
  .row2.padV4pc
    .droplet
    .row-fluid.text-center
      .span10.offset1
        = image_tag "salvatores-statistics-2.png", alt: "email marketing statistics"

  .row-fluid.padV4pc
    .span5.offset1
      %h2 Conclusion
      %p{:style => 'text-align: justify;'} Optyn’s software is easy for merchants to understand and use, and best of all it delivers proven results. Small businesses need to engage and market to their customers on a consistent basis so they can increase sales and customer loyalty. Optyn is the perfect way to achieve these goals as it makes marketing simple, fast and effective.
    .span5
      %h2 About Optyn
      %p{:style => 'text-align: justify;'} Optyn makes marketing simple for independent and franchise business owners by giving them quick and easy tools to acquire and engage customers. While email is a primary communication mechanism, Optyn’s product integrates with social media and has been designed as a marketing automation platform.

  .row-fluid.try-it
    .span7.offset1
      %p Try it today and start engaging your customers and increasing sales.
    .span3
      %a.btn.btn-transparent.btn-block.btn-large{ href: new_merchants_manager_registration_path } Get Started for FREE!
