= display_title "E-Mail Marketing Sitemap for Optyn"
= display_meta_description "Find any page that you need and all the resources around our email marketing and small business marketing", "email marketing, small business marketing, email marketing resources, email marketing services, optyn email marketing, optyn marketing sitemap, optyn sitemap, email marketing sitemap"
/Links will be added here...

.op-sitemap
  .row-fluid
    .span12
      %h1 Sitemap

  .row-fluid
    .span4
      %h4 Our Company
      = render 'layouts/links_company'

    .span4
      %h4 For Merchants
      = render 'layouts/links_merchants'

    .span4
      %h4 For Partners
      = render 'layouts/links_partner'

  .blank-space

  .row-fluid
    .span4
      /Shop public Links
      %h4 Customer Profiles
      %ul
        - @shops.each do |shop|
          %li
            = link_to(shop.name, public_shop_path(shop.identifier))

    .span4
      %h4 Marketing
      = render 'main/marketing_nav'

.blank-space
