= display_title "E-Mail Marketing Sitemap for Optyn"
= display_meta_description "Find any page that you need and all the resources around our email marketing and small business marketing", "email marketing, small business marketing, email marketing resources, email marketing services, optyn email marketing, optyn marketing sitemap, optyn sitemap, email marketing sitemap"
/Links will be added here...

.op-sitemap
  .row-fluid
    .span12
      %h1 Sitemap

  .row-fluid
    .span4
      %h4 Our Company
      = render 'layouts/links_company'

    .span4
      %h4 For Merchants
      %ul
        %li
          %a{ :href => merchant_features_path } Features
        %li
          %a{ :href => '/tour' } Quick Tour
        %li
          %a{ :href => faq_path } FAQs
        %li
          %a( href = pricing_path ) Pricing
        %li
          %a{ :href => support_path, :target => "_blank" } Customer Support
        %li
          %a{ :href => new_merchants_manager_registration_path } Get Started!
        %li 
          %a{:href => marketing_path} Marketing Software
        %li
          %a{:href => resources_path} Marketing Resources
    .span4
      %h4 For Partners
      = render 'layouts/links_partner'

  .blank-space

  .row-fluid
    .span4
      %h4 Marketing Software
      %ul
        %li
          %a{ :href => '/marketing/email-marketing' } E-Mail Marketing
        %li
          %a{ :href => '/marketing/email-marketing/mobile-responsive-emails' } Mobile Responsive E-Mails
        %li
          %a{ :href => '/marketing/email-marketing/capturing-customer-emails' } Capturing Customer E-Mails
        %li
          %a{ :href => '/marketing/email-marketing/email-deliverability' } E-Mail Deliverability
        %li 
          %a{ :href => '/marketing/marketing-promotions'} Marketing Promotions
        %li
          %a{ :href => '/marketing/coupons'} Coupons
        %li
          %a{ :href => '/marketing/contests' } Contests
        %li
          %a{ :href => '/marketing/surveys'} Surveys
        %li
          %a{ :href => '/marketing/specials-and-sales'} Specials and Sales
        %li
          %a{ :href => '/marketing/social-media-marketing'} Social Media Marketing
        %li
          %a{ :href => '/marketing/marketing-automation' } Marketing Automation
        %li
          %a{ :href => '/marketing/marketing-syndication'} Marketing Syndication
        %li
          %a{ :href => '/marketing/marketing-recommendation'} Marketing Recommendation
        %li
          %a{ :href => '/marketing/online-marketing'} Online Marketing
        %li
          %a{ :href => '/marketing/automated-marketing'} Automated Marketing
        %li
          %a{ :href => '/marketing/loyalty-marketing'} Loyalty Marketing
        %li
          %a{ :href => '/marketing/customer-retention'} Customer Retention
        %li
          %a{ :href => '/marketing/marketing-analytics'} Marketing Analytics 
        %li
          %a{ :href => '/marketing/digital-marketing'} Digital Marketing
        %li
          %a{ :href => '/marketing/marketing-collaboration'} Marketing Collaboration
        %li
          %a{ :href => '/marketing/multi-channel-marketing'} Multi-channel Marketing
        %li
          %a{ :href => integrated_marketing_path} Integrated Marketing
    .span4
      %h4 Small Business Marketing Resources
      %ul.sidebar-nav
        %li
          %a{ :href => '/resources/email-marketing' } E-Mail Marketing
        %li
          %a{ :href => '/resources/email-marketing/mobile-responsive-emails' } Mobile Responsive E-Mails
        %li
          %a{ :href => '/resources/email-marketing/capturing-customer-emails' } Capturing Customer E-Mails
        %li
          %a{ :href => '#/resources/email-marketing/capturing-customer-data' } Capturing Customer Data
        %li
          %a{ :href => '/resources/email-marketing/evolution-of-email-marketing' } Evolution of E-Mail Marketing
        %li
          %a{ :href => '/resources/email-marketing/email-marketing-tips' } Email Marketing Tips
        %li
          %a{ :href => resources_best_practices_path } E-Mail Marketing Best Practices
        %li
          %a{ :href => '/resources/contests' } Contests
        %li
          %a{ :href => '/resources/coupons'} Coupons
        %li
          %a{ :href => '/resources/surveys'} Surveys 
        %li
          %a{ :href => '/resources/social-media-marketing'} Social Media Marketing
        %li
          %a{ :href => '/resources/digital-marketing'} Digital Marketing
        %li
          %a{ :href => '/resources/online-marketing'} Online Marketing
        %li
          %a{ :href => '/resources/customer-retention' } Customer Retention
        %li
          %a{ :href => '/resources/loyalty-marketing'} Loyalty Marketing
        %li
          %a{ :href => '/resources/marketing-analytics'} Marketing Analytics
        %li
          %a{ :href => resources_marketing_automation_path} Marketing Automation
        %li
          %a{ :href => '/resources/marketing-promotions'} Marketing Promotions
        %li
          %a{ :href => '/resources/marketing-syndication'} Marketing Syndication
        %li
          %a{ :href => '/resources/marketing-ideas'} Marketing Ideas
        %li
          %a{ :href => '/resources/integrated-marketing'} Integrated Marketing
    .span4
      %h4 Additional Services
      %ul 
        %li
          %a{ :href => email_marketing_software_path} Email Marketing Software
        %li
          %a{ :href => free_email_marketing_path} Free Email Marketing
        %li
          %a{ :href => free_email_marketing_software_path} Free Email Marketing Software
        %li
          %a{ :href => email_blast_software_path} Email Blast Software
        %li
          %a{ :href => bulk_email_software_path} Bulk Email Software
        %li
          %a{ :href => email_marketing_solutions_path} Email Marketing Solutions
        %li
          %a{ :href => mass_mail_software_path} Mass Mail Software
        %li
          %a{ :href => newsletter_software_path} Newsletter Software
        %li
          %a{ :href => free_newsletter_software_path} Free Newsletter Software
        %li
          %a{ :href => free_email_marketing_software_path} Free Email Marketing Software
        %li
          %a{ :href => email_marketing_agency_path} Email Marketing Agency
        %li
          %a{ :href => email_marketing_programs_path} Email Marketing Programs
  .row-fluid
    .span4
      %h4 Customer Profiles
      %ul
        - @shops.each do |shop|
          %li
            = link_to(shop.name, public_shop_path(shop.identifier))
.blank-space
