= display_title "Surveys for Small Businesses"
= display_meta_description "Create email marketing campaigns in 2 minutes or less with Optyn's email marketing software", "email marketing, email marketing software, email for small businesses, small business email marketing, email marketing for small biz."
= render partial: 'marketing_breadcrumbs'

.row-fluid
  .span3
    = render partial: 'marketing_nav'
  .span9
    %h1.hdg-s SURVEYS 
    %h2 Who knows what your customers want? Your Customers do so let’s ask them.
    = image_tag( 'surveys.jpg', alt: 'email marketing', class: 'pull-right img-polaroid' )
    %p 
      Surveys are a great way to know how your business is doing, how well your product is received, and what your customers think of your brand, and much more. 
    %p
      Optyn’s marketing platform for small businesses offers an easy way to create surveys and auto-segment your customers. The best part is that it’s included with every plan and it does not cost extra. 
    %p
      In fact, we pride ourselves to be the easiest marketing product for small businesses. The other great benefit is that it is more than just email marketing. Our product takes advantage of email marketing but it integrates other multi channels like social media to give merchants and small businesses an easy way to reach their customers.
    %p
      With Optyn Surveys, you are able to:
      %ul.bullet-disc
        %li Create Surveys in minutes.
        %li Send Surveys via email and social media.
        %li Reward your customers with a coupon for participation.
        %li Auto Segment your customers based on how they answer the surveys.
        %li E-Mail Surveys come embedded in the email so customers can easily fill it out without waiting to go to a different page.
        %li Preset surveys and survey questions are already waiting for you. All you need to do is get started.
    %p
      A good marketer knows their business and customer. Don’t be the other guy. Give Optyn survey’s a try for free and start learning more about your most important aspect of your business - your customer.
    .blank-space
    .row-fluid.bottom.sign-up
      .span6.creditcard
        %a.btn.btn-success.btn-large.btn-block{:href => new_merchants_manager_registration_path} Get Started for Free!
      .blank-space
