= display_title "Take the Optyn Email Marketing Tour"
= display_meta_description "Take a tour of Optyn and all the tools it offers for email marketing! Most of all, you get to try it for FREE!", "local marketing tools, email marketing, email marketing for smbs, small businesses, small business marketing, customer engagement, customer acquisition, email marketing software, email marketing tips"

.row-fluid.breadcrumbs
  .span12
    %a( href='/' )
      %i.icon-home
      %span
    %a( href = marketing_path )
      Marketing Software
      %span
    %a.current( href = tour_page_path)
      Tour
      %span

.row-fluid
  .span12{:align => "center"}
    %h1 We make Marketing for Small businesses EASY AND FUN!

.row-fluid
  .span6
    %h3 We Make E-Mail Marketing Overly Simple and Efficient!
    %p As one of our Investors once said, wow...this is overly simple. YES, and there is absolutely nothing wrong with that. In fact, that's the only way things should be...simple and efficient.

    %p We take a lot of the traditional headaches around email marketing out of the equation.

    %p We deal with it...so you don't have to.

    %a.btn.btn-large.btn-success( href = new_merchants_manager_registration_path ) Get started for FREE!
  .span6
    %a#merchant-video{ href: 'https://www.youtube.com/embed/qeT4ss-mlS4?autoplay=1' }
      = image_tag 'tour-video.png', alt: 'Video'

.separator-thin.large.light

.row-fluid
  .span6
    = image_tag 'screenshot-create-campaign.jpg', alt: 'Create campaign screenshot'
  .span6
    %h3 Proven ways to engage your customers.
    %p We are not reinventing the wheel here. We are just putting on some super performance tires on your marketing efforts. We give you simple ways of engaging your customer base so that you can increase:
    %ul
      %li Revenues 
      %li Customer Loyalty
      %li Customer Retention
      %li Your Reachable Customer Base
    %p Within 2 minutes or less, you are now able to creat great email marketing campaigns and start improving your business.

.separator-thin.large.light

.row-fluid
  .span6
    %h3 Built-In Automation so you don't have to.
    %p Our platform focus on making things simpler and efficient for you. We give you the ability to take advantage of best practices that are already built in.
    %p Now you can create email marketing campaigns with Mobile Responsive emails, suggested subject lines, proven engagements, and so much more.
  .span6
    = image_tag 'screenshot-dana-cafe.jpg', alt: 'Dana Cafe screenshot'

.separator-thin.large.light

.row-fluid
  .span6
    = image_tag 'screenshot-dashboard.jpg', alt: 'Optyn dashboard screenshot'
  .span6
    %h3 Your Marketing Performance at your fingertips.
    %p Easily track your performance of specific campaigns and your overall customer base. We put all of your marketing efforts at your fingerprints.

.separator-thin.large.light

.row-fluid.text-center.t-get-started
  .span12
    %div We essentially solve 2 problems:
    %strong Time & Expertise
    %div so you don't have to.
    %a.btn.btn-large.btn-success( href='#' ) Get started for FREE!


:javascript
$( function() {
  // Initialise video modal.
  $("#merchant-video").colorbox({iframe:true, innerWidth:640, innerHeight:390});
});
