#box_sign
  .container
    .span12.box_wrapper
      .span12.box
        %div  
          .head
            %h4 Add a new manager to your business 
          .form
            = form_for @manager ,:url => merchants_create_new_manager_path do |f|
              = f.hidden_field :parent_id, :value => @manager.parent_id
              = f.hidden_field :shop_id, :value => @shop.id

              = f.text_field :name, :placeholder => "Name"
              = f.text_field :email, :placeholder => "Email"
              = f.password_field :password, :placeholder => "Password"

              = f.password_field :password_confirmation, :placeholder => "Confirm Password"

              = f.submit "Submit"