= banner("#{current_shop.name} Managers")

/Main Body
#merchants.pad3pc
  .container
    .span8
      %div
        %a.btn{:href => merchants_add_manager_path}
          %i.icon-black.icon-user
          Add Manager
      %br
      %table.table.table-striped
        %tr 
          %th #
          %th Name
          %th Email
          %th Created at

        - @managers.each_with_index do |manager,index|
          %tr
            %td
              = index + 1
            %td
              = manager.name
            %td
              = manager.email
            %td
              = format_managers_created_at(manager.created_at)



