%h1
  Edit Label for
  = current_shop.name

= form_for :label, url: merchants_label_path(@label), :method => :put do |f|
  = render partial: 'form', locals: {f: f}

  .actions
    = f.submit 'Update', class: 'btn btn-primary'
    = link_to 'Back', merchants_labels_path, class: 'btn'

