%h1
  Lists for
  = current_shop.name
#merchants.pad3pc
  = link_to raw("<i class='icon-plus'></i> Create a New List"), new_merchants_label_path, :class => "btn btn-primary"
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Subscribers
        %th Edit
        %th Delete
    %tbody
      - @labels.each do |label|
        %tr
          %td= label.name
          %td= label.users_count
          %td= link_to 'Edit', edit_merchants_label_path(label)
          %td= link_to 'Destroy', merchants_label_path(label), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this label?' } if label.is_destroyable?

  %br

  
