= banner("  New Label for #{current_shop.name}")
#merchants.pad3pc
  .container-fluid
    .form
      = form_for :label, url: merchants_labels_path, :method => :post, :html => {class: 'form-horizontal'} do |f|
        = render partial: 'form', locals: {f: f}

        .action-buttons
          = f.submit 'Create', class: 'btn btn-primary'
          = link_to 'Back', merchants_labels_path, class: 'btn'
