%p
  %strong Name
  %br
  = @shop.name
%p
  %strong Description
  %br
  = show_description(@shop)

%p
  %strong Business Type
  %br
  = @shop.stype.humanize

%p
  %strong Website
  %br
  = show_website(@shop)

%p
  %strong Identifier
  %br
  = link_to show_identifier(@shop), show_identifier(@shop)

%p
  %strong Timezone
  %br
  = @shop.time_zone

%p
  %strong Logo
  %br
  = show_logo(@shop)

%p
  %strong Business Categories
  %br
    = show_business_category_names(@shop)