
%table.table.table-striped.table-hover
  %tbody
    %tr
      %th Name
      %td
        = @shop.name
    %tr
      %th Phone Number
      %td
        = shop_formatted_phone_number(@shop)
    %tr
      %th Description
      %td
        = show_description(@shop)
    %tr
      %th Business Type
      %td
        = @shop.stype.humanize
    %tr
      %th Website
      %td
        = show_website(@shop)
    %tr
      %th Identifier
      %td 
        = link_to show_identifier(@shop), show_identifier(@shop)
    %tr
      %th Timezone
      %td
        = @shop.time_zone
    %tr
      %th Logo
      %td
        = show_logo(@shop)
    %tr
      %th Business Categories
      %td
        = show_business_category_names(@shop)