%label.pull-left Name
= f.text_field :name
%label.pull-left Description
= f.text_field :description
%label.pull-left Logo
= f.file_field :logo_img
%label.pull-left Business Category
= f.select "business_ids",Business.all.collect {|p| [ p.name, p.id ] },{}, {:class => "chzn-select", :style => "width:250px; height:0px",:multiple=>true}
= f.submit "update" , class: "btn"
