#update_shop_wrapper
  .control-group
    .controls
      = f.text_field :name, 'data-toggle' => "tooltip", 'title' => :name, class: 'span12'

  .control-group
    .clabel
      = f.label :phone_number
    .controls
      = f.text_field :phone_number
      %span.help-block
        example: +1 (xxx) xxx-xxxx    

  .control-group
    .clabel
      = f.label :description
    .controls
      = f.text_area :description, 'data-toggle' => "tooltip", 'title' => :description, :placeholder => :description, class: 'span12'

  .control-group
    .controls.input-prepend
      %span.add-on
        %i.icon-globe
      = f.url_field :website, 'data-toggle' => "tooltip", 'title' => :website, :placeholder => :website, class: 'span12'
      .help-block
        %em Example: http://www.example.com

  .control-group
    .controls.input-prepend.input-append
      %span.add-on
        == #{SiteConfig.app_base_url}/
      =f.text_field :identifier, 'data-toggle' => "tooltip", 'title' => :identifier, :placeholder => :identifier
      %span.help-block
        %em Example: http://www.optyn.com/example
  %div#loading.control-group{style: "display:none"}
    %span.help-block.controls
      %em.text Loading...

  .control-group
    .controls
      = f.label :time_zone
      = f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, {include_blank: '-- Timezone --'}, {}

  .control-group
    .controls
      = f.label :logo_img, "Logo"
      = f.file_field :logo_img, 'data-toggle' => "tooltip", 'title' => 'Logo'

  .control-group
    .controls{ 'data-toggle' => 'tooltip', :title => 'Business Category' }
      = f.select "business_ids",Business.all.collect {|p| [ p.name, p.id ] },{}, {:class => "chzn-select span12", :style => "height:0px", :multiple => true}
  .action-buttons
    = f.submit "Update" , class: "btn btn-primary"
    = link_to "Cancel", merchants_shop_path, class: 'btn'

    = hidden_field_tag "check_identifier_merchants_shop_path", check_identifier_merchants_shop_path()
