= banner( 'Manage Shop' )

= render partial: 'merchants/merchant_managers/tabs'

#merchants.pad3pc
  %h2
    = "#{current_shop.name} Details"
  .action-buttons
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_merchants_shop_path(), :class => 'btn btn-primary'
    /%a.btn{:href => "upgrade"} Your Pricing Plan
    %a.btn{:href => edit_merchants_manager_registration_path} Edit Personal Info
    /%a.btn{:href => merchants_managers_list_path} View / Add Managers
    /%a.btn{:href => merchants_locations_path} View / Add Locations

  = render partial: "shared/shops/detail"
