- display_style ||= nil
- date_placeholder ||= nil
- time_placeholder ||= nil
- permanent_provision = true if permanent_provision.nil?
- type ||= :ending
.row-fluid.no-pad.expiration_date{:style => "display: #{display_style || show_message_part(@message.send(type))}"}
  .span6
    .input-append.date-picker
      = f.text_field "#{type}_date", value: formatted_message_form_date(@message, type), id: "message_#{type}", class: "input expiration_date", 'data-format ' => "yyyy-MM-dd", 'data-toggle' => 'tooltip', title: date_title, placeholder: (date_placeholder || 'Expiration Date')
      %span.add-on
        %i{'data-time-icon' => "icon-time", 'data-date-icon' => "icon-calendar"}

  .span6
    .input-append.time-picker
      = f.text_field "#{type}_time", value: formatted_message_form_time(@message, type), class: "input ", 'data-format' => "HH:mm PP", 'data-toggle' => 'tooltip', title: time_title, placeholder: (time_placeholder || 'Expiration Time')
      %span.add-on
        %i{'data-time-icon' => "icon-time", 'data-date-icon' => "icon-calendar"}

  - if @message.errors[type].present?
    %span.field-with-errors
      %span.error
        = @message.errors[type].join('</br>')
