.headertext
	%h5
		Optional

= f.fields_for :message_image do |fields|
	.control-group
		= fields.label :image, "Add an Image?", class: 'control-label'
		.controls
			= fields.file_field :image
			Your image will be autmatically added under the details of your message if you upload it.

.control-group
	= f.label :button_url, class: 'control-label'
	.controls
		= f.text_field :button_url, class: 'input-xlarge'
		enter the URL where you want the button and/or image to link

.control-group
	= f.label :button_text, class: 'control-label'
	.controls
		= f.text_field :button_text, class: 'input-xlarge'



