.optional
	.headertext
		%h4
			Optional

	= f.fields_for :message_image_attributes, @message.message_image do |builder|
		.control-group
			= builder.label :image, "Add an Image?", class: 'control-label'
			.controls
				= builder.file_field :image, 'data-toggle' => 'tooltip', title: 'Your image will be autmatically added under the details of your message if you upload it. It will be automatically resized so you dont have to worry about it.'
				- if @message.message_image.present?
					%div{style: 'margin: 20px'}
						= link_to 'Remove current image', remove_message_image_merchants_messages_path(:id => @message.uuid), :confirm => "Are you sure?", :class => 'btn btn-small btn-danger'
						.blank-space
						= image_tag(@message.message_image.image.to_s, title: "Current image", style: 'max-width: 100%;')

		= f.text_field :button_url, class: 'input-xlarge span12', 'data-toggle' => 'tooltip', title: 'Enter the URL where you want the button and/or image to link to. You can leave blank as well.', placeholder: 'URL'

		= f.text_field :button_text, class: 'input-xlarge span12', 'data-toggle' => 'tooltip', title: 'Enter the text for the button that will be created automatically. Example: Get Your Free Beverage Today', placeholder: :button_text.upcase
