.control-group.responce_email_fields
  = label_tag :incentive, "Incentivise/Thank your customer for the survey?",  class: 'control-label'
  .controls
    %span.input-large.uneditable-input{ 'data-toggle' => 'tooltip', title: 'This email will be triggered once the user takes the survey through their Optyn inbox or Email sent to them.'}
      = parent_message.first_child_message_name

    %span.adjust-child-message-link
      - if parent_message.has_children?
        = link_to "Edit Response Message", edit_merchants_message_path(parent_message.first_child_message_identifier), id: 'edit_child_message_link'
        |
        = link_to "Discard this message?", discard_response_message_merchants_message_path(parent_message.first_child_message_identifier), id: 'discard_child_message_link'
      - else
        = link_to "Add message", "#response_message_modal", 'data-toggle' => "modal"

    %span.adjust-child-message-loading{style: 'display: none;'}
      %strong Loading...

    - if parent_message.errors.include?(:child_message)
      .child-error-message
        = %{<span class="field-with-errors"><span class="help-inline error">#{parent_message.errors.get(:child_message).first}</span></span>}.html_safe

    / .trigger-message
    /   This email will be triggered once the user takes the survey through their Optyn inbox or Email sent to them

- unless parent_message.has_children?
  #response_message_modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4#myModalLabel Trigger this message after the customer takes this survey
    .modal-body
      = hidden_field_tag :response_message_action, create_response_message_merchants_message_path(id: (parent_message.uuid.blank? ? "na" : parent_message.uuid ))
      .control-group
        = label_tag :name, "Message Name", class: 'control-label'
        .controls
          = text_field_tag :child_message_name, "", placeholder: "Response message", class: 'input-xlarge'

      .control-group
        = label_tag :name, "Type of message", class: 'control-label'
        .controls
          = select_tag :child_message_type,
          options_for_select(Message.fetch_human_non_survey_template_names.collect{|type_name| [type_name, Message.type_from_human(type_name)]}),
          :prompt => '-- Select Message Type --'

    .modal-footer
      .actions
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
        %button.btn.btn-primary Save changes

      .loading.text-right{style: 'display:none;'}
        %strong Loading...