#merchant_page
  .container-fluid
    .row-fluid.titlebar
      .span12.logo.text-center
        .logo-cont
          = shop_logo(@shop)
        %h1
          = shop_name_with_city_state(@shop)
    .row-fluid.button
      .span12.text-center.optyn
        %strong
          = pluralize(@shop.connections.active.count, "Optyn")
        = form_tag("#{SiteConfig.app_base_url}#{subscribe_with_email_path}", method: :post) do
          %input{:type=>"text", :id=>"session_email", :name=>"user[email]" }
          %input{:type=>"hidden", :name=>"uuid", :value=>"#{@shop.uuid}"}
          %input{:type=>"hidden", :name=>"next", :value=>"#{request.original_url}"}
          %input{:type=>"hidden", :name=>"from", :value=>"public_page"}
          %input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token}
          %input{:type=>"submit", :value=>"Subscribe"}
    .row-fluid.mainbody
      .span8.offset2.details
        .title
          %h3
            == #{@shop.name} Details
        %table.table.table-striped
          %tbody
            - if @shop.businesses.present?
              %tr
                %th Category:
                %td
                  = @shop.business_category_names.join(" | ")
            - if @shop.locations.present?
              %tr
                %th Location:
                %td
                  = shop_address_components(@shop).join(", ")
            - if @shop.website.present?
              %tr
                %th Website:
                %td
                  = link_to @shop.website, @shop.website, target: '_blank'
