= banner("List Import")
  
.pad3pc
  .row-fluid.no-pad
    %a.btn.btn-success{:href => support_path, :target => "_blank", :style => "float:right;", :title => "Help Me", :class => active_tab_class(['messages'])}
      Help Me!
    %a.btn.btn-info{:href => "/user_import_stub.csv", :style => "margin-right:10px;float:right;", :title => "Campaign Center", :class => active_tab_class(['messages'])}
      %i.icon-download
      Sample File
  %br
  
  .import
    .span6
      = image_tag "import-customers-page_1_step1.png", :alt => 'Step 1'
    .span6
      = image_tag "import-customers-page_2_step2.png", :alt => 'Step 2'

    = form_for :file_import, :url => merchants_file_imports_path, :method => "post", multipart: true, html: {class: 'form-horizontal'} do |f|
      .row-fluid
        .span8.offset2.text-center{style: 'margin-top:10px;'}
          .control-group
            = f.label :csv_file, "Step 1 - Choose Subscriber CSV file*", class: 'control-label'
            .controls.text-left
              = f.file_field :csv_file, accept: '.csv,.CSV'

          .control-group
            = f.label :label, "Step 2 - Select or Create a list*", class: 'control-label'
            .controls.text-left.labels
              = hidden_field_tag "create_label_users_path", create_labels_for_user_merchants_connections_path
              = select_tag "label_ids[]", options_from_collection_for_select(@labels, :name, :name),
                 { id: "label_ids", multiple: 'multiple', class: 'chzn-select span12', 'data-placeholder' => 'Choose a list or create a new one.'}
              .span
                *if you are creating a new list you must hit enter to create it.

          .actions
            = f.submit "Start Import", class: "btn btn-primary"
          .span{style: 'font-size:10px;padding-top:5px;'}
            You agree to our 
            %a{:href => "https://www.optyn.com/anti-spam-policy", :target => "_blank"}
              anti-spam policy.
    .blank-space

    %table.table.table-striped.table-hover
      %caption Past List Imports
      %thead
        %tr
          %th #
          %th Name
          %th Status
          %th Label
          %th Stats
          %th Uploaded
      %tbody
        - if @file_imports.present?
          - @file_imports.each_with_index do |import, index|
            %tr
              %td= index + 1
              %td
                = File.basename(import.csv_file.to_s)
              %td
                = import.status.humanize rescue "-"
                - if import.error.present?
                  %a.error-popover{"style" => "color:red","data-content" => "#{import.error}", "data-toggle" => "popover","data-trigger"=>"hover", href: "#", title: ""} <i class="icon-question-sign"></i>
              %td
                = import.label
              %td
                - if import.stats.present?
                  - import.stats.each_pair do |key, value|
                    - if [:existing_connection, :connection_creation,:unparsed_rows].include?(key)
                      == #{stats_change[key]} = #{value}
                      %br
                - else
                  N/A
              %td
                = human_time(import.created_at) rescue "-"
        - else
          %tr
            %td{colspan: 6}
              No file imports yet.

:javascript
  $( function() {
    $(".error-popover").popover();
  });

