/Flash Notice
= display_flash_message
/Main Body
#dashboard
  .container
    = render partial: "merchants/shared/menu"
    .span8
      .header
        .maintitle
          %h3
            Import Users for
            = current_shop.name
          If you have a previous email list, you can easily import it into Optyn below.
      .import
      %br
      %br
        = form_for :file_import, :url => merchants_file_imports_path, :method => "post", multipart: true do |f|
          .control-group
            = f.label :csv_file, "Customer CSV file to Import", class: 'control-label'
            .controls
              = f.file_field :csv_file

          .actions
            = f.submit "Import", class: "btn btn-primary"