%div
  %p
    = render partial: "shared/#{message_partner_name(@shop)}/messages/content"

  - if @message.beginning.present? || @message.ending.present?
    %p
      %strong Please note:

    - if @message.beginning.present?
      %p
        %strong
          The sale starts on:
          = formatted_message_form_datetime(@message, 'beginning')

    - if @message.ending.present?
      %p
        %strong
          The sale ends on:
          = formatted_message_form_datetime(@message, 'ending')

  - if @message.fine_print.present?  
    %p
      %strong Fine Print:
      = render partial: "shared/#{message_partner_name(@shop)}/messages/fine_print"

= render partial: "shared/#{message_partner_name(@shop)}/messages/redemption"