= display_title "Optyn Login"
= display_meta_description "Login to your optyn account.", "marketing login, optyn login, log in"
#box_login.login-container.container-fluid
  .row-fluid
    .span4.offset4.box_wrapper
      .box
        .head
          %h4 Log in to your account

        = render partial: "users/shared/social_login_buttons"

        .form.row-fluid
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

            = f.text_field :email, :placeholder => "Email", value: params[:email], 'data-toggle' => 'tooltip', title: 'Email', 'data-tooltip-pos' => 'right'

            = f.password_field :password, :placeholder => "Password", 'data-toggle' => 'tooltip', title: 'Password', 'data-tooltip-pos' => 'right'

            .remember
              .left
                = f.check_box :remember_me, id: 'remember_me'
                =label_tag "remember_me"
              .right
                = link_to "Forgot your password?", new_password_path(resource_name)
            %br
            = f.submit "Sign in", class: "btn btn-primary btn-large"

        %h5{class: "already"} Don't have an account?
        .row-fluid.text-center
          /%a.btn.btn-info.consumer-btn.span6{:href => new_user_registration_path} 
          /%i.icon-user.icon-white
          /Consumer
          %a.btn.btn-info.merchant-btn{:href =>  new_merchants_manager_registration_path }
            %i.icon-user.icon-white
            Get Started!

= hidden_field_tag :login_type_omniauth_clients_path, login_type_omniauth_clients_path
= hidden_field_tag :login_type, ''

= render partial: "login_type"
