#box_login.login-container
  .container1
    .div
      .box
        %div
          .head
            = image_tag "logo_new.png", :alt => 'logo'
        .form
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

            = f.text_field :email, :placeholder => "Email", value: params[:email]

            = f.password_field :password, :placeholder => "Password"

            %br
            = f.submit "Sign in", class: "btn"

        %p{:align => "center"}
          %br
          Don't have an account?
          %br
          %br
          %a.btn.merchant-btn{:href => new_merchants_manager_registration_path}
            %i.icon-shopping-cart
            Merchant Sign Up

= hidden_field_tag :login_type_omniauth_clients_path, login_type_omniauth_clients_path
= hidden_field_tag :login_type, ''

= render partial: "login_type"