.social
  = link_to("<span class='face_icon'>#{image_tag("twt.png")}</span>".html_safe, "/auth/twitter", class: "circle twitter")
  = link_to("<span class='face_icon'>#{image_tag("face.png")}</span>".html_safe, "/auth/facebook", class: "circle facebook")
  = link_to("<span class='face_icon'>#{image_tag("gplus.png")}</span>".html_safe, "/auth/google_oauth2", class: "circle gplus")
  
  .division
    %hr{class: "left"}
    %span
      or
    %hr{class: "right"}