=# THE MODAL/PROPMT FOR THE TYPE OF THE ENTYTY LOGGING IN IS DISABLED AND THE LOGGING IN TYPE OF USER IS FORCED TO BE THE MANAGER ONCE THE USERS SOCIAL LOGGING IN IS REENABLED. 
=# NOT TOO TOO SURE WHATS GONNA HAPPEN FOR THE USER MODEL ENTITIES WHO HAVE LOGGED IN USING SOCIAL ICONS :(. DOESN'T MAKE SENSE.
.social
  = link_to("<span class='face_icon'>#{image_tag("twt.png")}</span>".html_safe, "/auth/twitter", class: "circle twitter")
  = link_to("<span class='face_icon'>#{image_tag("face.png")}</span>".html_safe, "/auth/facebook", class: "circle facebook")
  = link_to("<span class='face_icon'>#{image_tag("gplus.png")}</span>".html_safe, "/auth/google_oauth2", class: "circle gplus")
  = link_to("<span class='face_icon'>#{image_tag("linkedin.png")}</span>".html_safe, "/auth/linkedin", class: "circle linkedin")
  
  .division
    %hr{class: "left"}
    %span
      or
    %hr{class: "right"}