- if ((@error_hash) and (not @error_hash.empty?))
  #error_explanation
    %ul
      - @error_hash.each do |error|
        %li
          = error

#profile_wrapper
  .control-group
    = f.label :sp_type, 'Profile Type', class: 'control-label'
    .controls
      = SocialProfile::SOCIAL_PROFILES[@social_profile.sp_type].titleize
      = f.hidden_field :sp_type

  .control-group
    = f.label :sp_link, 'Profile Link', class: 'control-label'
    .controls
      .input-prepend
        %span.add-on
          = "http(s)://"
        = f.text_field :sp_link


  .actions
    = f.submit 'Save' , class: "btn btn-success"
    = link_to "Cancel", "javascript:void(0)", {"aria-hidden" => "true", "data-dismiss" => "modal", type: "button", class: 'btn'}
    .form-spinner{style: 'display: none;'} Please Wait...  