= banner('Social profiles')

= render partial: 'merchants/merchant_managers/tabs'

#merchants.pad3pc
  = link_to 'Add / Edit', new_merchants_social_profile_path(), :class => 'btn btn-primary'
  - if not @social_profiles.blank?
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th #
          %th Type
          %th Link
      %tbody
        - @social_profiles.each_with_index do |sp, index|
          %tr
            %td= index + 1
            %td
              = SocialProfile::SOCIAL_PROFILES.find{|k, v| v == sp.sp_type}[0]
            %td
              = sp.sp_link
  - else
    = "No social profiles added."
