= banner("Upload your template here")
= render partial: "merchants/messages/message_menu"

= form_for :template_upload, :url => :template_uploads, :method => :post, :multipart => true do |f|
  = f.label :template_html_file
  = f.file_field :template_html_file
  = hidden_field_tag :message_id, @message.uuid
  = f.submit :upload
