= banner("#{@servay.title.capitalize rescue ""}")
= link_to raw( "<i class='icon-white'></i> Back" ), merchants_segments_select_survey_path, class: "btn btn-primary"

#merchants.pad3pc
  = hidden_field_tag "create_label_merchants_survey_survey_answers_path", create_label_merchants_survey_survey_answers_path
  = hidden_field_tag "update_labels_merchants_survey_survey_answers_path", update_labels_merchants_survey_survey_answers_path

  - if @users_map.present?
    - @users_map.each_pair do |user_id, answers|
      #survey_answer_list
        - user = answers.collect(&:user).first()
        - if user.present?
          .name
            %h5.user
              User:
              = answers.first.user.display_name
              at:
              = answers.last.created_at #Need to verify with the best way to show the time format and zone

            - answers.each do |answer|
              .question
                %span.bordered Q
                = answer.question
              .answer
                %span.bordered A
                = answer.value.join("\n")
        - else
          - puts "*" * 100
          - puts user_id
          - puts "=" * 100

        - if user.present?        
          .labels{'data-toggle' => 'tooltip', title: 'Segment your customers by entering a label for them and press "enter" to add one'}
            = select_tag :label, options_from_collection_for_select(@names, :id, :name, user.user_labels.collect(&:label_id)),
              { id:"labels_#{user_id}", multiple: 'multiple', class: 'chzn-select span6', 'data-placeholder' => 'Segment your customers by entering a label for them and press "enter" to add one'}
            = hidden_field_tag "user_id", user_id, class: 'user_id'

    = paginate @paginated_users

  - else
    %ul
      %li
        No Responses Available
