/Powered By Eatstreet message
= render partial: "shared/#{message_partner_name(@shop)}/mailers/powered_by_eatstreet"


%div{ style: 'width:100%;padding:20px 0 0 0;text-align:center;'}
  %p{:style => "font-size: 11px;line-height: 14px; margin:0px;"}
    - if @message.present? 
      / Sent to information
      = render partial: "shared/#{message_partner_name(@shop)}/mailers/sent_to_address"
      
      / Render the unsubscribe link
      = render partial: "shared/#{message_partner_name(@shop)}/mailers/unsubscribe"

/Ask the user if this email was relevant
/= render partial: "shared/#{message_partner_name(@shop)}/mailers/relevance"