%h4 Description

= render partial: 'merchants/shared/messages/content', locals: {f: f}

.blank-space

.control-group.disc
  = f.label :type_of_discount, class: "control-label"
  #discount_type_container.controls.checkbox{ 'data-toggle' => 'tooltip', title: 'What Type of Discount do you want to do?' }
    .btn-group{ 'data-toggle' => 'buttons-radio' }
      type_of_discount:
      = :type_of_discount
      %button.btn.btn-primary{ :type => 'button', 'data-value' => :dollar_off } $ off
      %button.btn.btn-primary{ :type => 'button', 'data-value' => :percentage_off } % off

    = f.text_field :type_of_discount

.row-fluid.no-pad
  .span6
    = f.number_field :discount_amount, 'data-toggle' => 'tooltip',
      title: 'Please enter the value of the coupon.', placeholder: 'DISCOUNT AMOUNT',
      class: 'span12'
  .span6
    = f.text_field :coupon_code, 'data-toggle' => 'tooltip',
      title: 'Give the coupon an easy to use name. Example: 25OFF or 20MONDAY.',
      placeholder: 'COUPON CODE', class: 'span12'

= render partial: 'merchants/shared/messages/date', locals: {f: f, ending_label: "Coupon Expiration", ending_date_title: 'When does the Coupon expire?', ending_time_title: 'Time when the coupon expires.'}

%label.checkbox
  = f.check_box(:permanent_coupon)
  This coupon does not expire

= render partial: 'merchants/shared/messages/fine_print', locals: {f: f,
fine_print_verbiage: 'Is there any limitations or fine print for this promotion? If so, please add it here.'}

.blank-space

= render partial: 'merchants/shared/messages/optional', locals: {f: f}
