.headertext
  / %h3
  /   New Coupon Campaign
  %p
    This is easy! A coupon will get customers in your door and you will earn on average a 30% increase in sales.
  %p
    Let's get started!


= render partial: 'merchants/shared/messages/commons_header', locals: {f: f, name_label_text: 'Name the Campaign'}

= render partial: 'merchants/shared/messages/content', locals: {f: f}

.control-group
  = f.label :type_of_discount, class: "control-label"
  .controls.checkbox{ 'data-toggle' => 'tooltip', title: :type_of_discount }
    %label.radio.inline
      = f.radio_button :type_of_discount, :dollar_off
      == $ off or
    %label.radio.inline
      = f.radio_button :type_of_discount, :percentage_off
      == % off

.control-group
  = f.label :discount_amount, "How much?", class: 'control-label'
  .controls
    = f.number_field :discount_amount, 'data-toggle' => 'tooltip', title: 'The amount of the coupon, in percentage or dollar amount value.'

.control-group
  = f.label :coupon_code, "Coupon Code", class: 'control-label'
  .controls
    = f.text_field :coupon_code

= render partial: 'merchants/shared/messages/date', locals: {f: f, ending_label: "Coupon Expiration"}

.control-group
  .controls
    %label.checkbox
      = f.check_box(:permanent_coupon)
      This coupon does not expire

= render partial: 'merchants/shared/messages/fine_print', locals: {f: f,
fine_print_verbiage: 'You can use this to say things like 1 per customer or One Per order. The less limitations the better.'}

= render partial: 'merchants/shared/messages/optional', locals: {f: f}

= render partial: 'merchants/shared/messages/commons_footer', locals: {f: f}