= render partial: 'merchants/shared/messages/commons_header', locals: {f: f, name_label_text: 'Name the Campaign'}

= render partial: 'merchants/shared/messages/content', locals: {f: f}

= render partial: 'merchants/shared/messages/date', locals: {f: f, ending_label: "Event Date and Time"}

.control-group
  = f.label :rsvp, "RSVP Instructions", class: "control-label"
  .controls
    = f.text_area :rsvp, class: 'input-xxlarge details', rows: 3, cols: 10

= render partial: 'merchants/shared/messages/optional', locals: {f: f}    

= render partial: 'merchants/shared/messages/commons_footer', locals: {f: f}