= render partial: 'merchants/shared/messages/content', locals: {f: f}

.control-group
  Add Expiration date
  = check_box_tag "add_expiration_date" , true,  set_default(@message.ending_time)
= render partial: 'merchants/shared/messages/date', locals: {f: f, ending_label: "Date and Time", ending_date_title: 'Date when the sale ends', ending_time_title: 'Time when the sale ends.'}

.blank-space
.control-group
  Add button
  = check_box_tag "add_button" , true,  set_default(@message.button_url)
= render partial: 'merchants/shared/messages/optional', locals: {f: f}
