= render partial: 'merchants/shared/messages/commons_header', locals: {f: f, name_label_text: 'Name the Campaign', second_name_label_text: 'Sale Name'}

= render partial: 'merchants/shared/messages/content', locals: {f: f}

= render partial: 'merchants/shared/messages/date', locals: {f: f, beginning_label: "Date and Time"}

= render partial: 'merchants/shared/messages/fine_print', locals: {f: f, fine_print_verbiage: ''}

= render partial: 'merchants/shared/messages/commons_footer', locals: {f: f}