= render partial: 'merchants/shared/messages/commons_header', locals: {f: f, name_label_text: 'Name the Campaign', second_name_label_text: 'Sale Name'}

= render partial: 'merchants/shared/messages/content', locals: {f: f}

= render partial: 'merchants/shared/messages/date', locals: {f: f, beginning_label: "Date and Time"}

.control-group
  = f.label :fine_print, "Fine Print", class: "control-label"
  .controls
    = f.text_area :fine_print, class: 'input-xxlarge details', rows: 3, cols: 10

= render partial: 'merchants/shared/messages/commons_footer', locals: {f: f}