!!!
%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{:height => "100%", :width => "100%", :bgcolor => "#EEEEEE", :style => "font-family: Helvetica;sans-serif; margin: 15px;"}
    = content_for :header do
      Welcome to Optyn

    = render partial: "shared/system_emails/banner"

    %table{:width => "100%", :style => "background-color: white; max-width: 600px;", :align => "center"}
      %tr
        %td
        %td{:style => "bgcolor:#FFF;display:block!important; max-width:600px; margin:0 auto; clear:both;"}
          %div
            %table{:style => "padding:10px; max-width:580px; margin:0 auto; display:block;"}
              %tr
                %td
                  %h3{:style => "margin-left: 0px; margin-right: 0px; margin-top:10px; margin-bottom:10px;"}
                    Welcome to Optyn #{@resource.name}!
                  %p We are excited to have you and {Merchant-Name} on board. The good news is we are ready to get you going.
                  %p To make sure you are the person signing up using this email, please click on the link below to confirm your account.
                  %p{:style => "padding:10px;background-color:#ecf8ff;margin-bottom:10px;"}
                    %strong= link_to 'Confirm Your Account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :host => SiteConfig.app_host)
                  %br
                  %h5 Here are some awesome things that Optyn can do for you:
                  %p
                    %a{:href => "http://www.optyn.com", :style => "color: white;background: #64aaef;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;font: normal 16px/25px 'Open Sans', sans-serif;letter-spacing: 1px;border-bottom: solid 2px rgba(0, 0, 0, 0.2);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;border-top: 0;border-left: 0;border-right: 0;padding: 3px 10px;display: inline-block;margin-top: 10px;text-decoration: none;cursor:pointer;"} Learn More about Optyn
                  %p Here are some awesome features to look forward to:
                  %p
                    Cheers,
                    %br/
                    The Optyn Team
                  %table{:width => "100%", :bgcolor => "#ebebeb"}
                    %tr
                      %td
                        %table{:align => "left", :width => "280px", :style => "min-width:279px;float:left;"}
                          %tr
                            %td
                              %h5 Connect with Us:
                              %p
                                %a{:href => "http://www.facebook.com/optyn",:bgcolor => "#3B5998", :style => "padding: 3px 7px;font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:bold;display:block;text-align:center;"} Facebook
                                %a{:href => "http://www.twitter.com/optyn", :bgcolor => "#1daced", :style => "padding: 3px 7px;font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:bold;display:block;text-align:center;"} Twitter
                        %table{:align => "left", :width => "280px", :style => "min-width:279px;float:left;"}
                          %tr
                            %td
                              %h5 Contact Info:
                              %p
                                Phone:
                                %strong 773-828-9462
                                %br/
                                Email:
                                %strong
                                  %a{:href => "emailto:support@optyn.com"} support@optyn.com
                                %br/
                                %a{:href => "http://www.optyn.com"} Knowledge Base
                                +
                                %a{:href => "http://www.optyn.com"} How to Get Started
                        %span.clear
        %td

    = render partial: "shared/system_emails/footer"

