#add_user_wrapper
  .control-group
    = render :partial => "new_user", :locals => {:count => @user_count}
    .more_user
    .addMoreUser.controls
      = link_to "Add more ", add_more_user_merchants_connections_path(:user_count => @user_count), :remote => true

  .control-group
    = hidden_field_tag "create_label_users_path", create_labels_for_user_merchants_connections_path
    %span#label_success{:style => "display:none;color:green"}
      ascsdfsdf
    #add_user
      .control-label
        = label_tag "Select or Create a list*"
      .controls
        .labels{'data-toggle' => 'tooltip', title: 'Create a new list or choose an existing list'}
          - selected = params['label_ids'].nil? ? '' : params['label_ids'].map{|x| x}
          = select_tag "label_ids[]", options_from_collection_for_select(@names, :id, :name, selected),{multiple: 'multiple', class: 'chzn-select span12', 'data-placeholder' => 'Create a new list or choose an existing list'}

  .action-buttons
    = f.submit "Add New Subscribers" , class: "btn btn-primary btn-success"
    = link_to "Cancel", merchants_connections_path, class: 'btn'
