= banner("#{current_shop.name} Subscribers")

#merchants.pad3pc
  = link_to raw("<i class='icon-plus'></i> Add New Subscriber"), add_user_merchants_connections_path, :class => "btn btn-primary"

  .blank-space

  #filter_Form
    = render partial: 'filter_form'

  .separator-thin

  %p.pull-left
    Here's a list of all your subscribers. Click on name of customer to learn more.
  .pull-right
    %a.btn.btn-primary{:href => merchants_file_imports_path}
      %i.icon-cloud-upload
      Import Customers
    %a.btn.btn-primary.btn-info{:href => merchants_labels_path} View by lists

  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Customer
        %th Lists
        %th Subscriber Profile
    %tbody
      / - email_id = Permission.email_id
      / - name_id = Permission.name_id

      - @connections.each_with_index do |connection, index|
        - next if connection.user.nil?
        %tr
          %td= index + 1
          %td
            / = connection_user_display_name(connection, name_id, email_id)
            = connection.user.full_name
          %td
            %span.expandable
              - user_shop_labels = get_user_shop_labels(connection)
              = user_shop_labels
              / please dont remove this comment
          %td
            / - if connection.user.permissions_users.present?
            %a{href: "javascript:void(0)", class: "consumer_connection_link"} More Info
            = hidden_field_tag "show_path_#{connection.user.id}", merchants_connection_path(connection.user.id)
            / - else
            /   %a{:href => "#",:style => "color:#7D8B8F"} More Info

  = paginate @connections

  %div{:id => "conusmer_connection_modal", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
    Please Wait...
