= banner("#{current_shop.name} - Connections")
= link_to "Add new user", add_user_merchants_connections_path, :style => "margin-top: -62px; position: absolute; margin-left: 845px;", :class => "btn btn-primary"

#merchants.pad3pc
  %p.pull-left
    Here's a list of all your connections. Click on 'More Info' to learn more about each customer.
  %a.btn.btn-primary{:href => merchants_file_imports_path, :style => "float: right"} Import Customers
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Name
        %th Connected via
        %th Permission
        %th Details
        %th Edit
    %tbody
      - email_id = Permission.email_id
      - name_id = Permission.name_id

      - @connections.each_with_index do |connection, index|
        %tr
          %td= index + 1
          %td
            = connection_user_display_name(connection, name_id, email_id)
          %td
            = connection.connected_via
          %td
            = user_permission(connection.user)
          %td
            - if connection.user.permissions_users.present?
              %a{:href => "#infoDialog_#{connection.user_id}", "data-toggle" => "modal", "id" => "#{connection.user_id}", "class" => "open-infoDialog"} More Info
              = render partial: 'more_info_prompt', locals:{user: connection.user, name_id: name_id, email_id: email_id}
            - else
              %a{:href => "#",:style => "color:#7D8B8F"} More Info
          %td
            = link_to "Edit", edit_user_merchants_connections_path(connection.user_id)

  = paginate @connections
