#box_sign
  .container
    %h2 Your Account
    = render partial: "merchants/shared/menu"

    .span8
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Name
            %th Connected via
            %th Permission
            %th Details
        %tbody
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info
          %tr
            %td 3
            %td Alen Malkoc
            %td Website
            %td Full
            %td
              %a{:href => "#"} More Info
        - User.all.each do |user|
          %tr
            %td #
            %td 
              = user.name
            %td Website      
            %td
              = user_permission(user)
            %td
              - if user.permissions_users.present?
                %a{:href => "#infoDialog_#{user.id}","data-toggle"=>"modal", "id"=>"#{user.id}","class"=>"open-infoDialog"} More Info
                = render partial: 'more_info_prompt', locals:{:user=>user}
              - else
                %a{:href => "#",:style => "color:#7D8B8F"} More Info