#title_header
  %h3
    Your Connections
/Flash Notice
= display_flash_message
/Main Body
#merchants
  .container
    = render partial: "merchants/shared/menu"
    .span8
      %div
        Here's a list of all your connections. Click on 'More Info' to learn more about each customer.
        %br
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Name
            %th Connected via
            %th Permission
            %th Details
        %tbody
        - current_shop.users.each_with_index do |user, index|
          %tr
            %td= index + 1
            %td
              = user.name
            %td Website
            %td
              = user_permission(user)
            %td
              - if user.permissions_users.present?
                %a{:href => "#infoDialog_#{user.id}","data-toggle"=>"modal", "id"=>"#{user.id}","class"=>"open-infoDialog"} More Info
                = render partial: 'more_info_prompt', locals:{:user=>user}
              - else
                %a{:href => "#",:style => "color:#7D8B8F"} More Info