.span3.menuleft.leftNav
  %div
    / Hello
    / = current_user.name
    = link_to "Dashboard", consumers_root_path, :class => active(params[:controller], "dashboards")
    = link_to "Messages", inbox_messages_path, :class => active(params[:controller], "messages")
    = link_to "Connections", connections_path, :class => active(params[:controller], "connections")
    = link_to "Surveys", merchants_survey_path, :class => active(params[:controller], "merchants")
    = link_to "Account", profile_path, :class => active(params[:controller], "users/registrations")
    %a{:href => destroy_user_session_path} Logout