#template_header.tab-pane
  
  = hidden_field_tag "template_image_upload_path", upload_template_image_merchants_message_path(@message.uuid)

  = hidden_field_tag "properties[header][template_header_image_location]", ""

  = hidden_field_tag "properties[header][template_header_image_id]", ""

  = hidden_field_tag "properties[header][template_header_image_name]", ""

  .control-group.disc
    = label_tag "logo", "Header Content", class: 'control-label'
    .controls.checkbox
      .btn-group{ 'data-toggle' => 'buttons-radio' }
        %button.btn.btn-primary.active{ :id => 'properties_header_logo_image', :type => 'button', 'data-value' => :image } Image
        %button.btn.btn-primary{ :id => 'properties_header_logo_text', :type => 'button', 'data-value' => :text } Text

        = hidden_field_tag "properties[header][logo]", "image"

  .control-group{style: "display: none;"}
    = label_tag "logo", "Title", class: 'control-label'
    .controls
      = hidden_field_tag "properties[header][template_uuid]", @template.uuid
      = text_field_tag 'properties[header][logotext]', current_shop.name, :placeholder => 'Enter logo name', class: 'logo_text'
      = hidden_field_tag "properties[header][message_uuid]" , @message.uuid                

  .control-group
    = label_tag "image_upload", "Header Image Upload", class: 'control-label'
    #template_header_image_controls.controls
      / The fileinput-button span is used to style the file input field as button
      %span.btn.btn-success.fileinput-button
        %i.glyphicon.glyphicon-plus
        %span Select File
        / The file input field used as target for the file upload widget
        %input#fileupload{multiple: "multiple", name: "files[]", type: "file"}/

      %br/
      %br/
      / The global progress bar
      #progress.progress
        .bar.bar-success 

    #files.files       
        
  .control-group{style: "display: none;"}
    = label_tag "font_family", "Font Family", class: 'control-label'
    .controls
    = select_tag "properties[header][headline][css][font-family]", options_for_select(@header_font_families), class: 'input-medium'

  .control-group{style: "display: none;"}
    = label_tag "title_color", "Title Color:", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex", "id" => "properties_header_headline_css_color_container"}
        .btn-group
          %a.dropdown-toggle{"data-toggle" => "dropdown"}
            = text_field_tag "properties[header][headline][css][color]", "", class: 'template-color-field input-medium'
            %span.add-on
              %i{:style => "background-color: ''"}

  .control-group{style: "display: none;"}
    = label_tag "logo_align", "Align:", class: 'control-label'
    .controls
      = hidden_field_tag "properties[header][headline][css][text-align]","center",id: "logo_align"
      .btn-group{"data-toggle" => "buttons-radio"}
        %button.btn.btn-primary.left-align{type: "button", "data-align" => "left"}
          %span.icon-align-left
        %button.btn.btn-primary.center-align{type: "button", "data-align" => "center", class: "active"}
          %span.icon-align-center
        %button.btn.btn-primary.right-align{type: "button", "data-align" => "right"}  
          %span.icon-align-right

  .control-group
    = label_tag "background_color", "Background Color", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex", "id" => "properties_header_css_background-color_container"}
        .btn-group
          %a.dropdown-toggle{"data-toggle" => "dropdown"}
            = text_field_tag "properties[header][css][background-color]", "", class: 'template-color-field input-medium'
            %span.add-on
              %i{:style => "background-color: ''"}

  .control-group
    = label_tag "logolink", "Link", class: 'control-label'
    .controls
      = text_field_tag 'properties[header][logolink]', current_shop.display_website, :placeholder => 'http://www.example.com'                        
          
  .control-group.social-share
    = label_tag "social_sharing", "Social Sharing", class: 'control-label'
    .controls
    
      = check_box "properties[header][facebook]", "show",id: "facebook-setting"
      = "Facebook"
      
      = check_box "properties[header][twitter]","show", id: "twitter-setting"
      = "Twitter"

      = hidden_field_tag "properties[header][shareurl]", @public_msg
      = hidden_field_tag "properties[header][text]", @msg

  /Header Logo or Header Name
  .actions
    .pull-left
      %a{href: "javascript:void(0)", class: "btn btn-info template-property-action", 'data-tab' => 'template_layout'}
        %i{class: "icon-arrow-left"}

    .pull-right
      %a{href: "javascript:void(0)", class: "btn btn-success template-property-action", 'data-tab' => "#{next_tab("template_content", @template.name)}"}
        %i{class: "icon-arrow-right"}