= render partial: "shared/menu"

#box_sign
  .container
    %h2 Your Surveys


    %table.table
      %tr
        %th Merchant
        %th Description
        %th Survey
        %th Actions

      - if @surveys.present?
        - @surveys.each_with_index do |survey, index|
          %tr
            %td
              = survey.shop_name
            %td
              = survey.shop_description
            %td
              = survey.title
            %td
              = link_to "Provide a quick feedback", segment_path(survey), class: 'btn btn-info'
      - else
        %tr
          %td{colspan: 4}
            No surveys available right now

