= banner("#{current_shop.name} Surveys")
.clearfix
#questions_list.pad3pc
  = link_to "Create New Survey",  new_merchants_survey_path , :class=>"btn btn-primary"
  %a{:href =>  merchants_segments_select_survey_path, :class => "btn btn-primary"}
    View Survey Responses
  %table{class: 'table table-hover table-striped'}
    %thead
      %tr
        %th Survey
        %th Ready
        %th Last Updated At
        %th Action

    %tbody
      - if @list_survey.present?
        - @list_survey.each do |survey|
          %tr
            %td= survey.title
            %td
              -if survey.ready == true
                Yes
              -else
                No
            %td= survey.updated_at
            %td= link_to "Show" , merchants_survey_path(survey.id) ,:class=>"btn btn-info btn-mini" 
      - else
        %tr
          %td{colspan: "4"} No Survey