= banner("#{current_shop.name} Survey")
.clearfix
%br
#questions_list
%table{class: 'table table-hover table-striped'}
  %thead
    %tr
      %th Survey
      %th Action

  %tbody
    - if @list_survey.present?
      - @list_survey.each do |question|
        %tr
          %td= 
          %td= link_to "Show" , "/show/"#{@survey.id}
    - else
      %tr
        %td{colspan: "4"} No Survey


= render partial: "merchants/surveys/new_question_modal"
= render partial: "merchants/surveys/edit_question_modal"
