%div
  %div
    %h1= "#{@survey.title} (Customer segmentation questionaire preview)"

  %div
    - @survey_questions.each do |question|
      - if question.show_label
        %div
          %span
            = question.label.html_safe

      .clearfix

      %div
        = question.markup.html_safe

      .clearfix

  .actions
    = link_to "Show", merchants_survey_path, class: 'btn btn-info'
    = link_to "Edit", edit_merchants_survey_path, class: 'btn btn-primary'
    = render partial: 'merchants/surveys/launch_button', locals: {survey: @survey}
