#title_header
	%h3= "#{@survey.title}"
/Flash Notice
= display_flash_message
/Main Body
#merchants
	.container
		= render partial: "merchants/shared/menu"
		.actions
			= link_to "Show", merchants_survey_path, class: 'btn btn-info'
			= link_to "Edit", edit_merchants_survey_path, class: 'btn btn-primary'
			= render partial: 'merchants/surveys/launch_button', locals: {survey: @survey}
		.span8
			= render partial: "shared/surveys/markup", locals: {preview: true}