.social
  = link_to("<span class='face_icon'>#{image_tag("twitter_icon.png")}</span>".html_safe, "/auth/twitter", class: "face_login")
  = link_to("<span class='face_icon'>#{image_tag("facebook_icon.png")}</span>".html_safe, "/auth/facebook", class: "face_login")
  = link_to("<span class='face_icon'>#{image_tag("linkedin_icon.png")}</span>".html_safe, "/auth/linkedin", class: "face_login")

  .division
    %hr{class: "left"}
    %span
      or
    %hr{class: "right"}