#blog_wrapper
  .container
    .row
      .span8
        %h1.header
          Blog
        %hr/
        .post
          .row
            .span3
              %a{:href => "blog-post.html"}
                = image_tag "front_end_static_page/pic_blog.png", class: "main_pic", alt: "main pic"
            .span4.info
              %a{:href => "blog-post.html"}
              %h3 Measure theme blog post
              %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .post_info
                .author
                  Alejandra Galvan
                .date
                  Oct 12, 2012
          %a.btn{:href => "blog-post.html"} more
        .post
          .row
            .span3
              %a{:href => "blog-post.html"}
                = image_tag "front_end_static_page/pic_blog.png", class: "main_pic", alt: "main pic"
            .span4.info
              %a{:href => "blog-post.html"}
              %h3 Measure theme blog post
              %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .post_info
                .author
                  Alejandra Galvan
                .date
                  Oct 12, 2012
          %a.btn{:href => "blog-post.html"} more
        .post
          .row
            .span3
              %a{:href => "blog-post.html"}
                = image_tag "front_end_static_page/pic_blog.png", class: "main_pic", alt: "main pic"
            .span4.info
              %a{:href => "blog-post.html"}
              %h3 Measure theme blog post
              %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .post_info
                .author
                  Alejandra Galvan
                .date
                  Oct 12, 2012
          %a.btn{:href => "blog-post.html"} more
        .post
          .row
            .span3
              %a{:href => "blog-post.html"}
                = image_tag "front_end_static_page/pic_blog.png", class: "main_pic", alt: "main pic"
            .span4.info
              %a{:href => "blog-post.html"}
              %h3 Measure theme blog post
              %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .post_info
                .author
                  Alejandra Galvan
                .date
                  Oct 12, 2012
          %a.btn{:href => "blog-post.html"} more
        .pagination
          %ul
            %li
              %a{:href => "#"} Prev
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} Next
      .span3.sidebar.offset1
        %input.input-large.search-query{:placeholder => "Search", :type => "text"}/
        %h4.sidebar_header
          Menu
        %ul.sidebar_menu
          %li
            %a{:href => "#"} Suspendisse Semper Ipsum
          %li
            %a{:href => "#"} Maecenas Euismod Elit
          %li
            %a{:href => "#"} Suspendisse Semper Ipsum
          %li
            %a{:href => "#"} Maecenas Euismod Elit
          %li
            %a{:href => "#"} Suspendisse Semper Ipsum
        %h4.sidebar_header
          Recent posts
        %ul.recent_posts
          %li
            .row
              .span1
                %a{:href => "blog-post.html"}
                  = image_tag "front_end_static_page/pic_blog.png", class: "thumb", alt: "thumb post"
              .span2
                %a.link{:href => "blog-post.html"} Suspendisse Semper Ipsum
          %li
            .row
              .span1
                %a{:href => "blog-post.html"}
                  = image_tag "front_end_static_page/pic_blog.png", class: "thumb", alt: "thumb post"
              .span2
                %a.link{:href => "blog-post.html"} Maecenas Euismod Elit
          %li
            .row
              .span1
                %a{:href => "blog-post.html"}
                  = image_tag "front_end_static_page/pic_blog.png", class: "thumb", alt: "thumb post"
              .span2
                %a.link{:href => "blog-post.html"} Suspendisse Semper Ipsum
