/ portfolio
#portfolio.portfolio_page
  .container
    / header
    %h2.section_header.left
      %span
        Portfolio
        %small (3 columns)
    %hr.right.visible-desktop/
    / list
    .row
      .span12
        %ul.thumbnails
          %li.span4
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span4
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span4
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span4
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span4
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span4
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
    / header
    %h2.section_header.left
      %span
        Portfolio
        %small (4 columns)
    %hr.right.visible-desktop/
    / list
    .row.cols4
      .span12
        %ul.thumbnails
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
          %li.span3
            .thumbnail
              .pic
                %a{:href => "#"}
                  = image_tag "front_end_static_page/thumb_gallery.jpg", class: "pic", alt: ""
                  = image_tag "front_end_static_page/thumb_more.png", class: "see_more", alt: ""
              %h3 Maecenas Euismod Elit
              %p
                There are many variations of passages
                going to use passage anything.
