%table{:style => 'width:100%;text-align:center;min-height:20px;' + "#{@message.header_background_color_css_val rescue ('background-color:' + Shop::DEFAULT_HEADER_BACKGROUND_COLOR)}"}
  %tr
    %td
      %div{:style => "margin:0 auto;display:block;"}
        /#20A8DD for background - try it #0C9FD8
        %table{:style => 'width:100%;' + "#{@message.header_background_color_css_val rescue Shop::DEFAULT_HEADER_BACKGROUND_COLOR}"}
          %tr{:style => "width: 100%;"}
            %td{:style => "max-height: 40px;"}
              - if @shop_logo
                = email_body_shop_logo(@shop)
              - else
                = image_tag "http://www.optyn.com/assets/email_logo_white.png", style: 'margin: 5px;'

            %td{:style => "padding:10px; text-align: right;"}
              %h6{:style => "margin:0px;padding: 0px;font-size: 16px;color: #ffffff;weight:900;"}
                = yield :header
