
%table{:style => "width: 100%; clear:both; text-align:center; height: 60px;" + "#{@message.footer_background_color_css_val};", :align => "center"}
  %tr
    %td
    %td
      %div{:margin => "left:10px", :style => "vertical-align: middle; margin:0 auto 0 auto;display:block;"}
        %table{:width => "100%"}
          %tr
            %td{:style => "text-align:center"}
              %p{:font => "bold", :style => "font-size: 14px; margin: 0px; color:#ccc;"}
                - if @message.present?  
                  - if @message_user.present?
                    = link_to('Unsubscribe', "#{SiteConfig.app_base_url}#{removal_confirmation_connection_path(Encryptor.encrypt(@message_user.email, @message.uuid))}?tracker=#{@message_user.uuid}")
                  - else
                    = link_to('Unsubscribe', "javascript:void(0)")
                    
    %td
