/ #message_preview_container{:style => "  width: 100%; "}

%table#message_preview_container{:style => "width: 100%;margin: auto; font-family: sans-serif;"}
  %tr{:style => "width: 100%;"}
    %td{:style => "width: 100%;background-color: #EEEEEE;padding: 20px;"}
      - if @message.show_banner?
        = render partial: "shared/mailers/banner"

      %table.outer-table{:style => "background-color: white; width: 100%; text-align: left;"}
        %tr
          %td
          %td.outer-cell{ style: 'padding: 20px;'}
            - if @message.type == "CouponMessage" and @message.coupon_code
              = image_tag generate_qr_code_path("svg", :message_id => @message.id), :width => 150, :height => 150, :style => "float: right"
            .message-content
              - if @message.show_greeting?
                = render partial: "shared/messages/greeting", locals: {preview: preview, customer_name: customer_name}

              %p.core-content
                = render partial: "shared/messages/#{message_rendering_partial(@message)}", locals: {preview: preview}

                = render partial: "shared/messages/bottom_image_and_button"
                        
      - if @message.show_footer?
        = render partial: "shared/mailers/footer"
