#message_preview_container{:style => "background-color: #EEEEEE; text-align: center; max-width: 800px;"}

  - if @message.show_banner?
    = render partial: "shared/mailers/banner"

  %table{class: 'outer-table', :style => "background-color: white;"}
    %tr
      %td
      %td{class: 'outer-cell'}
        %div
          %table{class: 'inner-table'}
            %tr
              %td
                .message-content
                  - if @message.show_greeting?
                    = render partial: "shared/messages/greeting", locals: {preview: preview, customer_name: customer_name}

                  %p.core-content
                    = render partial: "shared/messages/#{message_rendering_partial(@message)}", locals: {preview: preview}
  - if @message.show_footer?
    = render partial: "shared/mailers/footer"