%div
  %p
    == #{@message.shop_name} is treating you with a #{message_discount_type_text(@message)} off coupon. 
  %p  
    Here are the details:
  %p
    %strong Coupon Name:
    %div
      = @message.name

  %p
    %strong Details:
    = render partial: "shared/messages/content"

  %p
    %strong Fine Print:
    = render partial: "shared/messages/fine_print"


  /TODO QRCODE IMAGE WILL COME HERE LATER
  %p{:style => "text-align:center;"}
    Coupon code:
    %em{style: 'font: bold 1em/1em sans-serif; background: #ddd; padding: 2px 10px; margin: 15px 0 0 0;'}
      = @message.coupon_code

%div
  %strong How to Redeem:
  %p
    == Just bring or show this email to #{@message.shop_name} (print out or show it on your iPhone) and bamm, you got yourself an awesome #{message_discount_type_text(@message)} off at #{@message.shop_name}.

  %p
    == How awesome is that? Go ahead and hurry before it expires on #{formatted_message_form_datetime(@message, 'ending')}.

  %p
    You can also share this coupon with your friends. Share via Facebook or Twitter.

  %p
    == Can't View this Coupon? #{link_to('Click here', "", onclick: "Coming Soon")} to view it in your Account.
