%div
  %p
    - if @message.content.present?
      = render partial: "shared/messages/content"
    - else
      %p
        == We need your feedback. Help us out by filling out the survey below.

    - @survey = @message.survey
    - @survey_questions = @survey.survey_questions

    %h3{ style: 'font-family: sans-serif; font-size: 1.1em; font-weight: bold;' }
      = "#{@survey.title}"

    - if preview

      = render partial: "shared/surveys/markup", locals: {preview: false}

      = link_to "Submit Feedback", "javascript:void(0)", class: "btn btn-primary"

    - else
      = render partial: "segments/actual_form"

  = render partial: "shared/messages/fine_print"

  %div
    %p
      %strong
        Having Problem submitting the survey. Take the survey online?
        - survey_name = (@survey.title.blank? ? "#{@survey.shop.name} Survey" : @survey.title)
        - if preview
          = link_to survey_name, "javascript:void(0)"
        - else
          = link_to(survey_name, SiteConfig.app_base_url + default_segment_path(Encryptor.encrypt((@user || current_user || current_manager).email, @survey.id), email_survey: true, message_id: (@message.uuid rescue nil)))
