%div{ style: 'padding:0!important; margin:0 auto; max-width:600px!important;'}
  %div{ style: 'width: 270px; float:left;padding-right:10px'}
    %table{align: 'left', style: 'width: 100%'}
      %tr
        %td{style: 'padding-right:6px;'}
        - unless @message.discount_amount.present?
          %p
            == "We are having a special. Here are the details:":
        - else
          %p
            == We are offering a #{message_discount_type_text(@message)} off special.
          %p
            %strong Promotion Name:
            = @message.name

          %p
            %strong The Details:
            /= render partial: "shared/#{message_partner_name(@shop)}/messages/content"
            = @message.content

  %div{style: 'width: 210px; float:left;'}
    %table{align: 'left', style: 'width: 100%'}
      %tr
        %td
          %p{style: 'text-align: center;font-size:40px;font-weight:900;'}
            == #{message_discount_type_text(@message)} OFF
          %div{style: 'text-align:center;'}
            = message_bottom_image(@message, @message_user)

            - if @message.show_button?
              /orange is #ff9c00 green is 63af31
              = link_to @message.button_text, @message.display_button_link, target: '_blank', style: "width:100%;text-decoration:none;color: white;background: #63af31;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; font-size: 22px; font-weight: bold;transition: all 0.2s ease-out;border: 0;padding: 20px 40px 20px 40px;display: inline-block;margin-top:5px;margin-bottom: 15px;"
  - if @message.fine_print.present? 
    %table{ style: 'width:100%;'}
      %tr
        %td
          %p
            %strong The Fine Print:
            = render partial: "shared/#{message_partner_name(@shop)}/messages/fine_print"
  = render partial: "shared/#{message_partner_name(@shop)}/messages/redemption"