%div
  %p
    - if @message.content.present?
      = render partial: "shared/#{message_partner_name(@shop)}/messages/content"
    - else
      %p
        == We need your feedback. Help us out by filling out the survey below.

    - @survey = @message.survey
    - if @survey.present?
      - @survey_questions = @survey.survey_questions

      %h3{ style: 'font-family: sans-serif; font-size: 1.1em; font-weight: bold;' }
        = "#{@survey.title}"

      - if preview

        = render partial: "shared/surveys/markup", locals: {preview: false}

        = link_to "Submit Feedback", "javascript:void(0)", class: "btn btn-primary"

      - else
        = render partial: "segments/actual_form", locals: {base_url: SiteConfig.email_app_base_url}

  = render partial: "shared/#{message_partner_name(@shop)}/messages/fine_print"

  %div
    %p
      %strong
        Having Problem submitting the survey. Take the survey online?
        - survey_name = (@survey.title.blank? ? "#{@survey.shop.name} Survey" : @survey.title rescue "")
        - if preview
          = link_to survey_name, "javascript:void(0)"
        - else
          = link_to(survey_name, SiteConfig.app_base_url + default_segment_path(Encryptor.encrypt((@user || current_user || current_manager).email, @survey.id), email_survey: true, message_id: (@message.uuid rescue nil)))
