#button_stats.row-fluid
	.span6
		%table.table.table-condensed.table-striped.table-hover
			%caption Optyn Button
			%tbody
				%tr
					%td Conversion
					%td
						= number_with_precision(@conversion_percent.to_f, precision: 2)
				%tr
					%td Total opt-ins
					%td
						= @opt_ins
				%tr
					%td Total impressions
					%td
						= @optyn_impressions
				%tr
					%td Total clicks
					%td
						= @optyn_button_clicks

	.span6
		%table.table.table-condensed.table-striped.table-hover
			%caption Capture Form
			%tbody
				%tr
					%td Conversion
					%td
						= number_with_precision(@email_box_conversion_percent.to_f, precision: 2)
				%tr
					%td Total opt-ins
					%td
						= @email_box_opt_ins
				%tr
					%td Total impressions
					%td
						= @email_box_impressions
				%tr
					%td Total clicks
					%td
						= @email_box_clicks
