= hidden_field_tag :reset, false
.custom
  = f.text_field :redirect_uri, placeholder: 'Enter Your website URL', 'data-toggle' => 'tooltip', title: 'Enter your website URL', class: 'input-xlarge span12'

  = f.hidden_field :call_to_action, value: 3.to_s

  .option
    %h5 Choose a top bar or regular form
    %a{"data-toggle" => "tooltip", :href => "#", :title => "Highly Recommended. We recommend the Top bar that gives you a better way of capturing your customers.", :class => "tip"}
      %label.radio.inline
        = f.radio_button :render_choice, 1.to_s, :class => "render_choice"
        Top Bar
    %a{"data-toggle" => "tooltip", :href => "#", :title => "A module can be placed anywhere on a website and within a content.", :class => "tip"}
      %label.radio.inline
        = f.radio_button :render_choice, 2.to_s, :class => "render_choice"
        Regular

  .option.bar_options{ :style => "#{show_bar_option(@application.render_choice)}" }
    %label.radio.inline
      = f.radio_button :begin_state, 1
      Bar Expanded

    %label.radio.inline
      = f.radio_button :begin_state, 0
      Bar Collapsed
  .option.bar_color{ :style => "#{show_bar_option(@application.render_choice)}" }
    %label
      Choose Bar Background Color
  .custom.bar_color{ :style => "#{show_bar_option(@application.render_choice)}" }
    = f.text_field :background_color

  .option
    = f.check_box(:show_name)
    Collect Name & Email

  .option
    = f.check_box(:show_form)
    Display Form Code

  .option
    %label.checkbox
      = f.check_box(:show_default_optyn_text, class: 'optyn-text-preference')
      Use Optyn Text

    %textarea{:rows => "3", :placeholder => SiteConfig.api_welcome_message, :readonly => 'readonly'}

  .option
    %p
      %strong Or

  .option
    %label.checkbox{"data-toggle" => "tooltip", :title => "You can write your own custom message to get people to opt-in."}
      = check_box_tag(:show_custom_optyn_text, '1', false,  class: 'optyn-text-preference')
      Use Custom Optyn Text

    = f.text_area(:custom_text, rows: 3, :class =>"input-xxlarge", :placeholder => "Enter your custom tag line here. Be creative or use ours.")
  .option
    %label
      Redirect URL - Where should subscribers go after they opt-in?
  .custom
    = f.text_field :redirect_uri_after_login, placeholder: 'Redirect URL', 'data-toggle' => 'tooltip', title: 'Enter your Redirect Url', class: 'input-xlarge span12'
  .option
    %label
      Add users to the Following List
  .custom
    = hidden_field_tag "create_label_users_path", create_labels_for_user_merchants_connections_path
    = f.select :label_ids, options_from_collection_for_select(@labels, :id, :name, @label_ids),
        {}, { id: "message_label_ids", multiple: 'multiple', class: 'chzn-select span12', 'data-placeholder' => 'Please select a list to which we should add new subscribers.'}

  .option
    %label
      Custom CSS
  .custom
    = f.text_area :custom_css, placeholder: 'Custom Css', 'data-toggle' => 'tooltip', title: 'Custom Css', :class => "span12"
    - unless @application.new_record?
      .refresh
        %a.btn.btn-primary.refreshbtn{:id => "save_button", :href => "javascript:void(0)"} Save
        %a.btn.btn-primary.refreshbtn{:id => "save_and_reset_button", :href => "javascript:void(0)"} Save & Reset Form
    - else
      .refresh
        %a.btn.refreshbtn.btn-block.btn-primary{:id => "generate_button", :href => "javascript:void(0)"} Create Form

    #loading{style: "display: none; text-align: right;"}
      %strong
        Loading...


:javascript
  $(document).ready(function(){
     $('#oauth_application_background_color').colorpicker({format: 'hex'});
  });