= hidden_field_tag :reset, false
.custom
  = f.text_field :redirect_uri, placeholder: 'Enter your website URL.'

  .option
    %a{"data-toggle" => "tooltip", :href => "#", :title => "The Small button is great for inline content and if there is limited space.", :class => "tip"}
      %label.radio.inline
        = f.radio_button(:call_to_action, 1.to_s)
        Small Button

    %a{"data-toggle" => "tooltip", :href => "#", :title => "The Large Button gives you a great way to get noticed. Put it anywhere on the site.", :class => "tip"}
      %label.radio.inline
        = f.radio_button(:call_to_action, 2.to_s)
        Large Button

    %a{"data-toggle" => "tooltip", :href => "#", :title => "An E-Mail Box is an alternative to the optyn button. The E-Mail Box is the traditional way to capture users.", :class => "tip"} 
      %label.radio.inline
        = f.radio_button(:call_to_action, 3.to_s)
        Email Box

  .option
    %a{"data-toggle" => "tooltip", :href => "#", :title => "Highly Recommended. We recommend the Top bar that gives you a better way of capturing your customers.", :class => "tip"}
      %label.radio.inline
        = f.radio_button :render_choice, 1.to_s
        Top Bar
    %a{"data-toggle" => "tooltip", :href => "#", :title => "A module can be placed anywhere on a website and within a content.", :class => "tip"}
      %label.radio.inline
        = f.radio_button :render_choice, 2.to_s
        Module

  .option
    %label.checkbox
      = f.check_box(:checkmark_icon)
      Show Checkmark Icon

  .option
    %label.checkbox
      = f.check_box(:show_default_optyn_text, class: 'optyn-text-preference')
      Use Optyn Text

    %textarea{:rows => "3", :placeholder => SiteConfig.api_welcome_message, :readonly => 'readonly'}

  .option
    %p
      %strong Or

  .option
    %label.checkbox
      = check_box_tag(:show_custom_optyn_text, '1', false,  class: 'optyn-text-preference')
      %a{"data-toggle" => "tooltip", :href => "#", :title => "You can write your own custom message to get people to opt-in.", :class => "tip"} Use Custom Optyn Text

    = f.text_area(:custom_text, rows: 3, :placeholder => "Enter your custom tag line here. Be creative or use ours.")

    - unless @application.new_record?
      .refresh
        %a.btn.refreshbtn{:id => "save_button", :href => "javascript:void(0)"} Save
        %a.btn.refreshbtn{:id => "save_and_reset_button", :href => "javascript:void(0)"} Save & Reset Token
    - else
      .refresh
        %a.btn.refreshbtn{:id => "generate_button", :href => "javascript:void(0)"} Generate Button

    #loading{style: "display: none; text-align: right;"}
      %strong
        Loading...