.btn-preview
  - unless @application.new_record?

    .optyn-preview
      - if [1, 2].include?(@application.call_to_action.to_i)
        /== #{image_tag('optyn_button_checkbox.png', alt: 'checkmark') if @application.checkmark_icon}#{image_tag @application.call_to_action == 1 ? "optyn_button_small.png" : "optyn_button_large.png", alt: 'optyn button'}
        %a.optynButton{:class => small_cass(@application.call_to_action ) , :id => checkbox_image(@application.checkmark_icon)}
          .tick
            %img{ src: asset_path( 'OptynButtonTick.png'), alt: '' }
          %strong
          %span
            = @application.call_to_action == 1 ? "Optyn" : "Subscribe via"
      - else
        - if @application.present?
          %iframe{src: fetch_code_merchants_app_path(), :frameborder => 0, :scrolling => "auto", style: "width: 100%;"}

      %p
        = @application.show_default_optyn_text ? SiteConfig.api_welcome_message : @application.custom_text
    
    .codesnippet
      %textarea.span12#embed_code{:rows => "5", :readonly => 'readonly'}
        - if !@application.show_form?
          = current_shop.oauth_application.embed_code
        - else
          = current_shop.form_code
    .blank-space
    .btns
      %span#copy_description_cover
        %a.btn.btn-small.copybtn{:id => 'copy_description', :href => "javascript:void(0)"} Copy to Clipboard
        .copy-notice
    .need-help
      Need Help Installing this? Email alen@optyn.com and we will help you.
  - else
    .header
      No preview available yet.
