= banner( "Collect E-Mails from your Customers" )

#merchants.pad3pc.clearfix

  #ob-accordion.accordion.o-btn
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => 'ob-accordion', href: '#clps-stats' }
          Statistics
      #clps-stats.accordion-body.collapse
        .accordion-inner
          = render partial: 'button_stats_report'
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => 'ob-accordion', href: '#clps-o-btn' }
          E-mail Subscription Form
      #clps-o-btn.accordion-body.collapse.in
        .accordion-inner
          .preview.app-container
            %h5
              You can customize your opt-in form below.
            .main.row-fluid
              .customize.span12
                %h3 Customize
                .custom
                  .form-wrapper
                    - if  @application.blank? || @application.new_record?
                      = render partial: 'new'
                    - else
                      = render partial: 'edit'

            .row-fluid
              .span12
                %h3 Preview
                = render partial: "preview"

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{ 'data-toggle' => 'collapse', 'data-parent' => 'ob-accordion', href: '#clps-adv' }
          Advanced Settings
      #clps-adv.accordion-body.collapse
        .accordion-inner
          = render partial: 'advanced'

:javascript
  $( function() {
    //$('#ob-accordion').collapse('toggle');
  });