= banner("Your Optyn button for your #{current_shop.name} Website")

#merchants.pad3pc
  .preview.app-container
    .header
      %h6
        Use this cool tool to generate the Javascript so that you can just plug and play your Optyn button and start getting your customers to optin and grow your Customer Base.
    .main
      .customize
        .header
          Customize Your Optyn Button
          %hr
        .custom
          .form-wrapper
            - if  @application.blank? || @application.new_record?
              = render partial: 'new'
            - else
              = render partial: 'edit'

      = render partial: "preview"

    = render partial: 'advanced'
