= display_flash_message
/Main Body
#merchants
  .container
    = render partial: "merchants/shared/menu"
    .span8.preview.app-container
      .header
        %h3
          Your Optyn button for your 
          = current_shop.name
          Website
        %h6
          Use this cool tool to generate the Javascript so that you can just plug and play your Optyn button and start getting your customers to optin and grow your Customer Base.
      .main
        .span3.customize
          .header
            Customize Your Optyn Button
            %hr
          .custom
            .form-wrapper
              - if  @oauth_application.blank? || @oauth_application.new_record?
                = render partial: 'new'
              - else
                = render partial: 'edit'

        = render partial: "preview"

      = render partial: 'advanced'