= banner( "Optyn Button" )

.menu-cont
  .btn-group
    %a.btn.dropdown-toggle{ 'data-toggle' => "dropdown", href: "#" }
      STATISTICS
      %span.caret
    %ul.dropdown-menu
      %li.title OPTYN BUTTON
      %li
        %table.table.table-condensed
          %tr
            %td Conversion
            %td 10%
            %td up
          %tr
            %td Total opt-ins
            %td 123
            %td up
          %tr
            %td Total impressions
            %td 456
            %td up
          %tr
            %td Total clicks
            %td 789
            %td up
      %li.title Email Box
      %li
        %table.table.table-condensed
          %tr
            %td Conversion
            %td 10%
            %td up
          %tr
            %td Total opt-ins
            %td 123
            %td up
          %tr
            %td Total impressions
            %td 456
            %td up
          %tr
            %td Total clicks
            %td 789
            %td up

#merchants.pad3pc.clearfix
  .preview.app-container
    %strong
      Use this cool tool to generate the Javascript so that you can just plug and play your Optyn button and start getting your customers to opt-in and grow your customer base.
    .main.row-fluid
      .customize.span6
        %h3 Customize
        .custom
          .form-wrapper
            - if  @application.blank? || @application.new_record?
              = render partial: 'new'
            - else
              = render partial: 'edit'

      .span6
        %h3 Preview
        = render partial: "preview"

    = render partial: 'advanced'
