.row-fluid
	.span6
		%h5 OPTYN.COM
		www.optyn.com
	.span6.text-right
		= Time.now.strftime("%B %d,%Y")

.blank-space

%table.table.op-invoice
	%tbody
		%tr
			%td
				Subscription to 
				= @charge.amount 
				pm
			%td
				= @charge.amount
		/ %tr
		/ 	%td
		/ 		Subscription to foobar
		/ 	%td
		/ 		$29.00
		%tr.info
			%td
				%strong Subtotal
			%td
				%strong #{@charge.amount}
		%tr
			%td
				#{current_shop.name} #{@discount}
			%td
				= @discount_amount
		%tr.info
			%td
				%strong Total
			%td
				%strong #{@total}
	%tfoot
		%tr
			%td( colspan='2' )
				.text-center
					= "**** **** **** #{@charge.card_last4}"

.blank-space


.row-fluid
	.span6
		%p
			%strong Questions?
		%p
			Contact OPTYN.COM at
			%a( href='mailto:alen@optyn.com') alen@optyn.com

	.span6
		%p
			%strong OPTYN.COM
		%p
			222 W Merchandise Mart Plaza 
			%br
			Chicago IL 60654
			%br
			%a( href='www.optyn.com' target='blank') www.optyn.com

.blank-space
