.row-fluid
	.span6
		%h5 OPTYN.COM
		www.optyn.com
	.span6.text-right
		= @invoice.created_at.strftime("%B %d,%Y")

.blank-space

%table.table.op-invoice
	%tbody
		%tr
			%td
				Description
			%td
				- if @invoice.description and !@invoice.description.blank?
					= @invoice.description
				- else
					= "---"
		%tr
			%td
				-if @plan.nil?
					After prorating
				-else
					Subscription to 
					= number_to_currency(@amount) 
					pm
			%td
				= number_to_currency(@amount)
		/ %tr
		/ 	%td
		/ 		Subscription to foobar
		/ 	%td
		/ 		$29.00
		%tr.info
			%td
				%strong Subtotal
			%td
				%strong #{number_to_currency(@subtotal)}
		%tr
			%td
				-if @invoice.present?
					- if @invoice[:stripe_coupon_percent_off].present?
						#{@invoice[:stripe_coupon_token]} (#{@invoice[:stripe_coupon_percent_off]}% off)
					-elsif  @invoice[:stripe_coupon_amount_off].present?
						#{@invoice[:stripe_coupon_token]} ($ #{number_to_currency(@invoice[:stripe_coupon_amount_off])} off)
					-else 
						Discount

			%td
				= number_to_currency(@discount_amount)
		%tr.info
			%td
				%strong Total
			%td
				%strong #{number_to_currency(@total)}
	%tfoot
		%tr
			%td( colspan='2' )
				.text-center
					= "**** **** **** #{@card_last4}"

.blank-space


.row-fluid
	.span6
		%p
			%strong Questions?
		%p
			Contact OPTYN.COM at
			%a( href='mailto:alen@optyn.com') alen@optyn.com

	.span6
		%p
			%strong OPTYN.COM
		%p
			600 W Chicago Ave, Suite 775 
			%br
			Chicago IL 60654
			%br
			%a( href='www.optyn.com' target='blank') www.optyn.com

.blank-space
