= display_title "OPTYN.COM"
= banner("Pricing")
= Time.now.strftime("%B %d,%Y")

Subscription to 
= @plan.amount 
pm
Subtotal 
Total




.span3
	%p
		OPTYN.COM
		222 W Merchandise Mart Plaza 
		Chicago IL 60654
		www.optyn.com

.span3
	%p
		Questions?
	%br
		Contact OPTYN.COM at
	%br
		alen@optyn.com


	= link_to "", "View in Your Browser"