= display_title "OPTYN.COM"
= banner("Pricing")
= render partial: 'merchants/merchant_managers/tabs'

.pad3pc
  = render partial: 'merchants/subscriptions/core_invoice'

  / = link_to "View in Your Browser", "http://optyn.com/merchants/invoice/"
  %br
  = link_to  "List Invoices", "/merchants/upgrade" , :class => "btn btn-min btn-primary"
