= display_title "OPTYN.COM"
= banner("Pricing")
= render partial: 'merchants/merchant_managers/tabs'
= render partial: 'merchatns/subscriptions/invoice'

	= link_to "View in Your Browser", "http://optyn.com/merchants/invoice/" 
	= link_to  "List Invoice", "/merchants/upgrade"