= display_title "OPTYN.COM"
= banner("Pricing")
= render partial: 'merchants/merchant_managers/tabs'

= Time.now.strftime("%B %d,%Y")

.span3
	%p
		Subscription to 
		= @plan.amount 
		pm
	%p
		Subtotal 
.span3
	Total




.span3
	%p
		OPTYN.COM
		222 W Merchandise Mart Plaza 
		Chicago IL 60654
		www.optyn.com

.span3
	%p
		Questions?
	%br
		Contact OPTYN.COM at
	%br
		alen@optyn.com


	= link_to "http://optyn.com/merchants/invoice/", "View in Your Browser"