= display_title "Upgrade your Account"
= banner("Pricing")

= render partial: 'merchants/merchant_managers/tabs'

.row-fluid.text-center
  .well.span3
    %h5 You Current Plan:
    %p
      = "#{@current_plan.min} " " - "
      = " #{@current_plan.max}" " Customers"
    %p
      = link_to "view plans","/pricing"

  .well.span3
    %h5 Last Payment:
    - if !@stripe_last_payment.nil?
      = number_to_currency(@stripe_last_payment.amount_in_dollars)
      = "on" 
      = Time.at(@stripe_last_payment.created).strftime("%B %d, %Y")
    - else
      = "No payment has been made yet."

  .well.span3
    %h5 Upcoming Payment:
    %p
      - if @current_plan != Plan.starter
        = "#{number_to_currency(current_shop.upcoming_payment_amount_in_dollars)} on  #{@stripe_upcoming_payment}"
      - else
        = "Starter plan"
    %p
      (pricing tier may change)
  .well.span3
    %h5 Credit Card on File:
    %p 
      ending in 
      - if !@card_last4.nil?
        #{@card_last4}
      -else
        \-
    %a.btn{ 'href' => '#get-payment-info', 'role' => 'button', 'data-toggle' => 'modal' } Update Card

.blank-space

/ .row-fluid.payment-errors.text-error
/   - if @subscription.errors.any? || @subscription.stripe_error
/     =@subscription.stripe_error
/     %ul
/       - @subscription.errors.full_messages.each do |error|
/         %li
/           = error
/   .blank-space

.row-fluid
  .span12
    %h2 Your Payment History
    - if ! @list_charges.nil? and ! @list_charges.empty?
      %table.table.table-striped.table-hover
        %thead
          %tr
            %td Date
            %td Amount
            %td Plan
            %td View Invoice 
            %td Print Invoice
        %tbody 
          - @list_charges.each do |charge|
            %tr
              %td 
                = Time.at(charge.created).strftime("%B %d, %Y")
              %td #{number_to_currency(charge.amount_in_dollars)}
              - plan = get_plan_from_charge(charge)
              %td
                -if !plan.nil? 
                  #{plan.min} - #{plan.max} Customers
                -else
                  Pro-rated
              %td 
                .btn
                  -# "/merchants/invoice/?id=#{charge.id}
                  = link_to "View", merchants_subsciption_invoice_path(id: charge.id) 
              %td 
                .btn
                  -#"/merchants/invoice/print/?id=#{charge.id}"
                  = link_to "Print", merchants_invoice_print_path(id: charge.id)
    - else
      No payment has been made yet.



= form_for @subscription, :url => merchants_subscribe_path ,:html=>{:id =>"stripe-form"} do |f|
  .modal.hide.fade#get-payment-info
    .modal-header
      %h4.pull-left Enter Your Payment Information
      %a.close.pull-right{ 'href' => '#', 'data-dismiss' => 'modal', 'data-target' => '#get-payment-info' } X
      .clearfix
    .modal-body
      .row-fluid.payment-errors.text-error
        - if @subscription.errors.any? || @subscription.stripe_error
          =@subscription.stripe_error
          %ul
            - @subscription.errors.full_messages.each do |error|
              %li
                = error
      .blank-space
      .form.row-fluid

        = f.hidden_field :plan_id, :value => @current_plan.id
        = f.hidden_field :email, :value => current_merchants_manager.email
        = f.hidden_field :shop_id, :value => current_merchants_manager.shop.id

        = hidden_field_tag :stripe_plan_id,nil, :value => @current_plan.plan_id

        .blank-space

        .row-fluid
          = text_field_tag :credit_card, nil,:placeholder => "16 digit Credit card number",:autocomplete=>"off",:class=>'credit-number pull-left span8', 'data-toggle' => 'tooltip', title: 'Your 16 digit Credit Card number'

          = text_field_tag :cvv,nil, :placeholder => "CVV",:class=>'credit-security span4', 'data-toggle' => 'tooltip', title: 'CVV'

        .blank-space

        .row-fluid
          = select_month(Date.today, {},{:class => "card-expiry-month pull-left selectbox span12", 'data-toggle' => 'tooltip', title: 'Card expiry month'})

        .blank-space

        .row-fluid
          = select_year(Date.today,{:start_year => Date.today.year },{:class => "card-expiry-year pull-left selectbox span12", 'data-toggle' => 'tooltip', title: 'Card expiry year'})

      %div{:style => "text-align: center; margin-top: 25px;"}
        %p
          All payments are processed securely.
    .modal-footer
      = f.submit "Pay", :class => "btn btn-success pay-button"

:javascript
  $( document ).ready( equalizeDivHeights( '.well.span3' ));
