= banner("#{current_shop.name} Locations")

= render partial: 'merchants/merchant_managers/tabs'

#merchants.pad3pc
  %div
    %a.btn.btn-primary{:href => new_merchants_location_path}
      %i.icon-white.icon-map-marker
      Add New Location
  %br
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Street Address 1
        %th Street Address 2
        %th City
        %th State
        %th Zip
        %th Manage
    %tbody
    - unless @locations.blank?
      - @locations.each_with_index do |location, index|
        %tr
          %td
            = index + 1
          %td
            = location.street_address1
          %td
            = location.street_address2
          %td
            = location.city
          %td
            = location.state_name
          %td
            = location.zip
          %td
            .btn-group
              = link_to raw("<i class='icon-edit'></i>"),
                edit_merchants_location_path(location), class: 'btn btn-primary',
                'data-toggle' => 'tooltip', title: 'Edit this location'
              = link_to raw("<i class='icon-trash'></i>"),
                merchants_location_path(location), class: 'btn btn-danger',
                :confirm => 'Are you sure you want delete this location?', :method => :delete,
                'data-toggle' => 'tooltip', title: 'Delete this location'
    - else
      %tr
        %td{colspan: 7}
          No locations added so far
