#box_sign
  .container
    %h2 Your Locations
    .span3.box_wrapper
      %ul.nav.nav-list
        %li.nav-header Your Menu
        %li.active
          = link_to "Edit personal information", edit_merchants_manager_registration_path if merchants_manager_signed_in?
        %li
          = link_to "Edit billing information", edit_billing_info_path if is_shop_local?(current_merchants_manager.shop)
        %li
          = link_to "Add location", new_merchants_location_path if is_shop_local?(current_merchants_manager.shop)
        %li
          = link_to "Add Manager", merchants_add_manager_path if merchants_manager_signed_in?
        %li
          = link_to "Your Locations", merchants_locations_path if is_shop_local?(current_merchants_manager.shop)
        %li
          = link_to "Your Shop", edit_merchants_shop_path(current_merchants_manager.shop)
        %li
          = link_to "Your API Button", edit_merchants_app_path if is_shop_local?(current_merchants_manager.shop)
    .span8.box_wrapper
      %div
        %a.btn{:href => new_merchants_location_path}
          %i.icon-white.icon-heart
          Add New Location
      %table.table
        %tr 
          %th #
          %th Street Address 1
          %th Street Address 2
          %th City
          %th State
          %th Manage

        - @locations.each_with_index do |location,index|
          %tr
            %td
              = index + 1
            %td
              = location.street_address1
            %td
              = location.street_address2
            %td
              = location.city
            %td
              = location.state_name
            %td
              = link_to "Edit", edit_merchants_location_path(location)    
              = "|"
              = link_to "Remove", merchants_location_path(location), :confirm => 'Are you sure?', :method => :delete

