- unless @message.send_only_content?
  !!!
  %html
    %head
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}/
      %title Announcement
      :css
        body { -ms-text-size-adjust: none !important; } /* For Windows Phone. */
        center.center { width: 100%; }
        a { border: 0; }
        a img { border: 0; }
        @media only screen and (max-width : 600px) {
          table[class="oeparent"] img { max-width: 260px !important; }
          table[class="oeparent"] .w600 { width: 280px !important; }
          table[class="oeparent"] .w580 { width: 260px !important; }
        }

    %body{:style => "padding:0;margin:0;"}

      %table{:style => "width:100%;", :cellspacing => "0", :cellpadding => "0",
        :class => "oeparent"}
        %tr
          %td{:style => "width:100%;padding:20px;background:#eee;font-family: Helvetica,'Segoe UI',Roboto,Ubuntu,Verdana,sans-serif;text-align:center;", :align => "center"}
            %center.center
              %table{:style => "background-color: white;width: 600px;text-align:left;",
                :class => "w600", :width => "600", :cellspacing => "0", :cellpadding => "0"}
                %tr
                  %td{:style => "bgcolor:#FFF;width:600px;word-break:break-word;word-wrap:break-word;",
                    :width => "600", :class => "w600", :colspan => "3"}
                    = render partial: "shared/#{message_partner_name(@shop)}/mailers/banner"

                %tr
                  %td{ :height => "10", :colspan => "3", :width => "600", :class => "w600" }

                %tr
                  %td{ :width => "10", :class => "w10" }
                  %td{:style => "bgcolor:#FFFFFF;width:580px;word-break:break-word;word-wrap:break-word;",
                    :width => "580", :class => "w580" }
                    

                    %p.core-content
                      - @target_blank = true
                      - @email_survey = true
                      = render partial: "shared/#{message_partner_name(@shop)}/messages/#{message_rendering_partial(@message)}", locals: {preview: false}

                      = render partial: "shared/#{message_partner_name(@shop)}/messages/bottom_image_and_button" 
                  %td{ :width => "10", :class => "w10" }

                %tr
                  %td{ :height => "10", :colspan => "3", :width => "600", :class => "w600" }

                %tr
                  %td{ :width => "10" }
                  %td{:style => "bgcolor:#EEEEEE;width:600px;word-break:break-word;word-wrap:break-word;",
                    :width => "580", :class => "w580" }
                    = render partial: "shared/#{message_partner_name(@shop)}/mailers/footer"
                  %td{ :width => "10" }

            = image_tag "#{SiteConfig.email_app_base_url}#{SiteConfig.simple_delivery.open_path}/#{@receiver.encode64_uuid}?tracker=#{@receiver.uuid}", :style => "width: 1px; height: 1px;", :width => "1", :height => "1", :alt => ""
- else
  = message_content(@message, @receiver)