%fieldset
  = hidden_field_tag :message_type, @message_type
  = hidden_field_tag :choice, @message.queued? ? 'launch' : 'save_draft'

  = render partial: "merchants/messages/template_fields/#{@message_type}", locals: {f: f, label_text: 'Announcement Name'}

  = "Make this message public"
  = f.check_box :make_public 