= form_for @message, as: :message, url: update_header_merchants_message_path(@message.uuid), method: :put, html: {id: "message_header_settings_form"} do |f|

  - starting_color = @message.header_background_color_css_val
  - color_hex = @message.header_background_color_hex
  = f.fields_for :message_visual_properties, @message.header_background_property do |builder|
    = builder.hidden_field :message_visual_section_id, value: MessageVisualSection.header_id
    = builder.hidden_field :property_key, value: "header_background"
    = builder.hidden_field :property_value, value: starting_color, class: "message-visual-property-value"

    .span6
      .control-group
        #header_background.input-append.color{"data-color" => color_hex, "data-color-format" => "hex"}
          .btn-group
            %a.dropdown-toggle{"data-toggle" => "dropdown"}
              = text_field_tag :header_background_color, color_hex
              %span.add-on
                %i{:style => "background-color: #{color_hex};"}
    .span6
      .control-group{:style => "padding-top:28px;"}
        .controls
          %label.checkbox
            = builder.check_box(:make_default)
            Make it my default Header color.
    .span6
      .control-group{:style => "padding-top:20px;"}
        .actions
          = submit_tag "Apply", class: 'btn pull-right'
