%table.table.table-striped.table-hover.message-list
  %thead
    %tr
      %th= check_box_tag :select, '', false, class: 'select-all'
      %th Campaign Name
      %th Name
      %th= timestamp_header
      %th Report

  %tbody
    - unless @messages.blank?
      - @messages.each do |message|
        %tr
          %td
            = check_box_tag :uuid, message.uuid, false, class: 'real'
          %td.show-link
            = message_type_title(message)
          %td.show-link
            = message.name
          %td.show-link
            = formatted_message_form_datetime(message, timestamp_attr)
          %td.show-link-address.display-none
            = edit_merchants_message_path(message.uuid)
          %td
            - if message.sent?
              %a{href: "#", class: "report_connection_link"} report
              = hidden_field_tag "report_path_#{message.id}", report_merchants_message_path(message.id)
              / %a{:href => "#reportDialog_#{message.uuid}", "data-toggle" => "modal", "id" => "#{message.uuid}", "class" => "open-reports"} report
              / = render :partial => "report", :locals => {:message => message, :timestamp_attr => timestamp_attr}
            -else
              NA
            
    - else
      %tr
        %td{colspan: '5'}
          .text-center No messages
%div{:id => "reportDialog", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  Please wait.....