%table.table.table-striped.table-hover.message-list
  %thead
    %tr
      %th= check_box_tag :select, '', false, class: 'select-all'
      %th Campaign Name
      %th Name
      %th= timestamp_header
      %th Reports

  %tbody
    - unless @messages.blank?
      - @messages.each do |message|
        %tr
          %td
            = check_box_tag :uuid, message.uuid, false, class: 'real'
          %td.show-link
            = message_type_title(message)
          %td.show-link
            = message.name
          %td.show-link
            = formatted_message_form_datetime(message, timestamp_attr)
          %td.show-link-address.display-none
            - if message.instance_of?(TemplateMessage)
              - if message.state == "queued" and (message.send_on > 1.hour.since)
                = template_merchants_message_path(message.uuid)
              - else
                = show_template_merchants_message_path(message.uuid)
            - else
              = edit_merchants_message_path(message.uuid)

          %td
            - if message.sent?
              %a{:href => "#report_dialog", "data-toggle" => "modal", "data-id" => "#{message.uuid}", "class" => "open-reports", 'data-location' => report_merchants_message_path(message.uuid)} report

              - content = (render :partial => "report", :locals => {:message => message, :timestamp_attr => timestamp_attr})
              %span{'data-content' => content.html_safe, class: 'report-content', style: 'height:0px; width: 0px', id: "report_#{message.uuid}"}

              - content = render :partial => "click_report", :locals => {:message => message}
              %span{'data-content' => content.html_safe, class: 'link-report-content', style: 'height:0px; width: 0px', id: "click_report_#{message.uuid}"}

            -else
              NA
                        
    - else
      %tr
        %td{colspan: '5'}
          .text-center No messages

#report_dialog{:class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "Report", :'aria-hidden' => "true"}
  .modal-body
    %strong
      Please wait...


