%div.tab-pane.active#message_menu{:style => "padding-top: 20px;"}
  %ul.nav.nav-tabs{}
    %li{class: message_menu_highlight_class(["types", "new", "create", "edit", "update", "preview"], "Compose", "active")}
      = messages_menu_links(current_manager, types_merchants_messages_path, "Compose", "", false, ["types", "new", "create", "edit", "update", "preview"])

    %li{class: message_menu_highlight_class(["queued"], "Queued", "active")}
      = messages_menu_links(current_manager, queued_merchants_messages_path, "Queued", @queued_count, false, ["queued"])

    %li{class: message_menu_highlight_class(["sent"], "Sent", "active")}
      = messages_menu_links(current_manager, sent_merchants_messages_path, "Sent", @sent_count, false, ["sent"])

    %li{class: message_menu_highlight_class(["drafts"], "Drafts", "active")}
      = messages_menu_links(current_manager, drafts_merchants_messages_path, "Drafts", @drafts_count, false, ["drafts"])

    %li{class: message_menu_highlight_class(["trash"], "Trash", "active")}
      = messages_menu_links(current_manager, trash_merchants_messages_path, "Trash", @trash_count, false, ["trash"])