#preview-meta-data-view.preview-menu
  / .preview-header
  /   Campaign Message Details

  .preview-item
    .preview-text.row-fluid
      %strong.span3 Recipients:
      .span9
        - unless @message.is_child?
          = message_receiver_labels(@message.label_names)
          == (#{@message.connections_count} total)
        - else
          Customers who complete the survey.
  .preview-item
    .preview-text.row-fluid
      %strong.span3 Campaign Subject:
      .span9
        =@message.subject
  .preview-item
    .preview-text.row-fluid
      %strong.span3 To be sent on:
      .span9
        - unless @message.is_child?
          = message_send_on_date(@message)
        - else
          Message will be sent automatically when the user completes the survey.

  .text-right
    = link_to raw( "<i class='icon-pencil icon-white'></i> Make Changes" ), '#message_meta_modal', class: "btn btn-primary", role: "button", 'data-toggle' => "modal"

#message_meta_modal.modal.hide.fade{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
  = render partial: "merchants/messages/meta_form", locals: {message: @message}
