#preview-meta-data-view.preview-menu
  .well
    %h4 Setup Campaign
    = render :partial => "merchants/messages/template_fields/show_message"
    .text-right
      = link_to raw( "<i class='icon-pencil icon-white'></i> Change Metadata" ), '#message_meta_modal', class: "btn btn-primary", role: "button", 'data-toggle' => "modal"

  - if @message.editable_state?
    .btn-group
      %a.btn.btn-primary{ href: "#{copy_merchants_message_path(@message.uuid)}" }
        %i.icon-copy
        Copy Campaign
      %a.btn.btn-primary{ id: 'self_email', href: "#{email_self_merchants_message_path(@message.uuid)}" }
        %i.icon-envelope-alt
        Send Me a Test Email
  .blank-space
  %a.btn.btn-success.btn-block.btn-large{ href: "#{launch_merchants_message_path(:id => @message.uuid, :choice => 'launch')}" }
    Publish Campaign

#message_meta_modal.modal.hide.fade{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
  = render partial: "merchants/messages/meta_form", locals: {message: @message}