.modal-header
  %button{:type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}X
  %h3 
    /= 'Message stats'
    Campaign Stats for
    %strong
      = message.name
.modal-body
  .pull-right.text-success
    Sent on
    %strong
      = formatted_message_form_datetime(message, timestamp_attr)
  .clearfix

  .blank-space

  .row-fluid.stats
    .span3.box
      .info
        Email Sent to:
      .count
        = message.intended_recipients
    .span3.box
      .info
        Email Received by:
      .count
        = message.actual_recipients
    .span3.box
      .info
        Email Opened By:
      .count
        = message.opens_count
    .span3.box
      .info
        Unsubscribes:
      .count
        = message.opt_outs
  .clearfix

  .blank-space

  .row-fluid.stats
    .span3.box.link-click-report-link{'data-id' => message.uuid, 'data-location' => click_report_merchants_message_path(message.uuid)}
      .info
        Clicks:
      .count
        = message.link_click_count
      %span.inline-help
        Click Me!  

    = hidden_field_tag "social_site_report_path_#{message.uuid}", social_report_merchants_message_path(message.uuid)
    .social-site-report{:id => "social_site_report_#{message.uuid}"}
    - if (message.type == "CouponMessage" and message.message_users)
      - relevant, non_relevant = get_offer_relevance_stat(message)
      .span3.box
        .info
          Offer relevance - Yes:
        .count
          = "#{relevant}"
      .span3.box
        .info
          Offer relevance - No:
        .count
          = "#{non_relevant}"


