.modal-header
  %button{:type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}X
  %h3 
    /= 'Message stats'
    Campaign Stats for
    %strong
      = message.name
.modal-body
  .pull-right.text-success
    Sent on
    %strong
      = formatted_message_form_datetime(message, timestamp_attr)
  .clearfix

  .blank-space

  .row-fluid.stats
    .span3.box
      .info
        Email Sent to:
      .count
        = message.intended_recipients
    .span3.box
      .info
        Email Received by:
      .count
        = message.actual_recipients
    .span3.box
      .info
        Email Opened By:
      .count
        = message.opens_count
    .span3.box
      .info
        Unsubscribes:
      .count
        = message.opt_outs
  .clearfix

  .blank-space

  .row-fluid.stats
    - if fb_body and fb_body.first and fb_body.first.include?('share_count')
      .span3.box
        .info
          Facebook shares:
        .count
          = fb_body.first["share_count"]
    - if ((twitter_body) and (twitter_body["count"]))
      .span3.box
        .info
          Tweets:
        .count
          = twitter_body["count"]

  .blank-space
