%div{:id => "reportDialog_#{message.uuid}", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  .modal-header
    %button{:type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}X
    %h3 
      = 'Message stats'
  .modal-body
    .span6
      %ul
        %li
          Email Sent to:
          = message.intended_recipients
        %li
          Email Received by:
          = message.actual_recipients  
        %li
          Email Opened By:
          = message.opens_count
        %li
          Unsubscribes:
          = message.opt_outs