#template_sidebar.tab-pane
  %strong
    = template_id.underscore.humanize 
  .control-group
    = label_tag "background_color", "Background Color", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          = text_field_tag "properties[#{template_id}][css][background-color]", '', class: 'input-medium'
          %span.add-on
            %i{:style => "background-color: ''"}

  .control-group
    = label_tag "title_color", "Title Color:", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          = text_field_tag "properties[#{template_id}][headline][css][color]", "", class: 'template-color-field input-medium'
          %span.add-on
            %i{:style => "background-color: ''"}

  .control-group
    = label_tag "link_color", "Link Color:", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          = text_field_tag "properties[#{template_id}][link][css][color]", "", class: 'template-color-field input-medium'
          %span.add-on
            %i{:style => "background-color: ''"}

  .control-group
    = label_tag "button_color", "Button Text Color:", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          = text_field_tag "properties[#{template_id}][button][css][color]", "", class: 'template-color-field input-medium'
          %span.add-on
            %i{:style => "background-color: ''"}
            
  .control-group
    = label_tag "button_background_color", "Button Background Color:", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          = text_field_tag "properties[#{template_id}][button][css][background-color]", "", class: 'template-color-field input-medium'
          %span.add-on
            %i{:style => "background-color: ''"}                        

  .control-group
    = label_tag "paragraph_color", "Paragraph Color:", class: 'control-label'
    .controls
      %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
        %a.dropdown-toggle{"data-toggle" => "dropdown"}
          = text_field_tag "properties[#{template_id}][paragraph][css][color]", "", class: 'template-color-field input-medium'
          %span.add-on
            %i{:style => "background-color: ''"}

