- if @templates.blank?
  .span6.offset3.add-first-tmpl
    #headline
      %h2 Add your first template
      .clearfix

    #tagline
      %p Use our template builder to create your first email template.
      %p If you already have a template designed, simply email it to us. We will upload it for you.

    .text-center
      = link_to "Get started", system_layouts_merchants_message_path(@message.uuid), class: 'btn btn-large btn-success btn-block', id: 'system_template_chooser_link'

- else
  %h2
    == Your #{"Template".pluralize(@templates.size)}
  .clearfix

  .template_chooser
    - @templates.each do |template|
      .span3
        %a{href: assign_template_merchants_message_path(@message.uuid), class: "template_type", 'data-template-id' => template.uuid}
          %h6
            = template.name

          - if template.thumbnail.present?
            /= image_tag("#{template.thumbnail}")
            .tmpl-bg{style: "background-image:url(#{template.thumbnail});"}
          - else
            #template_image_preview_block
              Generating Preview...

        %button.btn.btn-small.pull-right.delete-btn.template-delete-btn{'data-delete-template-path' => destroy_template_merchants_message_path(template.uuid), 'data-template-name' => template.name}
          %i.icon-trash

  .loading{style: 'display: none;'}
    %strong
      Please Wait...

  .clearfix
  .blank-space

  .text-center
    = link_to "Open template builder", system_layouts_merchants_message_path(@message.uuid), class: 'btn btn-large btn-success', id: 'system_template_chooser_link'

    OR

    %a.btn.btn-success.btn-large{"data-toggle" => "modal", href: "#template_upload_modal", role: "button"} Upload your own template?


= render partial: 'merchants/messages/template_upload_modal'
