- if @templates.blank?
  #headline
    %h2 Welcome to Optyn's templating. We are working on adding more features. But we would like to get you started. Please pick of the options below.

  .blank-space

  .text-center
    %p
      = link_to "I would like to upload a template and use it", "/merchants/messages/#{@message.id}/custom_template", class: 'btn btn-large btn-primary'

    %h3 OR

    %p
      = link_to "I don't care. I want to pick an available layout", "javascript:void(0)", class: 'btn btn-large btn-success', id: 'system_template_chooser_link'

- else
  %h2
    == Your #{"Template".pluralize(@templates.size)}
  .clearfix

  .template_chooser
    - @templates.each do |template|
      = link_to(template.name, assign_template_merchants_message_path(@message.uuid), 'data-template-id' => template.id, class: "span4 type template_type")

  .loading{style: 'display: none;'}
    %strong
      Please Wait...

  .clearfix
  .blank-space

  .text-center
    = link_to "Upload Template", "/merchants/messages/#{@message.id}/custom_template", class: 'btn btn-large btn-primary'
    OR
    = link_to "System Layout", "javascript:void(0)", class: 'btn btn-large btn-success', id: 'system_template_chooser_link'


#system_templates_modal.modal.hide.fade{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
  = render partial: "merchants/messages/system_layouts"
