= banner("Campaign Center")

= render partial: "merchants/messages/message_menu"

#messages_collection_container.pad3pc
  %h2 Drafts

  = render partial: "shared/messages/collection_form"

  .actions{:style => "float: right; padding-bottom: 8px;"}
    = submit_tag "Move to Trash", name: 'move_to_trash', class: 'collection-action btn btn-danger'
    = hidden_field_tag 'move_to_trash_link', move_to_trash_merchants_messages_path

  = render partial: 'shared/messages/pager', locals: {collection: @messages}

  = render partial: 'merchants/messages/list'

  = render partial: 'shared/messages/pager', locals: {collection: @messages}
