%h1.dark-heading
  %a.goto-msg-center{ href: root_path }
    %i.icon-home
  = message_form_title(@message_type)

#merchants
  /= render partial: "merchants/messages/message_menu"

  #message_fields_wrapper.pad3pc

    /= render :partial => 'progress_bar'

    = form_for :message, url: merchants_message_path(@message.uuid), method: :put, :html => {class: 'flat form-horizontal', id: 'message_form'} do |f|
      %fieldset
        = render partial: "merchants/messages/template_fields/#{@message_type}", locals: {f: f, label_text: 'Announcement Name'}
        = hidden_field_tag :change_details, true

      - if @message.editable_state?
        = submit_tag "Update Content", name: 'preview', class: "btn btn-info"

      = submit_tag("Launch", name: "launch", class: 'btn btn-success') unless current_shop.disabled? || @message.queued?  


        