/= banner( message_form_title(@message_type) )
%h1
  .pull-left
    %a#change-campn-det.btn.btn-success{ href: "#{edit_metadata_merchants_message_path(@message.uuid)}" }
      %i.icon-arrow-left
      Change Details
    %a.btn.btn-info.show-edit-form{ href: '#' }
      %i.icon-arrow-left
      Change Content
  = message_form_title(@message_type)
  .pull-right
    %a#prev-campn.btn.btn-primary{ href: "#{preview_merchants_message_path(@message.uuid)}" }
      Email Preview
      %i.icon-arrow-right


/= render partial: "merchants/messages/message_menu"

#merchants.row-fluid.tear-page
  .edit-camp-cont.span6
    .pos-rel
      .pad2pc
        = render partial: "merchants/messages/edit_fields_wrapper"

  #preview.span6
    = render partial: "preview_wrapper"
