= content_for :banner do
  = message_form_title(@message_type)

= content_for :actions_left do
  .pull-left
    %a.btn.btn-success{ href: "#{edit_metadata_merchants_message_path(@message.uuid)}" }
      %i.icon-arrow-left
      Change Details

= content_for :actions_right do
  .pull-right
    %a.btn.btn-primary{ href: "#{preview_merchants_message_path(@message.uuid)}" }
      Preview & Launch Campaign
      %i.icon-arrow-right


#merchants.row-fluid.tear-page
  .edit-camp-cont.span6
    #edit_message_cont.pad2pc
      = render partial: "merchants/messages/edit_fields_wrapper"

  #preview.span6
    = render partial: "preview_wrapper"
