.row
  %h1
    = message_form_title(@message_type)

  = render partial: "merchants/messages/message_menu"

  .span8#message_fields_wrapper
    = form_for :message, url: merchants_message_path(@message.uuid), method: :put, :html => {class: 'form-horizontal', id: 'message_form'} do |f|
      = render :partial => 'form', :locals => {f: f}

      .actions
        = submit_tag("Save as Draft", name: "save_draft", class: 'btn btn-info')
        = submit_tag("Save and Preview", name: "preview", class: 'btn btn-primary')
        = submit_tag("Launch", name: "launch", class: 'btn btn-success')