%h1.dark-heading
  %a.goto-msg-center{ href: root_path }
    %i.icon-home
  - if @message.editable_state?
    .pull-left
      = link_to raw("<i class='icon-edit'></i> Details") , edit_template_merchants_message_path(@message.uuid), class: 'btn'
      = link_to raw("<i class='icon-edit'></i> Content"), template_merchants_message_path(@message.uuid), class: 'btn btn-'
      %a.btn.btn-info.show-edit-form{ href: '#' }
        %i.icon-arrow-left
          Change Content
  Template Preview
/= render partial: "merchants/messages/message_menu"

#merchants.no-pad.row-fluid.tear-page
  /= render :partial => 'progress_bar'

  .span6#campaign-details-pane

    .btn-group
      - if @message.editable_state?
        = link_to raw( "<i class='icon-copy icon-white'></i> Copy Campaign" ), copy_merchants_message_path(@message.uuid), class: 'btn btn-info'
      = link_to raw( "<i class='icon-envelope icon-white'></i> Send Me a Test Email" ), email_self_merchants_message_path(@message.uuid), class: "btn btn-info", id: "self_email"
      - if !@message.queued? && !current_shop.disabled?   
        = link_to "Launch", launch_merchants_message_path(@message.uuid), class: 'btn btn-success'        

    .blank-space

    = render partial: "merchants/messages/preview_meta"

  .span6#preview-pane
    - if params[:action] == 'preview_template'
      = render partial: "responsive_previews"
    #template_wrapper.row-fluid.no-pad
      #template_pane
        %iframe#customHtmlTemplate{:src => preview_template_content_merchants_message_path(@message.uuid), :frameborder => 0, :scrolling => "auto", style: "width: 100%; minheight:97vw;"}
          %html
