= content_for :actions_left do
  .pull-left
    %a#change-campn-det.btn.btn-primary{ href: "#{edit_merchants_message_path(@message.uuid)}" }
      %i.icon-arrow-left
      Change Content
= content_for :banner do      
  Email Preview

= content_for :actions_right do  
  .pull-right
    %a#prev-campn.btn.btn-success{ href: "#{launch_merchants_message_path(:id => @message.uuid, :choice => 'launch')}" }
      Launch Campaign
      %i.icon-arrow-right


#merchants.row-fluid.tear-page
  .span6
    = render :partial => "merchants/messages/preview_meta"

    .pad2pc
      .well
        %h4 Design Details
        = render :partial => "merchants/messages/template_fields/design_details"

      / %a.btn.btn-primary{ href: "#{edit_merchants_message_path(@message.uuid)}" }
      /   Make Changes

      = render :partial => "merchants/messages/preview_meta_actions"
        
  .span6#preview
    = render :partial => 'preview_wrapper'