#title_header
  %h3
    Message Center - Queued messages
/Flash Notice
= display_flash_message
/Main Body
#merchants
  .container
    = render partial: "merchants/shared/menu"

    .span8#message_fields_wrapper
      = render partial: "merchants/messages/message_menu"

      #messages_collection_container.row.text-center
        = render partial: "shared/messages/collection_form"

        .actions
          = submit_tag "Move to Draft", name: 'move_to_draft', class: 'collection-action btn btn-primary'
          = hidden_field_tag 'move_to_draft_link', move_to_draft_merchants_messages_path
          = submit_tag "Move to Trash", name: 'move_to_trash', class: 'collection-action btn btn-danger'
          = hidden_field_tag 'move_to_trash_link', move_to_trash_merchants_messages_path

      = render partial: 'shared/messages/pager', locals: {collection: @messages}

      = render partial: 'merchants/messages/list'

      = render partial: 'shared/messages/pager', locals: {collection: @messages}