.row
  %h2 Messagecenter

  #messages_collection_container.row.text-center
    = render partial: "merchants/messages/collection_form"

    .actions
      = submit_tag "Move to Draft", name: 'move_to_draft', class: 'collection-action btn btn-primary'
      = hidden_field_tag 'move_to_draft_link', move_to_draft_merchants_messages_path
      = submit_tag "Move to Trash", name: 'move_to_trash', class: 'collection-action btn btn-danger'
      = hidden_field_tag 'move_to_trash_link', move_to_trash_merchants_messages_path

  = render partial: "merchants/messages/message_menu"

  .span9

    = render partial: 'merchants/messages/pager'

    %table.table.table-striped.table-condensed.message-list
      %thead
        %tr
          %th= check_box_tag :select, '', false, class: 'select-all'
          %th Campaign Name
          %th Name
          %th= second_name_label_text(nil)
          %th Last Updated

      %tbody
        - unless @messages.blank?
          - @messages.each do |message|
            %tr
              %td
                = message_type_title(message)
              %td
                = check_box_tag :uuid, message.uuid, false, class: 'real'
              %td
                = message.name
              %td
                = message.second_name
              %td
                = formatted_message_form_datetime(message, 'updated_at')
        - else
          %tr
            %td{colspan: '4'}
              .text-center No Queued messages right now

    = render partial: 'merchants/messages/pager'