= banner("Sent")

= render partial: "merchants/messages/message_menu"

#message_fields_wrapper.pad3pc

  = render partial: 'shared/messages/pager', locals: {collection: @messages}

  = render partial: 'merchants/messages/list'

  = render partial: 'shared/messages/pager', locals: {collection: @messages}
