#messages_collection_container.row.text-center
  = render partial: "shared/messages/collection_form"

.display-none
  .message-list
    = check_box_tag(:message_id, @message.uuid, true, class: 'real')

.row
  %h2 &nbsp;
  = render partial: "merchants/messages/message_menu"

  .span7
    = render partial: 'shared/messages/show_actions'

    %h4
      = @message.subject
    %hr/

    .row
      .span4
        .span1
          = shop.logo_img.url rescue nil
        .span3
          ==  to: #{message_receiver_labels(@message.label_names)}
          == (#{@message.connections_count} total)

      .span3
        .span2.text-right
          = message_detail_date(@message)

        /reply all

    = render partial: "shared/messages/core_content", locals: {preview: false, customer_name: nil}

