= banner( 'Campaign Center' )

= render partial: "merchants/messages/message_menu"

/Main Body
#merchants.pad3pc
  %h2
    = @message.name
  #message_fields_wrapper.clearfix
    #messages_collection_container.row.text-center
      = render partial: "shared/messages/collection_form"

    .display-none
      .message-list
        = check_box_tag(:message_id, @message.uuid, true, class: 'real')

    .actions
      = render partial: 'shared/messages/show_actions'

      %h4
        = @message.subject

      .blank-space

      .row-fluid#c-sent-criteria
        .span6
          .span3
            - if @shop.logo_img.url.present?
              = @shop.logo_img.url rescue nil
            - else
              = image_tag 'no_shop_logo.gif', alt: 'Shop logo not provided.'
          .span9.c-s-criterion
            %h5
              To:
              %strong
                == #{message_receiver_labels(@message.label_names)}
              == (#{@message.connections_count} total)

        .span6.c-s-criterion
          %h5
            Sent on:
            %strong
              = message_detail_date(@message)

          /reply all


      .blank-space

      = render partial: "shared/messages/core_content", locals: {preview: false, customer_name: nil}


:javascript
  $( document ).ready( equalizeDivHeights( '#c-sent-criteria .well' ));
