= banner("Layouts for your brand new Template")

= render partial: "merchants/messages/message_menu"

#merchants.container-fluid.pad3pc
  #choose_message
    = render :partial => 'progress_bar'

  .template_chooser.row-fluid
    - @system_layouts.each do |system_template|
      %a{href: merchants_system_layout_properties_path(@message.uuid, system_template.uuid), class: "offset1 span5", 'data-template-id' => system_template.id}
        - if system_template.thumbnail.present?
          - img_url = 'st-th-' + system_template.name + '.png'
          = image_tag(img_url, class: 'img-polaroid')
        = system_templates_link_caption(system_template)