= banner("Template Properties")

= render partial: "merchants/messages/message_menu"

#merchants.container-fluid.pad3pc
  = render :partial => 'progress_bar'

  %ul.template-property-menu
    %li
      #template_properties_container.row-fluid.no-pad
        = form_tag assign_template_merchants_message_path(@message.uuid), method: :put, class: '', id: 'template_properties_form' do
          .modal.hide.fade#template_name
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
              %h3 Set Template Name
            .modal-body
              .control-group
                = label_tag(:name, "Template Name", class: 'control-label')
                .controls
                  = text_field_tag :name, nil, id: 'template_name_field', class: 'span12'
                  %small Required field.
            .modal-footer
              %a#assign_template_name.btn.btn-success{href: "javascript:void(0)"} Save Changes
              %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel

          .tab-content-pane
            = hidden_field_tag :merchants_selectable_properties_preview_path, merchants_selectable_properties_preview_path(@message.uuid, @template.uuid)
            = hidden_field_tag :template_id, @template.uuid

            %span{:'data-selectable-properties' => @properties.to_json, style: "width:0px;height:0px;", class: 'template-selectable-properties'}

            %ul#template_properties_tab.nav.nav-tabs
              %li
                %a{href: "#template_content", class: 'template-property-tab'} Content
              %li
                %a{href: "#template_header", class: 'template-property-tab'} Header
              %li
                %a{href: "#template_layout", class: 'template-property-tab'} Layout

            .tab-content.pad3pc
              #template_content.tab-pane
                .control-group
                  = label_tag "background_color", "Background Color", class: 'control-label'
                  .controls
                    %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
                      .btn-group
                        %a.dropdown-toggle{"data-toggle" => "dropdown"}
                          = text_field_tag "properties[content][css][background-color]", '', class: 'input-medium'
                          %span.add-on
                            %i{:style => "background-color: ''"}

                .control-group
                  = label_tag "title_color", "Title Color:", class: 'control-label'
                  .controls
                    %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
                      .btn-group
                        %a.dropdown-toggle{"data-toggle" => "dropdown"}
                          = text_field_tag "properties[content][headline][css][color]", "", class: 'template-color-field input-medium'
                          %span.add-on
                            %i{:style => "background-color: ''"}

                .control-group
                  = label_tag "link_color", "Link Color:", class: 'control-label'
                  .controls
                    %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
                      .btn-group
                        %a.dropdown-toggle{"data-toggle" => "dropdown"}
                          = text_field_tag "properties[content][link][css][color]", "", class: 'template-color-field input-medium'
                          %span.add-on
                            %i{:style => "background-color: ''"}

                .control-group
                  = label_tag "paragraph_color", "Paragraph Color:", class: 'control-label'
                  .controls
                    %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
                      .btn-group
                        %a.dropdown-toggle{"data-toggle" => "dropdown"}
                          = text_field_tag "properties[content][paragraph][css][color]", "", class: 'template-color-field input-medium'
                          %span.add-on
                            %i{:style => "background-color: ''"}

                .actions
                  .pull-left
                    %a{href: "javascript:void(0)", class: "btn btn-info template-property-action", 'data-tab' => 'template_header'}
                      %i{class: "icon-arrow-left"}

                  .pull-right
                    %a{href: "javascript:void(0)", class: "btn btn-success template-property-submit"}
                      Go
                      %i{class: "icon-thumbs-up"}

              #template_header.tab-pane
                .control-group
                  = label_tag "background_color", "Background Color", class: 'control-label'
                  .controls
                    %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
                      .btn-group
                        %a.dropdown-toggle{"data-toggle" => "dropdown"}
                          = text_field_tag "properties[header][css][background-color]", "", class: 'template-color-field input-medium'
                          %span.add-on
                            %i{:style => "background-color: ''"}

                .control-group
                  = label_tag "font_family", "Font Family", class: 'control-label'
                  .controls
                  = select_tag "properties[header][headline][css][font-family]", options_for_select(@header_font_families), class: 'input-medium'

                /Header Logo or Header Name
                .actions
                  .pull-left
                    %a{href: "javascript:void(0)", class: "btn btn-info template-property-action", 'data-tab' => 'template_layout'}
                      %i{class: "icon-arrow-left"}

                  .pull-right
                    %a{href: "javascript:void(0)", class: "btn btn-success template-property-action", 'data-tab' => 'template_content'}
                      %i{class: "icon-arrow-right"}

              #template_layout.tab-pane
                .control-group
                  = label_tag "background_color", "Background Color", class: 'control-label'
                  .controls
                    %span.template-color-field.input-append.color{"data-color" => '', "data-color-format" => "hex"}
                      .btn-group
                        %a.dropdown-toggle{"data-toggle" => "dropdown"}
                          = text_field_tag "properties[layout][css][background-color]", "", class: 'template-color-field input-medium'
                          %span.add-on
                            %i{:style => "background-color: ''"}
                .actions
                  .pull-right
                    %a{href: "javascript:void(0)", class: "btn btn-success template-property-action", 'data-tab' => 'template_header'}
                      %i{class: "icon-arrow-right"}

  #template_pane
    %iframe#customHtmlTemplate{:src => merchants_default_settable_properties_preview_path(@message.uuid, @template.uuid), :frameborder => 0, :scrolling => "auto", style: "width: 100%; height:100%; min-height: 600px;"}
      %html
        %body
          %strong
            Loading...
