%h1.dark-heading
  - display_val = @message.template_id.present? ? 'block' : 'none'
  .pull-left{style: "display: #{display_val};"}
    %a.btn.btn-primary{ href: edit_template_merchants_message_path( @message.uuid )}
      %i.icon-arrow-left
      Change details
  Select your Template
  .pull-right{style: "display: #{display_val};"}
    %a.btn.btn-success{ href: preview_template_merchants_message_path( @message.uuid )}
      Preview
      %i.icon-arrow-right

/= render partial: "merchants/messages/message_menu"

#merchants.row-fluid.no-pad
  #campn-editor.span6.template-editor-container
    .template-editor-section
      %p Click on edit button to start adding content to the email.
  #choose_message.span6
    /= render :partial => 'progress_bar'

    #template_wrapper
      - if @message.template_id.present?
        = render partial: "editor_wrapper"
      - else
        = render partial: "template_chooser"


    #loading( style='display: none;' )
      = image_tag 'ajax-loader.gif', alt: 'Page is loading ...'

= hidden_field_tag "template_editable_content"      
