%h1.dark-heading
  .pull-left
    %a.btn.btn-primary{ href: edit_template_merchants_message_path( @message.uuid )}
      %i.icon-arrow-left
      Change details
  Select your Template
  .pull-right
    %a.btn.btn-success{ href: preview_template_merchants_message_path( @message.uuid )}
      Preview
      %i.icon-arrow-right

/= render partial: "merchants/messages/message_menu"

#merchants.container-fluid.pad3pc

  #choose_message
    /= render :partial => 'progress_bar'

    - display_val = @message.template_id.present? ? 'block' : 'none'
    .row-fluid.template-edit-actions{style: "display: #{display_val};"}
      .pull-left
        = link_to "Change Details", edit_template_merchants_message_path(@message.uuid), class: 'btn btn-primary'

      .pull-right
        = link_to "Preview", preview_template_merchants_message_path(@message.uuid), class: 'btn btn-success'

    .blank-space

    #template_wrapper
      - if @message.template_id.present?
        = render partial: "editor_wrapper"
      - else
        = render partial: "template_chooser"


    #loading( style='display: none;' )
      = image_tag 'ajax-loader.gif', alt: 'Page is loading ...'

= hidden_field_tag "template_editable_content"      
