#title_header
  %h3
    Message Center
/Flash Notice
= display_flash_message
/Main Body
#merchants
  .container
    = render partial: "merchants/shared/menu"

    .span8#message_fields_wrapper
      = render partial: "merchants/messages/message_menu"
      .headertext
        %h3
          Create a New Campaign
        %h5
          Let's create a new Campaign for your homies. They'll get excited to hear from you.
        %h6
          What kind of e-mail do you want to create?
      #choose_message
        .row
          %a{:href => merchants_new_campaign_path(message_type: 'coupon_message')}
            .span2.type
              = image_tag "/assets/mc_coupon_icon.png", :alt => ''
              %h3 Let's Create a Coupon
          %a{:href => merchants_new_campaign_path(message_type: 'special_message')}
            .span2.type
              = image_tag "/assets/mc_special_icon.png", :alt => ''
              %h3 Let's Announce a Special
          %a{:href => merchants_new_campaign_path(message_type: 'sale_message')}
            .span2.type
              = image_tag "/assets/mc_sale_icon.png", :alt => ''
              %h3 Let's Announce a Sale
        .row
          %a{:href => merchants_new_campaign_path(message_type: 'general_message')}
            .span2.type
              = image_tag "/assets/mc_general_icon.png", :alt => ''
              %h3 General Announcement
          %a{:href => merchants_new_campaign_path(message_type: 'product_message')}
            .span2.type
              = image_tag "/assets/mc_product_icon.png", :alt => ''
              %h3 New Product Announcement
          %a{:href => merchants_new_campaign_path(message_type: 'event_message')}
            .span2.type
              = image_tag "/assets/mc_events_icon.png", :alt => ''
              %h3 New Event
        .row
          %a{:href => merchants_new_campaign_path(message_type: 'survey_message')}
            .span2.type
              = image_tag "/assets/mc_survey_icon.png", :alt => ''
              %h3 Let's send out a Survey
          %a{:href => "#"}
            .span2.type
              = image_tag "/assets/mc_survey_icon.png", :alt => ''
              %h3 Let's create a Custom E-mail
