= banner("Campaign Center")

= render partial: "merchants/messages/message_menu"
/ %ul.nav.nav-tabs
/   %li
/     %a{ :href => '#' }TRASH
/   %li
/     %a{ :href => '#' }DRAFTS
/   %li
/     %a{ :href => '#' }SENT
/   %li
/     %a{ :href => '#' }QUEUED
/   %li.active
/     %a{ :href => '#' }CREATE

#merchants.container-fluid.pad3pc
  %h3.pull-left.mr3pc
    Create a New Campaign
  %p Let's create a new Campaign for your customers. They'll get excited to hear from you.
  %p What kind of e-mail do you want to create?

  = render :partial => 'progress_bar'

  #choose_message
    .row-fluid
      %a.span4.type.coupon{:href => merchants_new_campaign_path(message_type: 'coupon_message')}
        = image_tag "mc_coupon_icon.png", :alt => ''
        %span Create a Coupon
      %a.span4.type{:href => merchants_new_campaign_path(message_type: 'special_message')}
        = image_tag "mc_special_icon.png", :alt => ''
        %span Announce a Special
      %a.span4.type{:href => merchants_new_campaign_path(message_type: 'sale_message')}
        = image_tag "mc_sale_icon.png", :alt => ''
        %span Announce a Sale
    .row-fluid
      %a.span4.type{:href => merchants_new_campaign_path(message_type: 'general_message')}
        = image_tag "mc_general_icon.png", :alt => ''
        %span General Announcement
      %a.span4.type{:href => merchants_new_campaign_path(message_type: 'product_message')}
        = image_tag "mc_product_icon.png", :alt => ''
        %span Product Announcement
      %a.span4.type{:href => merchants_new_campaign_path(message_type: 'event_message')}
        = image_tag "mc_events_icon.png", :alt => ''
        %span New Event
    .row-fluid
      %a.span4.type{:href => merchants_new_campaign_path(message_type: 'survey_message')}
        = image_tag "mc_survey_icon.png", :alt => ''
        %span Send a Survey
      %a.span4.type{:href => "#"}
        = image_tag "html_trigger.png", :alt => ''
        %span Custom HTML Campaign
        %aside coming soon
      %a.span4.type{:href => "#"}
        = image_tag "contest_trigger.png", :alt => ''
        %span Create a Contest
        %aside coming soon
