#box_sign
  .row
    %h1
      Create a new campaign

    %p
      Let's create a new campaign for your homies. They will get excited to hear from you.

    %p What kind of email do you want to create.

  .row
    #types
      .well
        .row
          .span4
            = link_to "Let's Create a coupon",  merchants_new_campaign_path(message_type: 'coupon_message'), {class: 'btn btn-large btn-block'}

          .span4
            = link_to "Let's Announce a special",  merchants_new_campaign_path(message_type: 'special_message'), {class: 'btn btn-large btn-block'}

          .span3
            = link_to "Let's Announce a sale",  merchants_new_campaign_path(message_type: 'sale_message'), {class: 'btn btn-large btn-block'}

      .well
        .row
          .span4
            = link_to "General Announcement",  merchants_new_campaign_path(message_type: 'general_message'), {class: 'btn btn-large btn-block'}

          .span4
            = link_to "Product Announcement",  merchants_new_campaign_path(message_type: 'product_message'), {class: 'btn btn-large btn-block'}

          .span3
            = link_to "New Event",  merchants_new_campaign_path(message_type: 'event_message'), {class: 'btn btn-large btn-block'}

      .well
        .row
          .span12
            = link_to "Survey",  merchants_new_campaign_path(message_type: 'survey_message'), {class: 'btn btn-large btn-block'}