/Main Body
#consumer_dashboard
  .row-fluid
    = render partial: "shared/menu"
    .span9.wid75pc
      %h1 Dashboard

      .pad3pc
        .header
          .text-warning
            Hi
            %strong
              = current_user.name
              !
          Here's what's going on today.
        .row-fluid.stats
          .span3.leading
            .count
              = @new_coupons_count
            .info
              /.text.sprite-img#md_new_connections0
              New Coupons
          .span3.box
            .count
              = @new_messages_count
            .info
              /.text.sprite-img#md_connections_week0
              New Messages
          .span3.box
            .count
              = @pending_survey_count
            .info
              /.text.sprite-img#md_connections_month0
              Active Surveys
          .span3.box
            .count
              = @new_specials_count
            .info
              /.text.sprite-img#md_active_connections0
              Available Specials
        %h2
          Your Latest Activity

        
        - if @feed.present?
          %table.table.table-striped#my_connections_table
            %thead
              %tr
                %th Connection
                %th Type
                %th More Info
            %tbody
            - @feed.each do |feed_element|
              %tr
                %td
                  / .headline
                  /   - if feed_element['image_url'].present?
                  /     = image_tag(feed_element['image_url'], alt: feed_element['shop_name'], class: 'profile_image')
                  /   - else
                  /     = image_tag('no_shop_logo.gif', alt: feed_element['shop_name'], class: 'profile_image')

                  = feed_element['shop_name']
                %td
                  = feed_element['title']
                %td      
                  .description
                    = feed_element['subject']
                  .actions
                    = link_to "Details", feed_element['action_url']
        - else
          No activities. Please start connecting with shops
          = link_to 'here', connections_path
