/Flash Notice
= display_flash_message
/Main Body
#consumer_dashboard
  .container
    = render partial: "shared/menu"
    .span8.rightContainer.clearfix
      .header
        .span3.maintitle
          %h3
            Hi
            = current_user.name
          / Here's what's going on today!
      .dashBox
        %h2
          New Coupons
        %div
          = @new_coupons_count
      .dashBox
        %h2
          New Messages
        %div
          = @new_messages_count
      .dashBox
        %h2
          Active Surveys
        %div
          = @pending_survey_count
      .dashBox
        %h2
          Available Specials
        %div
          = @new_specials_count
      .dashBox.wideDashBox
        %h2
          Your Latest Activity
        %div
          - if @feed.present?
            %table.table.table-striped#my_connections_table
              %thead
                %tr
                  %th Connection
                  %th Type
                  %th More Info
              %tbody
              - @feed.each do |feed_element|
                %tr
                  %td
                    / .headline
                    /   - if feed_element['image_url'].present?
                    /     = image_tag(feed_element['image_url'], alt: feed_element['shop_name'], class: 'profile_image')
                    /   - else
                    /     = image_tag('no_shop_logo.gif', alt: feed_element['shop_name'], class: 'profile_image')

                    = feed_element['shop_name']
                  %td
                    = feed_element['title']
                  %td      
                    .description
                      = feed_element['subject']
                    .actions
                      = link_to "Details", feed_element['action_url']
          - else
            No activities. Please start connecting with shops
            = link_to 'here', connections_path