<p>

Hello Gaurav and Alen,

A new plan has been created in stripe, and a corresponding plan has been created in optyn database using webhooks. Kindly go through the new plan and set the min and max counts for the same. Details of the plan are as follows:
</p>

<ul>
	<li>Plan id: <%=@plan.id%></li>
	<li>Plan name: <%=@plan.name%></li>
	<li>Plan amount: <%=@plan.amount%></li>
	<li>Plan currency: <%=@plan.currency%></li>
	<li>Plan interval: <%=@plan.interval%></li>
</ul>

