= banner("#{current_shop.name} Dashboard")

.pad3pc
  .header.row-fluid.no-pad
    %a.btn.btn-success{:href => merchants_messages_path, :title => "Campaign Center", :class => active_tab_class(['messages'])}
      Create New Campaign
    %a.btn.btn-info{:href => merchants_file_imports_path, :title => "Campaign Center", :class => active_tab_class(['messages'])}
      Import Subscribers
    .blank-space

  .row-fluid.no-pad
    .span12.new-conn
      %h2 New Subscribers

  .row-fluid.stats.no-pad
    .span3.leading
      .count
        = @day_count
      .info
        24 hours
    .span3.box
      .count
        = @week_count
      .info
        7 days
    .span3.box
      .count
        = @month_count
      .info
        30 days
    .span3.box
      .count
        = @total_count
      .info
        Total Active

  %h2 Your Latest Activity
    
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th When
        %th Subscriber
        %th Type
        %th More Info
    %tbody
      - @feed.each do |feed_element|
        %tr
          %td
            = time_ago_in_words(feed_element['time']) 
            ago
          %td
            = feed_element['user']
          %td
            = feed_element['type']
          %td
            - if feed_element['action_url'].present?
              %a{:href => feed_element['action_url']} Details
            - else
              = "--"
= render partial: "merchants/shared/affiliate_tracker_frame"              