/Main Body

= banner("#{current_shop.name} Dashboard")

.pad3pc
  .header.row-fluid
    .span12  
      %p
        Hi
        == #{current_manager.name}.
        !
        Here's what's going on.

  .row-fluid.stats
    .span3.leading
      .count
        = @day_count
      .info
        New Connections in last 24 hours
    .span3.box
      .count
        = @week_count
      .info
        New Connections last 7 days
    .span3.box
      .count
        = @month_count
      .info
        New Connections last 30 days
    .span3.box
      .count
        = @total_count
      .info
        Total Active New Connections
  %h2
    Your Latest Activity
    
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th When
        %th User
        %th Type
        %th More Info
    %tbody
    - @feed.each do |feed_element|
      %tr
        %td
          = time_ago_in_words(feed_element['time']) 
          ago
        %td
          = feed_element['user']
        %td
          = feed_element['type']
        %td
          - if feed_element['action_url'].present?
            %a{:href => feed_element['action_url'],:style => "color:#7D8B8F"} Details
          - else
            = "--"
