#connection_auth
  .container
    .popupHeader
      == You are one step away from becoming connected to #{@shop.name}. Choose the options below and you will receive emails from #{@shop.name} on your terms.
    .merchant_auth_profile
      .logo
        = shop_logo(@shop)
      %hr
      .shop_details
        .shop_name
          = @shop.name
        - if @shop.first_location.present?
          .shop_street_address
            = @shop.first_location_street_address
          .shop_address_details
            == #{@shop.first_location_city}, #{@shop.first_location_state_name} #{@shop.first_location_zip}

        = link_to "View Profile", "javscript:void(0)", onclick: "Coming Soon", class: 'shop_profile_button'

    .optyn_info
      .header
        How would you like to connect to #{@shop.name} and what information would you like to share?
      = form_for @current_user, as: :user, url: api_update_permissions_path, html: {method: :put, id: 'oauth_user_permissions'} do |f|
        = f.fields_for :permissions_users do |p|
          .control-group
            .controls
              %label.checkbox
                = p.check_box :action
                =  "Show #{p.object.permission.name.titleize}"
                = p.hidden_field :permission_id
        .p
          *If you don't share your e-mail, #{@shop.name} can still contact you. :)

        = image_submit_tag 'sm_optyn_logo_btn.png', class: 'optynbtn'
        .p
          You can always change these settings in your account with each connection!
        = hidden_field_tag :redirect_uri, params[:redirect_uri]
        = hidden_field_tag :access_token, params[:access_token]

:javascript
  $(document).ready(function(){
    $('#oauth_user_permissions').submit(function(e){
      e.preventDefault();
      var redirect_uri = $('#redirect_uri').val();
      var $form = $(this);
      $.ajax({
        type: 'POST',
        url: $form.prop('action'),
        data: $form.serialize(),
        success: function(data) {
          try{
            if(data.message.length){
              $('#box_login').html(data.message);
              setTimeout(function(){
                window.location = redirect_uri;
              }, 3000)
            }
          }catch(e){
            window.location = redirect_uri;
          }
        },
        error: function(){
          alert("Couldn't opt you in. Please close this window and try again.");
        }
      });
    })
  });