#login_auth
  .container
    .popupHeader
      == You are one step away from becoming connected to #{current_shop.name}. But first you have to login into your
      Optyn.com account or sign up for one. It's very quick, easy, and of course, always free.
    .formContainer.clearfix
      .quick_login
        %h3
          = image_tag "/assets/key-login.png", :alt => 'Key login'
          Quick Login
        = form_for @user_login, as: :user, url: user_session_path, :html => {method: :post, class: 'new_user', id: 'new_user'} do |f|
          = hidden_field_tag :cross_domain_login, value: "1"

          = f.email_field :email, placeholder: "Email", autofocus: true, size: 30
          %br
          = f.password_field :password, placeholder: "Password", size: 30
          .remember
            = f.check_box :remember_me, id: 'remember_me'
            = label_tag "remember_me"
          .social
            via social
            %a{:href => "/auth/facebook"}
              = image_tag "/assets/facebook.png", :alt => 'Facebook'
            %a{:href => "/auth/twitter"}
              = image_tag "/assets/twitter.png", :alt => 'Twitter'
            %a{:href => "/auth/google_oauth2"}
              = image_tag "/assets/google-plus.png", :alt => 'Google Plus'
          .p{:align => "center", :style => "padding-bottom: 10px; padding-top: 43px;"}
            = submit_tag "Login", name: 'login', class: 'loginbtn'
          .p{:align => "center"}
            = link_to "Forgot your password?", new_password_path(@user)
      .quick_signup
        %h3
          = image_tag "/assets/quick-login.png", :alt => 'Quick login'
          Quick Sign Up
        = form_for @user, as: :user, url: user_registration_path, :html => {method: :post, class: 'new_user', id: 'new_user'} do |f|

          = hidden_field_tag :cross_domain_login, value: "1"

          = f.text_field :name, placeholder: "Name", size: 30
          %br
          = f.email_field :email, placeholder: "Email", size: 30
          %br
          = f.password_field :password, placeholder: "Password", size: 30
          %br
          = f.password_field :password_confirmation, placeholder: "Confirm Password", size: 30

          .social
            via social
            %a{:href => "/auth/facebook"}
              = image_tag "/assets/facebook.png", :alt => 'Facebook'
            %a{:href => "/auth/twitter"}
              = image_tag "/assets/twitter.png", :alt => 'Twitter'
            %a{:href => "/auth/google_oauth2"}
              = image_tag "/assets/google-plus.png", :alt => 'Google Plus'

          .p{:align => "center", :style => "padding-bottom: 10px; padding-top: 10px;"}
            = submit_tag "Sign up", name: 'commit', class: 'signupbtn'
          .p{:align => "center"}
            I hereby agree to Optyn's
            %a{:href => "#"} Terms of Use