.menuleft
  %a.home-link{:href => root_path}
    = image_tag "logo-white.png", :alt => 'logo'
  .welcome-user.text-warning
    Hi
    %strong John Doe!
  %ul.merchant-menu
    %li
      %a{:href => merchants_root_path, :class => active_tab_class(['dashboards'])}
        = image_tag "menu_icon_dashboard.png", :alt => "Dashboard"
        Dashboard
    %li
      %a{:href => merchants_messages_path, :title => "Campaign Center", :class => active_tab_class(['messages'])}
        = image_tag "merchant_menu_campaigncenter_icon.png", :alt => "Campaign Center"
        Campaign Center
    %li
      %a{:href => merchants_connections_path, :class => active_tab_class(['connections', 'labels'])}
        = image_tag "menu_icon_connections.png", :alt => "Subscribers", :style => "padding-left: 5px;"
        Subscribers + Lists
    %li
      %a{:href => merchants_surveys_path, :class => active_tab_class(['surveys'])}
        = image_tag "menu_icon_campaigns.png", :alt => "Surveys"
        Create a Survey
    %li
      / FIXME
      / %a{:href =>  merchants_survey_survey_answers_path, :class => active_tab_class(['survey_answers'])}
      /   = image_tag "menu_icon_messages.png", :alt => "Segmentation"
      /   Survey Responses
      %a{:href =>  merchants_segments_select_survey_path, :class => active_tab_class(['survey_answers'])}
        = image_tag "menu_icon_messages.png", :alt => "Segmentation"
        Survey Responses
    %li
      %a{:href => merchants_app_path, :class => active_tab_class(['apps'])}
        = image_tag "merchant_menu_button_icon.png", :alt => "Opt-In Form"
        Opt-in Email Form
    %li
      %a{:href => merchants_file_imports_path, :class => active_tab_class(['file_imports'])}
        = image_tag "merchant_menu_import_icon.png", :alt => "Import Subscribers"
        Import Subscribers
    %li
      %a{:href => merchants_shop_path, :class => active_tab_class(['shops', 'subscriptions', 'registrations', 'merchant_managers', 'locations', 'social_profiles'])}
        = image_tag "merchant_menu_settings_icon.png", :alt => "Your Shop"
        Setup your Account

    %li.video-tutorials-link
      = link_to( raw( "<i class='icon-play-sign'></i> Video Tutorials" ), '/video-tutorials' )

    %li
      = link_to(raw( "#{image_tag "merchant_menu_logout_icon.png"} Logout" ),  destroy_merchants_manager_session_path, :method => :delete, :class => 'logout')


  %a.menu-toggle{ href: '#' }
    %i.icon-th-list
  %a.m-link-home{ href: '#' }
    %i.icon-home
  %a.m-link-videos{ href: '/video-tutorials' }
    %i.icon-play

  / - if @optyn_button_stats.present?
  /   = render partial: "merchants/apps/button_stats_report"
