!!!
%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{:height => "100%", :width => "100%", :bgcolor => "#EEEEEE", :style => "font-family: Helvetica;sans-serif; margin: 15px;"}
    = content_for :header do
      Import File Stats

    %table{ style: 'width: 100%; max-width: 800px; margin: auto; padding: 20px; background: #eee;' }
      %tr
        %td
          = render partial: "shared/system_emails/banner"

          %table{:width => "100%", :style => "background-color: white;", :align => "center"}
            %tr
              %td
              %td{:style => "bgcolor:#FFF;display:block!important; margin:0 auto; clear:both; padding: 20px;"}
                %div
                  %h3{:style => "margin-left: 0px; margin-right: 0px; margin-top:10px; margin-bottom:10px;"}
                    Hi #{@manager.name},
                  %p Your file import failed.
                  %p
                    It failed because of the following error:
                    = @error


                  %p
                    Cheers,
                    %br/
                    The Optyn Team
              %td

              = render partial: "shared/system_emails/footer"
