/Flash Notice
= display_flash_message
/Main Body
#dashboard
  .container
    = render partial: "merchants/shared/menu"
    .span8
      .header
        .span5.maintitle
          %h3
            = current_shop.name
            Dashboard
          Hi
          == #{current_manager.name}.
          Here's what's going on!

        .span3.new
          %a.btn.newcampaign{:href =>merchants_messages_path}
            %img{:src => "/assets/menu_icon_campaigns_white.png"}
            Create New Campaign
      .row.stats
        .span2.leading
          .count
            = @day_count
          .info
            .img
              %img{:src => "/assets/md_new_connections.png"}
            .text
              New Connections in last 24 hours
        .span2.box
          .count
            = @week_count
          .info
            .img
              %img{:src => "/assets/md_connections_week.png"}
            .text
              New Connections this week
        .span2.box
          .count
            = @month_count
          .info
            .img
              %img{:src => "/assets/md_connections_month.png"}
            .text
              New Connections this month
        .span2.box
          .count
            = @total_count
          .info
            .img
              %img{:src => "/assets/md_active_connections.png"}
            .text
              Total Active New Connections
      .row.stats
        .span2.leading
          .count
            2
          .info
            .img
              %img{:src => "/assets/md_active_campaigns.png"}
            .text
              Active
              %br
              Campaigns
        .span2.box
          .count
            23%
          .info
            .img
              %img{:src => "/assets/md_remonetization.png"}
            .text
              Remonetization
              %br
              Rate
        .span2.box
          .count
            17
          .info
            .img
              %img{:src => "/assets/md_engagement.png"}
            .text
              Engagements this month
        .span2.box
          .count
            350
          .info
            .img
              %img{:src => "/assets/md_segmentation.png"}
            .text
              Customer Segments via Surveys
      .latest
        .title
          Your Latest Activity
        .sortby
          Sort By
          \&nbsp;
          %select
            %option All Recent Activity
            %option New Sign Ups
            %option Revoked Permissions
            //%option E-Mail Replies
            //%option Coupon Redemptions
            %option Survey Actions
      %br

      %table.table.table-striped
        %thead
          %tr
            %th When
            %th User
            %th Type
            %th More Info
        %tbody
        - current_shop.users.each_with_index do |user, index|
          %tr
            %td
              = index + 1 
              minutes ago
            %td
              = user.name
            %td
              = user_permission(user)
            %td
              / - if user.permissions_users.present?
              /   %a{:href => "#infoDialog_#{user.id}","data-toggle"=>"modal", "id"=>"#{user.id}","class"=>"open-infoDialog"} More Info
              /   = render partial: 'more_info_prompt', locals:{:user=>user}
              / - else
              %a{:href => "#",:style => "color:#7D8B8F"} Details