!!!
%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{:height => "100%", :style => "width: 100%;background:#eee;font-family: Helvetica;sans-serif; margin: 15px;"}
    = content_for :header do
      Thank you for signing up!

    %table{:style => 'width:100%; max-width: 600px; min-height:40px;', :align => "center"}
      %tr
        %td{:style => 'background-color:' + Shop::DEFAULT_HEADER_BACKGROUND_COLOR}
          %div{:style => "margin:0 auto;display:block;"}
            /#20A8DD for background - try it #0C9FD8
            %table{:style => 'width:100%;background:' +  Shop::DEFAULT_HEADER_BACKGROUND_COLOR}
              %tr{:style => "width: 100%;"}
                %td{:style => "padding-left: 10px; max-height: 60px; padding-top: 5px;"}
                  %h3{:style => "margin:0px;padding: 0px;font-size: 26px;color: #ffffff;weight:900;"}
                    #{@shop.name}

                %td{:style => "padding:10px; text-align: right;"}
                  %h6{:style => "margin:0px;padding: 0px;font-size: 16px;color: #ffffff;weight:900;"}
                    = yield :header
      %tr
        %td{:style => "background:#FFF;display:block!important; max-width:600px; margin:0 auto; clear:both;"}
          %div
            %table{:style => "padding:10px; max-width:580px; margin:0 auto; display:block;"}
              %tr
                %td
                  %h3{:style => "margin-left: 0px; margin-right: 0px; margin-top:10px; margin-bottom:10px;"}
                    Welcome #{@resource.name || @resource.email}, and thank you for subscribing to #{@shop.name}.
                  %p
                    You have signed up to receive exclusive content and much more from #{@shop.name}. 
                  %p
                    Keep in mind that you'll always have the ability to opt-out once you start receiving our marketing promotions.
                  %p
                    Cheers,
                    %br/
                    #{@shop.name}

      %tr
        %td
          = render partial: "shared/system_emails/footer"
