!!!
%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{:height => "100%", :width => "100%", :bgcolor => "#EEEEEE", :style => "font-family: Helvetica, sans-serif; margin: 15px;"}
    = content_for :header do
      Welcome to Optyn

    %table{:style => "background-color: #eee; padding: 20px; width: 100%; max-width: 800px; margin: auto;"}
      %tr
        %td
          = render partial: "shared/system_emails/banner"

          %table{:width => "100%", :style => "background-color: white;max-width:600px;", :align => "center"}
            %tr
              %td{:style => "bgcolor:#FFF;display:block!important; margin:0 auto; clear:both; padding: 20px;"}
                %div
                  %h3{:style => "margin-left: 0px; margin-right: 0px; margin-top:10px; margin-bottom:10px;"}
                    Welcome to Optyn #{@resource.name}!
                  %p We are excited to have you and #{@resource.shop.name} on board. The good news is we are ready to get you going.
                  %h5 Here are some awesome things that Optyn can do for you:
                  %p
                    %ul
                      - if @resource.show_password.present?
                        %li You can login to your account using #{@resource.show_password} password.
                      %li 
                        Import your customers. 
                        = link_to "Click here.", "#{SiteConfig.app_base_url}#{merchants_file_imports_path}"
                      %li You can easily create marketing promos within 2 minutes or less. Go ahead and try it. Don't be shy.
                      %li It's important to stay active. We make it easy.
                      %li Reward your customers. Offer great marketing promos and your customers will become your advocates - word of mouth.
                      %li and much more
                  %p{:align => "center"}
                    %a{:href => "http://www.optyn.com", :style => "color: white;background: #64aaef;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;font: normal 16px/25px 'Open Sans', sans-serif;letter-spacing: 1px;border-bottom: solid 2px rgba(0, 0, 0, 0.2);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;border-top: 0;border-left: 0;border-right: 0;padding: 3px 10px;display: inline-block;margin-top: 10px;text-decoration: none;cursor:pointer;"} Learn More about Optyn
                  %p
                    Cheers,
                    %br/
                    The Optyn Team

          = render partial: "shared/system_emails/footer"
