#box_sign
  .container
    .span12.box_wrapper
      .span12.box
        %div  
          .head
            %h4 Create your account
            
          = render partial: "managers/shared/social_login_buttons"

          .form  
            = form_for(@shop, :as => 'shop_name', :url => merchants_manager_registration_path(resource)) do |f|
              .errors
                - if @shop.errors.any?
                  %ul
                  - @shop.errors.full_messages.each do |error|
                    %li
                      = error

              
              %br 

              %br
              %label.pull-left Enter Business Details :
              %br
               
              = f.text_field :name,:placeholder => "Business Name"

              %label.pull-left Business Type:
              = f.radio_button :stype,'online'
              = "Online"
              = f.radio_button :stype,'local',:checked=>true
              = "Local"

              %hr
              
              - if @shop.locations.any?
                = render partial: "location_form",:locals=>{:f=>f}
                
              = render partial: "personal_info_form",:locals=>{:f=>f}  
              
              %br  

              %div 
                %em ** All the fields above are required 
              
              = f.submit "Sign up", :class => "btn signup"
      %p{:class => "already"}
        = link_to "Sign in", new_session_path(resource_name)
        %strong OR
        = link_to "Forgot your password?", new_password_path(resource_name)