
= "Select Plan"

.payment-errors

=form_tag subscribe_path ,:id =>"stripe-form"
  = text_field_tag :credit_card, :placeholder => "16 digit Credit card number",:autocomplete=>"off",:class=>'credit-number',:size=>20
  = text_field_tag :cvc, :placeholder => "CVC",:class=>'credit-security',:size=>4
  = select_month(Date.today, :class => "card-expiry-month")
  = select_year(Date.today,:start_year => Date.today.year, :class => "card-expiry-year")

  = f.submit "Pay", :class => "btn"