= display_title "Register for Optyn"
= display_meta_description "Register for Optyn for Free and enjoy free email marketing software", "sign up, register, email marketing free account, free email marketing, registration, free regitration, quick signup"
#box_sign.row-fluid
  .span12.box_wrapper
    .box.span4.offset4
      .head
        %h4 Create your account

      = render partial: "merchants/managers/shared/social_login_buttons" if !@omniauth.present?

      .form.row-fluid
        = form_for(@shop, :as => 'shop_name', :url => merchants_manager_registration_path(@shop)) do |f|
          .errors
            - if @omniauth.present?
              = "You are just one step from creating your account, just provide following details"
          %br
          %label What type of Business is this?:
          %label.radio.inline
            = f.radio_button :stype,'online'
            Online
          %label.radio.inline
            = f.radio_button :stype,'local',:checked=>true
            Local
          %br
          %br
          %label.pull-left Please enter Business Details:
          %br

          = f.text_field :name,:autofocus => true,:placeholder => "Business Name", 'data-toggle' => 'tooltip', title: 'Business name', 'data-tooltip-pos' => 'right'

          = f.text_field :phone_number, :placeholder => "Phone Number", 'data-toggle' => 'tooltip', title: 'Please enter your phone number in this format: +1 (xxx) xxx-xxxx', 'data-tooltip-pos' => 'right', :type => 'tel', :maxlength => '20', :class => 'input-block-level'

          = render partial: "merchants/managers/registrations/personal_info_form",:locals=>{:f => f}  

          %br
          .text-center
            = f.submit "Sign up", :class => "btn btn-primary btn-large"
            %br
            %br
            %small ** All the fields above are required

    %p{:class => "already"}
      = link_to "Sign in", new_user_session_path()
      OR
      = link_to "Forgot your password?", new_user_password_path()

.blank-space
