#box_sign.container-fluid
  .row-fluid
    .span12.box_wrapper
      .box.span4.offset4
        %div
          .head
            %h4 Create your account

          = render partial: "merchants/managers/shared/social_login_buttons" if !@omniauth.present?

          .form.row-fluid
            = form_for(@shop, :as => 'shop_name', :url => merchants_manager_registration_path(@shop)) do |f|
              .errors
                - if @omniauth.present?
                  = "You are just one step from creating your account, just provide following details"

              %br
              %label.pull-left Enter Business Details:
              %br

              = f.text_field :name,:autofocus => true,:placeholder => "Business Name", 'data-toggle' => 'tooltip', title: 'Business name'

              %br
              = f.text_field :phone_number, :placeholder => "Phone Number", 'data-toggle' => 'tooltip', title: 'Phone number'
              %small.help-block
                example: +1 (xxx) xxx-xxxx    
              %br
              
              %label.pull-left.inline Business Type:
              %label.radio.inline
                = f.radio_button :stype,'online'
                Online
              %label.radio.inline
                = f.radio_button :stype,'local',:checked=>true
                Local

              = render partial: "merchants/managers/registrations/personal_info_form",:locals=>{:f => f}  
              
              %br  

              %div 
                %small ** All the fields above are required 
              
              = f.submit "Sign up", :class => "btn btn-primary btn-large"
      %p{:class => "already"}
        = link_to "Sign in", new_user_session_path()
        OR
        = link_to "Forgot your password?", new_user_password_path()
        %br