#box_sign
  .container
    %h2 Your Locations
    .span12.box_wrapper
      %div
        %a.btn{:href => new_location_path}
          %i.icon-white.icon-heart
          Add New Location
      %table.table
        %tr 
          %th #
          %th Street Address 1
          %th Street Address 2
          %th City
          %th State
          %th Manage

        - @locations.each_with_index do |location,index|
          %tr
            %td
              = index + 1
            %td
              = location.street_address1
            %td
              = location.street_address2
            %td
              = location.city
            %td
              = location.state
            %td
              = link_to "Edit",edit_location_path(location)    
              = "|"
              = link_to "Remove",location_path(location),:confirm => 'Are you sure?', :method => :delete

