%li
  %a.tour{:href => '#'}
    Take a tour
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = image_tag current_merchants_manager.image_url(session[:omniauth_manager_authentication_id]), :alt => "User Avatar", :class => "profile_image"
  %ul.dropdown-menu
    %li
      %a.active{:href => merchants_root_path}
        = image_tag "dropdown_dashicon.png", :float => "left"
        My Dashboard
    %li
      %a{:href => "connections"}
        = image_tag "dropdown_manager.png", :float => "left"
        My Campaigns
    %li
      %a{:href => "#"}
        = image_tag "dropdown_segments.png", :float => "left"
        My Messages
    %li
      %a{:href => "segments"}
        = image_tag "dropdown_surveys.png", :float => "left"
        My Surveys
    %li
      %a{:href => merchants_shop_path}
        = image_tag "dropdown_settings.png", :float => "left"
        Manage Shop
    %hr
    %li
      = link_to("Logout", destroy_merchants_manager_session_path, :method => :delete)
