!!!
%html
  %head
    = display_title unless @title_called
    =  yield :title
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/","application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    = display_meta_description unless @meta_description_called
    = yield :meta_description

    = analytics_init if Rails.env.production?


  - cssClasses = params[:action].gsub(/\//, '-') + ' ' + params[:controller].gsub(/\//, '-')
  - ( cssClasses += ' m-app' if params[:controller] != 'main' && params[:controller] != 'users/sessions' && ( params[:controller] != 'users/registrations' && params[:action] != 'new' ) && ( params[:controller] != 'shop' && params[:action] != 'show' ) && params[:controller] != 'merchants/managers/registrations')
  %body#flat{:class => cssClasses }
    - if params[:action] == 'index' && params[:controller] == 'main'
      %header.row-fluid
        .span5
          %h2 FOR BUSINESSES
        .span2
          %a.logo{ :href => root_path }
            = image_tag "logo.png", :alt => 'logo'
        .span5
          %a.btn.btn-primary.login.pull-right{ :href => new_user_session_path } Log in
          %h2 FOR ALL MANKIND
    - else
      %header.navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %button{ :type => 'button', :class => 'btn btn-navbar', "data-toggle" => 'collapse', "data-target" => '.nav-collapse' }
              %span{ :class => 'icon-bar' }
              %span{ :class => 'icon-bar' }
              %span{ :class => 'icon-bar' }
            %a.logo.pull-left{ :href => root_path }
              = image_tag "logo.png", :alt => 'logo'
            - if user_signed_in?
              .pull-right
                = render partial: "layouts/consumer_dropdown"
            - else
              .nav-collapse.collapse
                %ul.pull-right.nav.nav-pills
                  %li
                    %a{ :href => root_path } Home
                  %li
                    %a{ :href => merchant_features_path } Features
                  %li
                    %a{ :href => pricing_path } Pricing
                  %li
                    %a.btn.btn-warning{ :href => new_merchants_manager_registration_path } Sign up
                  %li
                    %a.btn.btn-primary{ :href => new_user_session_path } Log in

    = display_flash_message

    .container-fluid

      = yield

      %footer.row-fluid
        .span2
          %h4 Our Company
          %ul
            %li
              %a{ :href => about_path } About us
            %li
              %a{ :href => blog_path } Our blog
            %li
              %a{ :href => contact_path } Contact us
            %li
              %a{ :href => terms_path } Terms of use
            %li
              %a{ :href => privacy_path } Privacy policy
        .span2
          %h4 For Consumers
          %ul
            %li
              %a{ :href => consumer_features_path } Features
            %li
              %a{ :href => '#' } Why use optyn
            %li
              %a{ :href => faq_path } FAQs
            %li
              %a{ :href => support_path } Support
            %li
              %a{ :href => new_user_registration_path } Get started
        .span2
          %h4 For Merchants
          %ul
            %li
              %a{ :href => merchant_features_path } Features
            %li
              %a{ :href => '#' } Why use optyn
            %li
              %a{ :href => faq_path } FAQs
            %li
              %a{ :href => support_path } Support
            %li
              %a{ :href => new_merchants_manager_registration_path } Get started
        .span2
          %h4 For Publishers
          %ul
            %li
              %a{ :href => '#' } Features
            %li
              %a{ :href => '#' } Why use optyn
            %li
              %a{ :href => '#' } FAQs
            %li
              %a{ :href => '#' } Support
            %li
              %a{ :href => '#' } Get started
        .span4
          %a{ :href => "http://www.twitter.com/optyn", :target => "_blank", :class => 'pg-twitter' }Our Twitter page
          %a{ :href => "http://www.facebook.com/optyn", :target => "_blank", :class => 'pg-facebook' }Our Facebook page
          %p
            2013 &copy; Optyn, Inc.
            %br
            All rights reserved.
