!!!
%html
  %head
    %title Optyn
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    = stylesheet_link_tag   "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag "https://js.stripe.com/v1/","application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      = analytics_init if Rails.env.production?
  %body
    %a.scrolltop{:href => "#"}
    = render partial: "layouts/header"

    = display_flash_message

    #container.container
      = yield

    / starts footer
    #footer
      .container
        .row
          .span4
            %h3 Our Company
            %ul
              %li
                %a{:href => "about"} About Us
              %li
                %a{:href => "blog"} Our Blog
              %li
                %a{:href => "contact"} Contact Us
              %li
                %a{:href => "terms"} Terms of Use
              %li
                %a{:href => "privacy"} Privacy Policy
          .span4
            %h3 For Consumers
            %ul
              %li
                %a{:href => "consumerfeatures"} Features
              %li
                %a{:href => "why"} Why Use Optyn
              %li
                %a{:href => "faq"} FAQs
              %li
                %a{:href => "support"} Support
              %li
                %a{:href => "login"} Get Started
          .span4
            %h3 For Merchants
            %ul
              %li
                %a{:href => "merchantfeatures"} Features
              %li
                %a{:href => "pricing"} Pricing
              %li
                %a{:href => "faq"} FAQs
              %li
                %a{:href => "support"} Support
              %li
                %a{:href => "login"} Get Started
        %hr/
        .row.copyright
          .span4
            %h3 Follow Us
            %a.social.fb{:href => "http://www.facebook.com/optyn", :target => "_blank"}
              %i.i_facebook
            %a.social.tw{:href => "http://www.twitter.com/optyn", :target => "_blank"}
              %i.i_twitter
          .span4.offset4.copy
            %p 2013 &copy; optyn.com. All Rights Reserved.
    / ends footer