!!!
%html
  %head
    = display_title unless @title_called
    =  yield :title
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/","application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = render partial: 'layouts/meta_optynmail'

    = display_meta_description unless @meta_description_called
    = yield :meta_description

    = analytics_init if Rails.env.production?

    = render(partial: "layouts/pingdom_rum") if Rails.env.production?

  - cssClasses = params[:action].gsub(/\//, '-') + ' ' + params[:controller].gsub(/\//, '-')
  - ( cssClasses += ' m-app' if params[:controller] != 'main' && params[:controller] != 'users/sessions' && ( params[:controller] != 'users/registrations' && params[:action] != 'new' ) && ( params[:controller] != 'shop' && params[:action] != 'show' ) && params[:controller] != 'merchants/managers/registrations')
  %body#flat.a-layout{:class => cssClasses }
    #fb-root
      / FB SDK for Like button.
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=233903103356549";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    %header.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button{ :type => 'button', :class => 'btn btn-navbar', "data-toggle" => 'collapse', "data-target" => '.nav-collapse' }
            %span{ :class => 'icon-bar' }
            %span{ :class => 'icon-bar' }
            %span{ :class => 'icon-bar' }
          %a.logo.pull-left{ :href => root_path, :alt => 'Optyn Email Marketing', :title => 'Optyn Email Marketing' }
            = image_tag "logo.png", :alt => 'Optyn Email Marketing', title: 'Optyn Email Marketing'
          - if user_signed_in? || manager_signed_in?
            - if user_signed_in?
              %ul.nav.pull-right
                = render partial: "layouts/consumer_dropdown"
            - if manager_signed_in?
              %ul.nav.pull-right.logged-in
                = render partial: "layouts/merchant_dropdown"
          - else
            .nav-collapse.collapse
              %ul.pull-right.nav.nav-pills
                %li.hover-applied
                  %a{ :href => root_path, :title => "Optyn Email Marketing", :alt => "Optyn Email Marketing" } Home
                %li.hover-applied
                  %a{ :href => marketing_path, :title => "Marketing Software", :alt => "Marketing Software" }
                    Marketing Software
                %li.hover-applied
                  %a{ :href => email_marketing_path, :title => "E-mail Marketing", :alt => "E-Mail Marketing" } E-Mail Marketing
                %li.hover-applied
                  %a{ :href => resources_path, :title => "Marketing Resources", :alt => "Marketing Resources" } Resources
                %li.hover-applied
                  %a{ :href => pricing_path, :title => "Pricing", :alt => "Pricing" } Pricing
                %li.sign-up
                  %a.btn.btn-success{ :href => new_merchants_manager_registration_path } Sign up
                %li.log-in
                  %a.btn.btn-primary{ :href => new_user_session_path } Log in

    = display_flash_message

    %nav#header-static-features-dropdown.row-fluid
      .span2
        %h5 Our Company
        %ul
          %li
            %a( href = '#' ) foo
          %li
            %a( href = '#' ) foo
      .span2
        %h5 For Merchants
        %ul
          %li
            %a( href = '#' ) foo
          %li
            %a( href = '#' ) foo
      .span2
        %h5 For Partners
        %ul
          %li
            %a( href = '#' ) foo
          %li
            %a( href = '#' ) foo
      .span2
        %h5 For Publishers
        %ul
          %li
            %a( href = '#' ) foo
          %li
            %a( href = '#' ) foo
      .span4.text-center

    .dark-overlay

    .container-fluid.page-body

      .yield
        = breadcrumbs  :link_current =>  "True ", :separator =>  "", :semantic =>  "True"
        = yield

      = render partial: "layouts/footer"

    = render partial: "layouts/web_fonts"

    .modal.fade.sa-modal
      .modal-body
        = image_tag 'popup2.jpg', alt: ''
        %button.close( type="button" data-dismiss="modal" aria-hidden="true" )
          x
