<!DOCTYPE html>
<html>
<head>
	<title>Optyn</title>

	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<%#* Google Analytics %>
	<%= analytics_init if Rails.env.production? %>
</head>
<body>
	<a href="#" class="scrolltop">
		<span>up</span>
	</a>
	
	<%= render partial: "layouts/header" %>

	<div class="container" id="container">
		<%= yield %>
	</div>
</body>
</html>