!!!
%html
  %head
    = display_title unless @title_called
    =  yield :title
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    = stylesheet_link_tag   "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/","application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = render partial: 'layouts/meta_optynmail'

    = tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY

    = display_meta_description unless @meta_description_called
    = yield :meta_description
    = analytics_init if Rails.env.production?
    = render(partial: "layouts/mixpanel") if Rails.env.production? || Rails.env.staging?
    = render(partial: "layouts/uservoice") if Rails.env.production? || Rails.env.staging?
    = render(partial: "layouts/pingdom_rum") if Rails.env.production?

  %body{ :id => 'flat', :class => params[ :action ] + ' ' + params[ :controller ].parameterize + ' m-app b-layout' }
    %a.scrolltop{:href => "#"}
    /= render partial: "layouts/header"

    = display_flash_message

    #dashboard.container-fluid
      .row-fluid
        - unless @skip_menu
          - if manager_signed_in?
            = render partial: "merchants/shared/menu"
          / - if user_signed_in?
          /   = render partial: "shared/menu"
        .span12.yield

          = yield :banner


          = yield

    /= render partial: "layouts/footer_flat"
    = render partial: "layouts/web_fonts"
