!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width", name: "viewport"}/
    = render partial: 'layouts/meta_optynmail'
    = render partial: "layouts/ink" #stylesheets
    = stylesheet_link_tag "editor"
    = javascript_include_tag "editor"
  %body
    %table.body
      %tr
        %td.center{align: "center", valign: "top"}
          %center
            %table.container
              %tr
                %td
                  = yield  